<div class="border rounded-lg text-center">
  <div class="img-fluid rounded-lg p-1">
    <ion-img
      [alt]="file.file"
      style="aspect-ratio: 1/1; object-fit: cover"
      [src]="
        file.type.startsWith('image')
          ? file.downloadUrl
          : 'assets/no-preview.webp'
      "
    ></ion-img>
  </div>
  <div class="mb-2">
    <ion-button
      *ngIf="allowDelete"
      (click)="deleteFile()"
      color="danger"
      fill="outline"
      shape="round"
      size="small"
    >
      Delete
    </ion-button>
    <ion-button
      [href]="file.downloadUrl"
      target="_blank"
      fill="outline"
      shape="round"
      color="success"
      size="small"
    >
      Download
    </ion-button>
  </div>
</div>
<div class="text-center mt-2">
  <ion-label>{{ file.file | slice : 0 : 20 }}...</ion-label>
</div>
