<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" color="primary" mode="md">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? "Update Estimate" : "Create Estimate" }} </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      scrollable
      (ionChange)="segmentChanged($event)"
      selectOnFocus="true"
      [value]="active"
      mode="md"
    >
      <ion-segment-button value="overview">
        <ion-label>Overview</ion-label>
      </ion-segment-button>
      <ion-segment-button value="scaffolds">
        <ion-label>Scaffold</ion-label>
      </ion-segment-button>
      <ion-segment-button value="labour">
        <ion-label>Labor</ion-label>
      </ion-segment-button>
      <ion-segment-button value="additionals">
        <ion-label>Additionals</ion-label>
      </ion-segment-button>
      <ion-segment-button value="summary">
        <ion-label>Summary</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="container" *ngIf="company" [ngSwitch]="active">
    <form name="estimate" [formGroup]="form" *ngIf="!isLoading">
      <!-- OVERVIEW TAB -->
      <ion-grid *ngSwitchDefault>
        <ion-row class="card-outline mb-3">
          <ion-col size="12">
            <ion-text color="medium">
              <h4>Customer Information</h4>
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <app-input-reactive
              title="Site Name"
              controlName="siteName"
              [form]="form"
              placeholder="Enter Site Name"
            >
            </app-input-reactive>
          </ion-col>
        </ion-row>
        <ion-row class="card-outline mb-3">
          <ion-col size="12">
            <app-input-select-reactive
              (fieldChange)="changeCustomer($event)"
              title="Customer"
              placeholder="Select Customer"
              controlName="customer"
              [form]="form"
              [selectedText]="field('customer').value.name"
            >
              <ng-container *ngIf="customers$ | async as customers">
                <ion-select-option class="fw-bold" value="add">
                  Create new Customer
                </ion-select-option>
                <ion-select-option
                  [value]="customer"
                  *ngFor="let customer of customers"
                  >{{ customer.name }}
                </ion-select-option>
              </ng-container>
            </app-input-select-reactive>
          </ion-col>
          <ion-col size="12" *ngIf="show === 'editCustomer'">
            <app-customer
              [customer]="field('customer').value"
              [isUpdate]="estimate.status === 'pending'"
              [isCreate]="false"
              [companyId]="company.id"
            >
            </app-customer>
          </ion-col>
          <ion-col size="12" *ngIf="show === 'addCustomer'">
            <app-customer
              [companyId]="company.id"
              (newCustomer)="newCustomer($event)"
              [isCreate]="true"
            >
            </app-customer>
          </ion-col>
        </ion-row>
        <ion-row class="card-outline mb-3">
          <ion-col size="12">
            <ion-item
              fill="solid"
              lines="none"
              class="rounded-3 my-3"
              mode="md"
            >
              <ion-label position="stacked">Message</ion-label>
              <ion-textarea #message formControlName="message"></ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col sizeMd="4" size="12">
            <app-input-reactive
              title="Discount %"
              controlName="discountPercentage"
              [form]="form"
              placeholder="Enter a discount %"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col sizeMd="4" size="6">
            <app-input-date
              [form]="form"
              controlName="startDate"
              title="Start Date"
            ></app-input-date>
          </ion-col>
          <ion-col sizeMd="4" size="6" *ngIf="field('startDate').value">
            <app-input-date
              [form]="form"
              controlName="endDate"
              [min]="field('startDate').value"
              title="End Date"
            ></app-input-date>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="text-end">
            <ion-button shape="round" (click)="nextView('scaffolds')"
              >Next</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- SCAFFOLDS TAB -->

      <ion-grid *ngSwitchCase="'scaffolds'">
        <!-- SCAFFOLDS -->
        <ion-row class="card-outline mb-3">
          <ion-col size="12">
            <ion-text color="medium">
              <h4>{{ company.terminology.scaffold }} Details</h4>
            </ion-text>
          </ion-col>
          <ion-col size="12">
            <ion-row formGroupName="scaffold">
              <ion-col>
                <app-input-reactive
                  title="Length ({{ company.measurement.symbol }})"
                  type="number"
                  controlName="length"
                  [form]="field('scaffold')"
                  placeholder="L"
                  (fieldChange)="update('scaffold')"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Width ({{ company.measurement.symbol }})"
                  type="number"
                  controlName="width"
                  [form]="field('scaffold')"
                  placeholder="W"
                  (fieldChange)="update('scaffold')"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Height ({{ company.measurement.symbol }})"
                  type="number"
                  controlName="height"
                  [form]="field('scaffold')"
                  placeholder="H"
                  (fieldChange)="update('scaffold')"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Level"
                  type="number"
                  [readonly]="true"
                  controlName="level"
                  [form]="field('scaffold')"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-select-reactive
                  title="Rate Profile"
                  placeholder="Select Rate"
                  controlName="rate"
                  [form]="field('scaffold')"
                  [selectedText]="field('scaffold.rate').value.name"
                  (fieldChange)="update('scaffold')"
                >
                  <ng-container *ngIf="rates$ | async as rates">
                    <ion-select-option
                      [value]="rate"
                      *ngFor="let rate of rates.scaffoldRates"
                      >{{ rate.name }}
                    </ion-select-option>
                  </ng-container>
                </app-input-select-reactive>
              </ion-col>
              <ion-col *ngIf="field('scaffold.rate').value">
                <app-input-text
                  title="Rate override ({{
                    field('scaffold.rate').value.name.startsWith('%')
                      ? '%'
                      : company.currency.symbol
                  }})"
                  type="number"
                  [value]="field('scaffold.rate').value.rate"
                  placeholder="Enter rate"
                  (fieldChange)="updateRate('scaffold', $event)"
                >
                </app-input-text>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Total ({{ company.currency.symbol }})"
                  type="number"
                  controlName="total"
                  [form]="field('scaffold')"
                  [readonly]="true"
                  placeholder="Total"
                >
                </app-input-reactive>
              </ion-col>
            </ion-row>
            <ion-row
              formArrayName="attachments"
              class="mb-3"
              *ngFor="
                let attachment of attachmentsForms.controls;
                let i = index
              "
            >
              <ion-col size="12">
                <ion-note> Attachment {{ i + 1 }} </ion-note>
                <ion-chip
                  outline
                  color="danger"
                  class="ion-float-end"
                  (click)="deleteAttachment(i)"
                >
                  <ion-label>Delete</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Length ({{ company.measurement.symbol }})"
                  type="number"
                  controlName="length"
                  placeholder="L"
                  [form]="attachment"
                  (fieldChange)="update('attachments', i)"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Width ({{ company.measurement.symbol }})"
                  type="number"
                  controlName="width"
                  placeholder="W"
                  [form]="attachment"
                  (fieldChange)="update('attachments', i)"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Height ({{ company.measurement.symbol }})"
                  type="number"
                  controlName="height"
                  placeholder="H"
                  [form]="attachment"
                  (fieldChange)="update('attachments', i)"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Level"
                  [optional]="true"
                  type="number"
                  controlName="level"
                  placeholder="1"
                  [form]="attachment"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-select-reactive
                  title="Rate Profile"
                  placeholder="Select Rate"
                  controlName="rate"
                  [form]="attachment"
                  (fieldChange)="update('attachments', i)"
                  [selectedText]="arrField('attachments', i, 'rate').value.name"
                >
                  <ng-container *ngIf="rates$ | async as rates">
                    <ion-select-option
                      [value]="rate"
                      *ngFor="let rate of rates.scaffoldRates"
                      >{{ rate.name }}
                    </ion-select-option>
                  </ng-container>
                </app-input-select-reactive>
              </ion-col>
              <ion-col *ngIf="arrField('attachments', i, 'rate').value">
                <app-input-text
                  title="Rate override ({{
                    arrField('attachments', i, 'rate').value.name.startsWith(
                      '%'
                    )
                      ? '%'
                      : company.currency.symbol
                  }})"
                  type="number"
                  placeholder="Enter rate"
                  [value]="arrField('attachments', i, 'rate').value.rate"
                  (fieldChange)="updateRate('attachments', $event, i)"
                >
                </app-input-text>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Total ({{ company.currency.symbol }})"
                  type="number"
                  controlName="total"
                  [form]="attachment"
                  placeholder="Total"
                >
                </app-input-reactive>
              </ion-col>
            </ion-row>
            <ion-row class="mb-3">
              <ion-col>
                <ion-fab-button
                  size="small"
                  class="m-auto"
                  color="success"
                  (click)="addAttachment()"
                >
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- BOARDS -->
        <ion-row class="px-3">
          <ion-col size="12">
            <ion-text color="medium">
              <h4>{{ company.terminology.boards }} Details</h4>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row
          formArrayName="boards"
          class="card-outline mb-3"
          *ngFor="let board of boardForms.controls; let i = index"
        >
          <ion-col size="12">
            <ion-note> Item {{ i + 1 }} </ion-note>
            <ion-chip
              outline
              color="danger"
              class="ion-float-end"
              (click)="deleteBoard(i)"
            >
              <ion-label>Delete</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Length ({{ company.measurement.symbol }})"
              type="number"
              controlName="length"
              placeholder="L"
              [form]="board"
              (fieldChange)="update('boards', i)"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Width ({{ company.measurement.symbol }})"
              type="number"
              controlName="width"
              placeholder="W"
              [form]="board"
              (fieldChange)="update('boards', i)"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Height Off Ground ({{ company.measurement.symbol }})"
              type="number"
              controlName="height"
              placeholder="H"
              [form]="board"
              (fieldChange)="update('boards', i)"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Qty"
              type="number"
              controlName="qty"
              placeholder="Enter Qty"
              [form]="board"
              (fieldChange)="update('boards', i)"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-select-reactive
              title="Rate Profile"
              placeholder="Select Rate"
              controlName="rate"
              [form]="board"
              (fieldChange)="update('boards', i)"
              [selectedText]="arrField('boards', i, 'rate').value.name"
            >
              <ng-container *ngIf="rates$ | async as rates">
                <ion-select-option
                  [value]="rate"
                  *ngFor="let rate of rates.boardRates"
                  >{{ rate.name }}
                </ion-select-option>
              </ng-container>
            </app-input-select-reactive>
          </ion-col>
          <ion-col *ngIf="arrField('boards', i, 'rate').value">
            <app-input-text
              title="Rate override ({{
                arrField('boards', i, 'rate').value.name.startsWith('%')
                  ? '%'
                  : company.currency.symbol
              }})"
              type="number"
              placeholder="Enter rate"
              [value]="arrField('boards', i, 'rate').value.rate"
              (fieldChange)="updateRate('boards', $event, i)"
            >
            </app-input-text>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Total ({{ company.currency.symbol }})"
              type="number"
              controlName="total"
              [form]="board"
              placeholder="Total"
              [readonly]="true"
            >
            </app-input-reactive>
          </ion-col>
        </ion-row>
        <ion-row class="mb-3">
          <ion-col>
            <ion-fab-button
              size="small"
              class="m-auto"
              color="success"
              (click)="addBoard()"
            >
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
        <!-- HIRE -->
        <ion-row class="card-outline mb-3">
          <ion-col size="12">
            <ion-text color="medium">
              <h4>{{ company.terminology.hire }} Details</h4>
            </ion-text>
          </ion-col>
          <ion-col size="12">
            <ion-row formGroupName="hire">
              <ion-col>
                <app-input-reactive
                  title="Days Standing"
                  type="number"
                  controlName="daysStanding"
                  [form]="field('hire')"
                  placeholder="Enter days"
                  (fieldChange)="update('hire')"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-select-reactive
                  title="Rate Profile"
                  placeholder="Select Rate"
                  controlName="rate"
                  [form]="field('hire')"
                  [selectedText]="field('hire.rate').value.name"
                  (fieldChange)="update('hire')"
                >
                  <ng-container *ngIf="rates$ | async as rates">
                    <ion-select-option
                      [value]="rate"
                      *ngFor="let rate of rates.hireRates"
                      >{{ rate.name }}
                    </ion-select-option>
                  </ng-container>
                </app-input-select-reactive>
              </ion-col>
              <ion-col *ngIf="field('hire.rate').value">
                <app-input-text
                  title="Rate override ({{
                    field('hire.rate').value.name.startsWith('%')
                      ? '%'
                      : company.currency.symbol
                  }})"
                  type="number"
                  [value]="field('hire.rate').value.rate"
                  placeholder="Enter rate"
                  (fieldChange)="updateRate('hire', $event)"
                >
                </app-input-text>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Total ({{ company.currency.symbol }})"
                  type="number"
                  controlName="total"
                  [form]="field('hire')"
                  [readonly]="true"
                  placeholder="Total"
                >
                </app-input-reactive>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="text-end">
            <ion-button shape="round" (click)="nextView('labour')"
              >Next</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- LABOUR TAB -->

      <ion-grid *ngSwitchCase="'labour'">
        <ion-row class="mt-3" class="card-outline mb-3">
          <ion-col size="12">
            <ion-text color="medium">
              <h4>Labor Information</h4>
            </ion-text>
          </ion-col>
          <ion-col>
            <app-input-select-reactive
              title="Labor Profile"
              placeholder="Select Labor Profile"
              controlName="broker"
              [form]="form"
              [selectedText]="field('broker').value.name"
              (fieldChange)="changeBroker()"
            >
              <ng-container *ngIf="brokers$ | async as brokers">
                <ion-select-option
                  [value]="broker"
                  *ngFor="let broker of brokers"
                  >{{ broker.name }}
                </ion-select-option>
              </ng-container>
            </app-input-select-reactive>
          </ion-col>
        </ion-row>

        <ng-container *ngIf="field('broker').value">
          <ion-row
            formArrayName="labour"
            class="card-outline mb-3"
            *ngFor="let labour of labourForms.controls; let i = index"
          >
            <ion-col size="12">
              <ion-note> Item {{ i + 1 }} </ion-note>
              <ion-chip
                outline
                color="danger"
                class="ion-float-end"
                (click)="deleteLabour(i)"
              >
                <ion-label>Delete</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col>
              <app-input-select-reactive
                title="Type"
                placeholder="Select Labour Type"
                controlName="type"
                [form]="labour"
                [selectedText]="arrField('labour', i, 'type').value.name"
                (fieldChange)="update('labour', i)"
              >
                <ng-container>
                  <ion-select-option
                    [value]="broker"
                    *ngFor="let broker of field('broker').value.types"
                  >
                    {{ broker.name }}
                  </ion-select-option>
                </ng-container>
              </app-input-select-reactive>
            </ion-col>
            <ng-container *ngIf="arrField('labour', i, 'type').value">
              <ion-col>
                <app-input-reactive
                  title="Hours per day"
                  type="number"
                  controlName="hours"
                  [form]="labour"
                  placeholder="Enter hours"
                  (fieldChange)="update('labour', i)"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Days needed"
                  type="number"
                  controlName="days"
                  [form]="labour"
                  placeholder="Enter days"
                  (fieldChange)="update('labour', i)"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Qty"
                  type="number"
                  controlName="qty"
                  [form]="labour"
                  placeholder="Qty"
                  (fieldChange)="update('labour', i)"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-select-reactive
                  title="Rate Profile"
                  placeholder="Select Rate"
                  controlName="rate"
                  [form]="labour"
                  (fieldChange)="update('labour', i)"
                  [selectedText]="arrField('labour', i, 'rate').value.name"
                >
                  <ng-container>
                    <ion-select-option
                      [value]="{
                        name: 'NT',
                        rate: arrField('labour', i, 'type').value.nt
                      }"
                    >
                      Normal time
                    </ion-select-option>
                    <ion-select-option
                      [value]="{
                        name: 'OT1',
                        rate: arrField('labour', i, 'type').value.ot1
                      }"
                    >
                      Over time 1
                    </ion-select-option>
                    <ion-select-option
                      [value]="{
                        name: 'OT2',
                        rate: arrField('labour', i, 'type').value.ot2
                      }"
                    >
                      Over time 2
                    </ion-select-option>
                    <ion-select-option
                      [value]="{
                        name: 'PH',
                        rate: arrField('labour', i, 'type').value.ph
                      }"
                    >
                      Public holiday
                    </ion-select-option>
                  </ng-container>
                </app-input-select-reactive>
              </ion-col>
              <ion-col *ngIf="arrField('labour', i, 'rate').value">
                <app-input-text
                  title="Rate override ({{
                    arrField('labour', i, 'rate').value.name.startsWith('%')
                      ? '%'
                      : company.currency.symbol
                  }})"
                  type="number"
                  [value]="arrField('labour', i, 'rate').value.rate"
                  placeholder="Enter rate"
                  (fieldChange)="updateRate('labour', $event, i)"
                >
                </app-input-text>
              </ion-col>
              <ion-col>
                <app-input-reactive
                  title="Total ({{ company.currency.symbol }})"
                  type="number"
                  controlName="total"
                  [form]="labour"
                  placeholder="Total"
                  [readonly]="true"
                >
                </app-input-reactive>
              </ion-col>
            </ng-container>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-fab-button
                size="small"
                class="m-auto"
                color="success"
                (click)="addLabour()"
              >
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-col>
          </ion-row>
        </ng-container>
        <ion-row>
          <ion-col size="12" class="text-end">
            <ion-button shape="round" (click)="nextView('additionals')"
              >Next</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- ADDITIONALS TAB -->

      <ion-grid *ngSwitchCase="'additionals'">
        <ion-row class="mt-3">
          <ion-col size="12">
            <ion-text color="medium">
              <h4>Additionals Information</h4>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row
          formArrayName="additionals"
          class="card-outline mb-3"
          *ngFor="let additional of additionalForms.controls; let i = index"
        >
          <ion-col size="12">
            <ion-note> Item {{ i + 1 }} </ion-note>
            <ion-chip
              outline
              color="danger"
              class="ion-float-end"
              (click)="deleteAdditional(i)"
            >
              <ion-label>Delete</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Name"
              controlName="name"
              [form]="additional"
              placeholder="Item Name"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Qty"
              type="number"
              controlName="qty"
              [form]="additional"
              placeholder="Qty"
              (fieldChange)="update('additionals', i)"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Days on Hire"
              type="number"
              controlName="daysStanding"
              [form]="additional"
              placeholder="Days on hire"
              (fieldChange)="update('additionals', i)"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-select-reactive
              title="Rate Profile"
              placeholder="Select Rate"
              controlName="rate"
              [form]="additional"
              (fieldChange)="update('additionals', i)"
              [selectedText]="arrField('additionals', i, 'rate').value.name"
            >
              <ng-container *ngIf="rates$ | async as rates">
                <ion-select-option
                  [value]="rate"
                  *ngFor="let rate of rates.additionalRates"
                  >{{ rate.name }}
                </ion-select-option>
              </ng-container>
            </app-input-select-reactive>
          </ion-col>
          <ion-col *ngIf="arrField('additionals', i, 'rate').value">
            <app-input-text
              title="Rate override ({{
                arrField('additionals', i, 'rate').value.name.startsWith('%')
                  ? '%'
                  : company.currency.symbol
              }})"
              type="number"
              [value]="arrField('additionals', i, 'rate').value.rate"
              placeholder="Enter rate"
              (fieldChange)="updateRate('additionals', $event, i)"
            >
            </app-input-text>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Total ({{ company.currency.symbol }})"
              type="number"
              controlName="total"
              [form]="additional"
              placeholder="Total"
              [readonly]="true"
            >
            </app-input-reactive>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-fab-button
              size="small"
              class="m-auto"
              color="success"
              (click)="addAdditional()"
            >
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="text-end">
            <ion-button shape="round" (click)="nextView('summary')"
              >Next</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- SUMMARY TAB -->

      <ion-grid *ngSwitchCase="'summary'">
        <app-estimate-summary
          [estimate]="estimate"
          [canDownload]="isEdit && form.valid"
        ></app-estimate-summary>

        <ion-row>
          <ion-progress-bar
            type="indeterminate"
            *ngIf="loading"
          ></ion-progress-bar>
          <ion-col *ngIf="isEdit && estimate.status === 'pending'">
            <ion-button
              size="block"
              shape="round"
              color="danger"
              [disabled]="form.invalid"
              (click)="updateEstimate('rejected')"
              >Rejected</ion-button
            >
          </ion-col>
          <ion-col *ngIf="isEdit && estimate.status === 'pending'">
            <ion-button
              size="block"
              shape="round"
              color="success"
              [disabled]="form.invalid"
              (click)="updateEstimate('accepted')"
            >
              Accepted
            </ion-button>
          </ion-col>
          <ion-col class="text-end">
            <ion-button
              size="block"
              shape="round"
              [disabled]="form.invalid"
              *ngIf="isEdit && estimate.status === 'pending'"
              (click)="updateEstimate('pending')"
              >Update Estimate</ion-button
            >
            <ion-button
              size="block"
              shape="round"
              *ngIf="!isEdit"
              (click)="createEstimate()"
              >Save Estimate</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
