<app-company-info-detail
  [customer]="estimate.customer"
></app-company-info-detail>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Item Code</th>
        <th scope="col">Description</th>
        <th class="text-center" scope="col">Duration / Months</th>
        <th class="text-center" scope="col">Rent / Month</th>
        <th class="text-center" scope="col">Qty</th>
        <th class="text-end" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <!-- ITEMS -->
      <ng-container *ngFor="let item of estimate.items; let i = index">
        <tr class="small align-middle">
          <th class="text-center" scope="row">{{ i + 1 }}</th>
          <td class="text-center">
            {{ item.code }}
          </td>
          <td>
            {{ item.name }}
          </td>
          <td class="text-center">{{ item.duration }}</td>
          <td class="text-center">
            {{ item.hireCost | number : "0.2-2" }}
          </td>
          <td class="text-center">
            {{ item.shipmentQty }}
          </td>

          <td class="text-end">
            {{ company.currency.symbol }}
            {{ item.totalCost | number : "0.2-2" }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
