<form [formGroup]="form">
  <app-title-block>Site Details</app-title-block>
  <ion-row class="card-outline mb-3">
    <ion-col size="12">
      <app-input-reactive
        title="Site Address"
        [form]="form"
        controlName="name"
      ></app-input-reactive>
    </ion-col>
    <ion-col size="6">
      <app-input-reactive
        title="Site Main Contact"
        [form]="form"
        controlName="repName"
      ></app-input-reactive>
    </ion-col>
    <ion-col size="6">
      <app-input-reactive
        title="Phone No."
        [form]="form"
        controlName="repContact"
      ></app-input-reactive>
    </ion-col>
    <ion-col size="6">
      <app-input-reactive
        title="Site Forman"
        [form]="form"
        controlName="foremanName"
      ></app-input-reactive>
    </ion-col>
    <ion-col size="6">
      <app-input-reactive
        title="Phone No."
        [form]="form"
        controlName="foremanContact"
      ></app-input-reactive>
    </ion-col>
  </ion-row>
  <!-- <ng-container>
    <app-title-block>Site Invoice Cycle</app-title-block>
    <ion-row class="card-outline mb-3">
      <ion-col size="12">
        <ion-text>
          <p class="small">
            This should only be activated if this site has Inventory Estimates
            attached to it. An Inventory Estimate allows you to charge for each
            Inventory item on hire.
          </p>
        </ion-text>
      </ion-col>
      <ion-col sizeXl="4" size="12">
        <app-input-select-reactive
          title="Activate Invoice Cycle (optional)"
          placeholder="Select option"
          controlName="billable"
          [form]="form"
          [selectedText]="field('billable').value ? 'Yes' : 'No'"
        >
          <ion-select-option [value]="false">No</ion-select-option>
          <ion-select-option [value]="true">Yes</ion-select-option>
        </app-input-select-reactive>
      </ion-col>
      <ng-container *ngIf="field('billable').value">
        <ion-col sizeXl="4" size="12">
          <app-input-reactive
            type="number"
            title="No. Days in Billing Cycle"
            [form]="form"
            controlName="billingCycle"
            (fieldChange)="changeBillingDate($event)"
          ></app-input-reactive>
        </ion-col>
      </ng-container>
    </ion-row>
  </ng-container> -->
  <app-title-block>Physical Address</app-title-block>

  <ion-row class="card-outline mb-3">
    <ion-col size="12">
      <app-address-search
        *ngIf="isCreate || isUpdate"
        (addressData)="updateAddress($event)"
        placeholder="Search for Site Address"
      >
      </app-address-search>
      <app-input-reactive title="Address" [form]="form" controlName="address">
      </app-input-reactive>
      <app-input-reactive
        title="suburb"
        [form]="form"
        controlName="suburb"
        [optional]="true"
      >
      </app-input-reactive>
      <ion-row>
        <ion-col class="py-0 ps-0">
          <app-input-reactive
            title="State/City"
            [form]="form"
            controlName="city"
          ></app-input-reactive>
        </ion-col>
        <ion-col class="py-0 pe-0">
          <app-input-reactive
            title="Zip"
            [form]="form"
            controlName="zip"
            [optional]="true"
          ></app-input-reactive>
        </ion-col>
      </ion-row>
      <app-input-reactive
        title="Country"
        [form]="form"
        controlName="country"
      ></app-input-reactive>
    </ion-col>
  </ion-row>
  <app-title-block>Customer Details</app-title-block>
  <ion-row class="card-outline mb-3">
    <ion-col size="12">
      <app-searchable-select
        (click)="select.open()"
        *ngIf="customers$ | async as customers"
        title="Select Customer"
        [data]="customers"
        itemTextField="name"
        [add]="true"
        (selectedChanged)="changeCustomer($event)"
        #select
      ></app-searchable-select>
    </ion-col>
    <ion-col
      size="12"
      *ngIf="show === 'editCustomer' || field('customer').value"
    >
      <app-customer
        [customer]="field('customer').value"
        [isUpdate]="true"
        [isCreate]="false"
        [companyId]="company.id"
      >
      </app-customer>
    </ion-col>
    <ion-col size="12" *ngIf="show === 'addCustomer'">
      <app-customer
        [companyId]="company.id"
        (newCustomer)="newCustomer($event)"
        [isCreate]="true"
      >
      </app-customer>
    </ion-col>
  </ion-row>
  <ion-row class="mb-3">
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
    <ion-col size="6" sizeMd="2">
      <ion-button
        *ngIf="
          !loading &&
          (user.role === 'Owner' ||
            user.permissionsList.includes('Super Admin')) &&
          site.status !== 'closed' &&
          isUpdate
        "
        shape="round"
        color="danger"
        type="submit"
        (click)="delete()"
      >
        Delete Site
      </ion-button>
    </ion-col>
    <ion-col size="6" sizeMd="10" class="text-end">
      <ion-button
        *ngIf="
          !loading &&
          (user.role === 'Owner' ||
            user.permissionsList.includes('Super Admin')) &&
          isUpdate &&
          site.status !== 'closed'
        "
        shape="round"
        color="warning"
        type="submit"
        (click)="update('closed')"
      >
        Close Site
      </ion-button>
      <ion-button
        *ngIf="
          !loading &&
          (user.role === 'Owner' ||
            user.permissionsList.includes('Super Admin')) &&
          isUpdate &&
          site.status === 'closed'
        "
        shape="round"
        color="success"
        type="submit"
        (click)="update('active')"
      >
        Open Site
      </ion-button>
      <ion-button
        *ngIf="!loading && isUpdate && site.status !== 'closed'"
        shape="round"
        color="success"
        type="submit"
        [disabled]="form.invalid"
        (click)="update('active')"
      >
        Update Site
      </ion-button>
      <ion-button
        *ngIf="!loading && isCreate"
        shape="round"
        type="submit"
        [disabled]="form.invalid"
        (click)="create()"
      >
        Create Site
      </ion-button>
    </ion-col>
  </ion-row>
</form>
