<form [formGroup]="form">
  <app-title-block>Site Details</app-title-block>
  <ion-row class="card-outline mb-3">
    <ion-col sizeXl="4" size="12">
      <app-input-reactive
        title="Site name"
        [form]="form"
        controlName="name"
      ></app-input-reactive>
    </ion-col>
    <ion-col sizeXl="4" size="12">
      <app-input-date
        title="Start Date"
        [form]="form"
        controlName="startDate"
      ></app-input-date>
    </ion-col>
    <ion-col sizeXl="4" size="12">
      <app-input-date
        title="End Date"
        [form]="form"
        controlName="endDate"
      ></app-input-date>
    </ion-col>
  </ion-row>
  <app-title-block>Billing Details</app-title-block>
  <ion-row class="card-outline mb-3">
    <ion-col sizeXl="4" size="12">
      <app-input-select-reactive
        title="Is Site Billable"
        placeholder="Select option"
        controlName="billable"
        [form]="form"
        [selectedText]="field('billable').value ? 'Yes' : 'No'"
      >
        <ion-select-option [value]="false">No </ion-select-option>
        <ion-select-option [value]="true">Yes </ion-select-option>
      </app-input-select-reactive>
    </ion-col>
    <ng-container *ngIf="field('billable').value">
      <ion-col sizeXl="4" size="12">
        <app-input-reactive
          type="number"
          title="No. Days in Billing Cycle"
          [form]="form"
          controlName="billingCycle"
          (fieldChange)="changeBillingDate($event)"
        ></app-input-reactive>
      </ion-col>
    </ng-container>
  </ion-row>
  <app-title-block>Users</app-title-block>
  <ion-row class="card-outline mb-3">
    <ion-col>
      <ion-item *ngFor="let user of site.users">
        <ion-avatar slot="start">
          <img [src]="user.thumb ? user.thumb : 'assets/icons/user.svg'" />
        </ion-avatar>
        <ion-label>
          {{ user.name }}
          <ion-badge color="light" mode="ios">
            {{ user.role }}
          </ion-badge>
        </ion-label>
      </ion-item>
      <ion-fab-button
        size="small"
        class="m-auto mt-3"
        color="success"
        (click)="test()"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row>
  <app-title-block>Site Address</app-title-block>

  <ion-row class="card-outline mb-3">
    <ion-col size="12">
      <app-address-search
        *ngIf="isCreate || isUpdate"
        (addressData)="updateAddress($event)"
        placeholder="Search for Site Address"
      >
      </app-address-search>
      <app-input-reactive title="Address" [form]="form" controlName="address">
      </app-input-reactive>
      <app-input-reactive
        title="suburb"
        [form]="form"
        controlName="suburb"
        [optional]="true"
      >
      </app-input-reactive>
      <ion-row>
        <ion-col class="py-0 ps-0">
          <app-input-reactive
            title="State/City"
            [form]="form"
            controlName="city"
          ></app-input-reactive>
        </ion-col>
        <ion-col class="py-0 pe-0">
          <app-input-reactive
            title="Zip"
            [form]="form"
            controlName="zip"
            [optional]="true"
          ></app-input-reactive>
        </ion-col>
      </ion-row>
      <app-input-reactive
        title="Country"
        [form]="form"
        controlName="country"
      ></app-input-reactive>
    </ion-col>
  </ion-row>
  <app-title-block>Customer Details</app-title-block>
  <ion-row class="card-outline mb-3">
    <ion-col size="12">
      <app-searchable-select
        (click)="select.open()"
        *ngIf="customers$ | async as customers"
        title="Select Customer"
        [data]="customers"
        itemTextField="name"
        [add]="true"
        (selectedChanged)="changeCustomer($event)"
        #select
      ></app-searchable-select>
    </ion-col>
    <ion-col
      size="12"
      *ngIf="show === 'editCustomer' || field('customer').value"
    >
      <app-customer
        [customer]="field('customer').value"
        [isUpdate]="true"
        [isCreate]="false"
        [companyId]="company.id"
      >
      </app-customer>
    </ion-col>
    <ion-col size="12" *ngIf="show === 'addCustomer'">
      <app-customer
        [companyId]="company.id"
        (newCustomer)="newCustomer($event)"
        [isCreate]="true"
      >
      </app-customer>
    </ion-col>
  </ion-row>
  <ion-row class="mb-3">
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
    <ion-col size="12" class="text-end">
      <ion-button
        *ngIf="
          !loading &&
          (user.role === 'Owner' || user.role === 'Super-Admin') &&
          isUpdate &&
          site.status !== 'closed'
        "
        shape="round"
        color="warning"
        type="submit"
        (click)="update('closed')"
      >
        Close Site
      </ion-button>
      <ion-button
        *ngIf="
          !loading &&
          (user.role === 'Owner' || user.role === 'Super-Admin') &&
          isUpdate &&
          site.status === 'closed'
        "
        shape="round"
        color="success"
        type="submit"
        (click)="update('active')"
      >
        Open Site
      </ion-button>
      <ion-button
        *ngIf="
          !loading &&
            (user.role === 'Owner' || user.role === 'Super-Admin') &&
            site.status !== 'closed';
          isUpdate
        "
        shape="round"
        color="danger"
        type="submit"
        (click)="delete()"
      >
        Delete Site
      </ion-button>
      <ion-button
        *ngIf="!loading && isUpdate && site.status !== 'closed'"
        shape="round"
        color="success"
        type="submit"
        [disabled]="form.invalid"
        (click)="update('active')"
      >
        Update Site
      </ion-button>
      <ion-button
        *ngIf="!loading && isCreate"
        shape="round"
        type="submit"
        [disabled]="form.invalid"
        (click)="create()"
      >
        Create Site
      </ion-button>
    </ion-col>
  </ion-row>
</form>
