<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      >{{ !isEdit ? "Add Over Return" : "Edit Over Return" }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-chip
        *ngIf="isEdit && overReturn.status !== 'void'"
        (click)="downloadPdf()"
        mode="ios"
        shape="round"
        size="small"
        color="tertiary"
      >
        Return Note
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" *ngIf="form">
    <ion-grid>
      <ion-row class="card-outline mb-3">
        <ion-col size="12">
          <ion-text color="medium">
            <h4>Returned From</h4>
          </ion-text>
        </ion-col>
        <ion-col *ngIf="field('site').value as site">
          <app-input-text
            *ngIf="isEdit"
            title="Site Address"
            [value]="site.name"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Site Code"
            [value]="site.code"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Customer Name"
            [value]="site.customer.name"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Site Address"
            value="{{ site.address }} , {{ site.suburb }} , {{ site.city }}, {{
              site.zip
            }}, {{ site.country }}"
            [readonly]="true"
          >
          </app-input-text>
        </ion-col>
      </ion-row>
      <ion-row class="card-outline mb-3" *ngIf="field('site').value">
        <ion-col size="12">
          <ion-text color="medium">
            <h4>Return Information</h4>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <app-input-reactive
            title="Returned By"
            controlName="createdByName"
            [form]="form"
            [readonly]="true"
          ></app-input-reactive>
        </ion-col>
        <ion-col size="12">
          <app-input-date
            [form]="form"
            controlName="returnDate"
            title="Return Date"
            [readonly]="true"
          ></app-input-date>
        </ion-col>
        <ion-col size="12">
          <app-input-reactive
            title="Notes"
            controlName="notes"
            [form]="form"
            [textarea]="true"
            [readonly]="overReturn.status !== 'open'"
          >
          </app-input-reactive>
        </ion-col>
        <ng-container>
          <ion-col size="12">
            <ion-text color="medium">
              <h4>Driver Information</h4>
            </ion-text>
          </ion-col>
          <ion-col size="12" sizeMd="4">
            <app-input-reactive
              title="Driver Name"
              controlName="driverName"
              [form]="form"
              [readonly]="overReturn.status !== 'open'"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col size="12" sizeMd="4">
            <app-input-reactive
              title="Driver Phone No"
              controlName="driverNo"
              [form]="form"
              [readonly]="overReturn.status !== 'open'"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col size="12" sizeMd="4">
            <app-input-reactive
              title="Vehicle Registration"
              controlName="vehicleReg"
              [form]="form"
              [readonly]="overReturn.status !== 'open'"
            >
            </app-input-reactive>
          </ion-col>
        </ng-container>
      </ion-row>
      <ion-row class="card-outline mb-3" *ngIf="field('site').value">
        <ion-col size="6">
          <ion-text color="medium">
            <h4>Over-Return Information</h4>
          </ion-text>
        </ion-col>
        <ion-col size="6" class="text-end my-auto align-middle">
          <ion-text color="medium"> <h6>Show all Items</h6> </ion-text>
          <ion-toggle
            [checked]="
              viewAllOverages === true || searchingOverages === true
                ? true
                : false
            "
            (ionChange)="viewAllOverages = !viewAllOverages"
          ></ion-toggle>
        </ion-col>
        <ion-col size="12">
          <ion-searchbar
            debounce="250"
            mode="ios"
            placeholder="Search by code, category or name"
            (ionChange)="searchOverages($event)"
          >
          </ion-searchbar
        ></ion-col>
        <ion-col size="12">
          <div class="table-responsive">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">Category</th>
                  <th scope="col">Size</th>
                  <th scope="col">Name</th>
                  <th scope="col" class="text-center">Location</th>
                  <ng-container *ngIf="!overReturn.isReversal">
                    <th scope="col" class="text-center text-danger">
                      Overage Qty
                    </th>
                    <th scope="col" class="text-center text-success">
                      Reversed Qty
                    </th>
                    <th scope="col" class="text-center text-warning">
                      Balance Qty
                    </th>
                  </ng-container>
                  <th
                    scope="col"
                    class="text-center"
                    *ngIf="['open', 'reversed'].includes(overReturn.status)"
                  >
                    Reverse Qty
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of overageItems; let i = index">
                  <!-- Using inline condition that combines both original viewing scenarios -->
                  <tr
                    class="align-middle"
                    *ngIf="
                      viewAllOverages ||
                      (item.shipmentQty !== null && item.shipmentQty >= 0)
                    "
                  >
                    <th scope="row">{{ item.code }}</th>
                    <td>{{ item.category }}</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.name }}</td>
                    <td class="text-center">{{ item?.location }}</td>
                    <ng-container *ngIf="!overReturn.isReversal">
                      <td class="text-center">
                        {{ item.shipmentQty }}
                      </td>
                      <td class="text-center">
                        {{ item?.reversedQty || 0 }}
                      </td>
                      <td class="text-center">
                        {{ item?.overageBalanceQty || 0 }}
                      </td>
                    </ng-container>
                    <td
                      class="text-center"
                      *ngIf="['open', 'reversed'].includes(overReturn.status)"
                    >
                      <ion-input
                        #qty
                        debounce="300"
                        inputmode="numeric"
                        [color]="item.error ? 'danger' : 'success'"
                        [clearOnEdit]="true"
                        [value]="item.returnQty"
                        (ionChange)="updateOverages($event, item)"
                        [readonly]="item.overageBalanceQty === 0"
                      >
                      </ion-input>
                      <ion-label color="danger" *ngIf="item.error">
                        you cannot exceed the item balance
                      </ion-label>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <ion-item>
            <ion-label>Total Items</ion-label>
            <ion-label slot="end">
              {{ overReturn.overageItems ? overReturn.overageItems.length : 0 }}
            </ion-label>
          </ion-item>
          <!-- <ion-item>
            <ion-label>Total weight</ion-label>
            <ion-label slot="end">
              {{
                overReturn.overageItems
                  ? (overReturn.overageItems | weight : true)
                  : []
              }}
            </ion-label>
          </ion-item> -->
        </ion-col>
      </ion-row>
      <ion-row class="card-outline mb-3" *ngIf="field('site').value">
        <ion-col size="12" *ngIf="overReturn.status !== 'void'">
          <app-multiuploader></app-multiuploader>
        </ion-col>
        <ion-col size="12">
          <app-title-block> Uploaded Files </app-title-block>
          <ion-row>
            <ion-col
              sizeXl="2"
              sizeLg="3"
              sizeMd="4"
              size="6"
              *ngFor="let file of overReturn.uploads; let i = index"
            >
              <app-file-item
                [file]="file"
                [allowDelete]="false"
              ></app-file-item>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- <ion-col
          class="mt-3"
          size="12"
          *ngIf="
            (overReturn?.signedBy || overReturn?.signedBy2) &&
            overReturn.status === 'open'
          "
        >
          <app-title-block> Signatures </app-title-block>

          <table class="table table-bordered mb-3">
            <tbody>
              <tr class="align-middle">
                <td>Signed By</td>
                <td class="text-center">
                  <ion-text slot="end">{{ overReturn?.signedBy }}</ion-text>
                </td>
              </tr>
              <tr class="align-middle">
                <td>Signature</td>
                <td class="text-center">
                  <img [src]="overReturn?.signature" />
                </td>
              </tr>
              <tr class="align-middle">
                <td>Signed By</td>
                <td class="text-center">
                  <ion-text slot="end">{{ overReturn?.signedBy2 }}</ion-text>
                </td>
              </tr>
              <tr class="align-middle">
                <td>Signature</td>
                <td class="text-center">
                  <img [src]="overReturn?.signature2" />
                </td>
              </tr>
            </tbody>
          </table>
        </ion-col>
        <ion-col
          size="12"
          *ngIf="
            isEdit &&
            overReturn.status !== 'reversed' &&
            overReturn.status !== 'closed' &&
            overReturn.status !== 'void'
          "
        >
          <app-title-block> Signature </app-title-block>
          <app-signature-pad
            #signature
            [showSave]="blob ? false : true"
            (res)="sign($event)"
          ></app-signature-pad>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row
      *ngIf="overReturn.status !== 'void' && overReturn.status !== 'reversed'"
    >
      <ion-col size="12" *ngIf="loading">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ion-col>
      <ion-col size="1.5">
        <!-- <ion-button
            shape="round"
            *ngIf="isEdit && !loading"
            color="danger"
            (click)="deleteReversal(true)"
            [disabled]="this.error"
          >
            delete
          </ion-button> -->
        <ion-button
          shape="round"
          *ngIf="isEdit && !loading && ['open'].includes(overReturn.status)"
          color="danger"
          (click)="updateReversal('closed')"
          [disabled]="this.error"
        >
          Close
        </ion-button>
      </ion-col>
      <ion-col size="10.5" class="text-end">
        <ng-container *ngIf="overReturn.status === 'open'">
          <ion-button
            shape="round"
            *ngIf="isEdit && !loading"
            color="primary"
            (click)="updateReversal('open')"
            [disabled]="this.error"
          >
            Update
          </ion-button>
          <ion-button
            shape="round"
            *ngIf="isEdit && !loading && canReverse"
            color="tertiary"
            (click)="createReversal()"
            [disabled]="this.error"
          >
            Reverse
          </ion-button>
        </ng-container>
        <ng-container
          *ngIf="
            user.permissionsList.includes('Inventory Admin') &&
            overReturn.status === 'closed'
          "
        >
          <ion-button
            shape="round"
            *ngIf="isEdit && !loading"
            color="success"
            (click)="updateReversal('open')"
            [disabled]="this.error"
          >
            Open
          </ion-button>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
