<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Item Movement Log</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="log$ | async as logs">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="bg-primary">
          <tr class="text-center">
            <th scope="col">Doc Code</th>
            <th scope="col">Site Address</th>
            <th scope="col">Customer</th>
            <th scope="col">Date</th>
            <th scope="col">Qty</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="log$ | async as logs">
            <tr class="text-center align-middle" *ngFor="let log of logs">
              <td>
                <ion-chip
                  [color]="log.type === 'Delivery' ? 'danger' : 'success'"
                  >{{ log.code }}</ion-chip
                >
              </td>
              <td>{{ log.siteName }}</td>
              <td>{{ log.customerName }}</td>
              <td>{{ log.date | dateFormat | date : "short" }}</td>
              <td>
                <ion-text
                  [color]="log.type === 'Delivery' ? 'danger' : 'success'"
                  >{{ log.qty }}</ion-text
                >
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </ng-container>
</ion-content>
