<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Estimate </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <div class="ion-padding" *ngIf="company$ | async as company">
    <ion-toolbar class="rounded-lg">
      <ion-segment (ionChange)="segmentChanged($event)" selectOnFocus="true" [value]="active">
        <ion-segment-button value="overview">
          <ion-label>Overview</ion-label>
        </ion-segment-button>
        <ion-segment-button value="scaffolds">
          <ion-label>Scaffolds</ion-label>
        </ion-segment-button>
        <ion-segment-button value="additionals">
          <ion-label>Additionals</ion-label>
        </ion-segment-button>
        <ion-segment-button value="summary">
          <ion-label>Summary</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <form class="mt-5" name="estimate" [formGroup]="form">
      <!-- OVERVIEW TAB -->

      <ion-grid *ngIf="active === 'overview'">
        <ion-row>
          <ion-col size="12">
            <ion-text color="medium">
              <h4>
                Customer Information
              </h4>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='12'>
            <app-input-select-reactive (fieldChange)="changeCustomer($event)" title="Customer"
              placeholder="Select Customer" controlName="customer" [form]='form'
              [selectedText]="field('customer').value.name">
              <ng-container *ngIf="customers$ | async as customers">
                <ion-select-option [value]="customer" *ngFor="let customer of customers">{{customer.name}}
                </ion-select-option>
                <ion-select-option value="add">Add Customer
                </ion-select-option>
              </ng-container>
            </app-input-select-reactive>
          </ion-col>
          <ion-col size='12' *ngIf="show === 'editCustomer'">
            <app-customer [customer]="field('customer').value" [isUpdate]="true" [companyId]="company.id">
            </app-customer>
          </ion-col>
          <ion-col size='12' *ngIf="show === 'addCustomer'">
            <app-customer [companyId]="company.id" (newCustomer)="newCustomer($event)">
            </app-customer>
          </ion-col>

          <ion-col size="12">
            <ion-item class="rounded-3">
              <ion-label position="stacked" placeholder="">Message</ion-label>
              <ion-textarea formControlName="message" autoGrow="true"></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <app-input-reactive title="Site Name" controlName="siteName" [form]="form" placeholder="Enter Site Name">
            </app-input-reactive>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col size="12" class="text-end">
            <ion-button shape="round" (click)="nextView('scaffolds')">Next</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- SCAFFOLDS TAB -->

      <ion-grid *ngIf="active === 'scaffolds'">
        <!-- SCAFFOLDS -->
        <ion-row>
          <ion-col size="12">
            <ion-text color="medium">
              <h4>
                {{company.terminology.scaffold}} Details
              </h4>
            </ion-text>
          </ion-col>
          <ion-col size='12'>
            <ion-row formGroupName="scaffold">
              <ion-col>
                <app-input-reactive title="Length" type="number" controlName="length" [form]="field('scaffold')"
                  placeholder="L" (fieldChange)="update('scaffold')">
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive title="Width" type="number" controlName="width" [form]="field('scaffold')"
                  placeholder="W" (fieldChange)="update('scaffold')">
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive title="Height" type="number" controlName="height" [form]="field('scaffold')"
                  placeholder="H" (fieldChange)="update('scaffold')">
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-select-reactive title="Rate Profile" placeholder="Select Rate" controlName="rate"
                  [form]="field('scaffold')" [selectedText]="field('scaffold.rate').value.name"
                  (fieldChange)="update('scaffold')">
                  <ng-container *ngIf="rates$ | async as rates">
                    <ion-select-option [value]="rate" *ngFor="let rate of rates">{{rate.name}}
                    </ion-select-option>
                  </ng-container>
                </app-input-select-reactive>
              </ion-col>
              <ion-col *ngIf="field('scaffold.rate').value">
                <app-input-text title="Rate overide" type="number" [value]="field('scaffold.rate').value.rate"
                  placeholder="Enter rate" (fieldChange)="updateRate('scaffold',$event)">
                </app-input-text>
              </ion-col>
              <ion-col>
                <app-input-reactive title="Total" type="number" controlName="total" [form]="field('scaffold')"
                  [readonly]="true" placeholder="Total">
                </app-input-reactive>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- BOARDS -->
        <ion-row>
          <ion-col size="12">
            <ion-text color="medium">
              <h4>
                {{company.terminology.boards}} Details
              </h4>
            </ion-text>
          </ion-col>
          <ion-col size='12'>
            <ion-row formGroupName="boards">
              <ion-col>
                <app-input-reactive title="Length" type="number" controlName="length" [form]="field('boards')"
                  placeholder="L" (fieldChange)="update('boards')">
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive title="Width" type="number" controlName="width" [form]="field('boards')"
                  placeholder="W" (fieldChange)="update('boards')">
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive title="Qty" type="number" controlName="qty" [form]="field('boards')"
                  placeholder="Enter Qty" (fieldChange)="update('boards')">
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-select-reactive title="Rate Profile" placeholder="Select Rate" controlName="rate"
                  [form]="field('boards')" [selectedText]="field('boards.rate').value.name"
                  (fieldChange)="update('boards')">
                  <ng-container *ngIf="boardRates$ | async as rates">
                    <ion-select-option [value]="rate" *ngFor="let rate of rates.boardRates">{{rate.name}}
                    </ion-select-option>
                  </ng-container>
                </app-input-select-reactive>
              </ion-col>
              <ion-col *ngIf="field('boards.rate').value">
                <app-input-text title="Rate overide" type="number" [value]="field('boards.rate').value.rate"
                  placeholder="Enter rate" (fieldChange)="updateRate('boards',$event)">
                </app-input-text>
              </ion-col>
              <ion-col>
                <app-input-reactive title="Total" type="number" controlName="total" [form]="field('boards')"
                  [readonly]="true" placeholder="Total">
                </app-input-reactive>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- HIRE -->
        <ion-row>
          <ion-col size="12">
            <ion-text color="medium">
              <h4>
                {{company.terminology.hire}} Details
              </h4>
            </ion-text>
          </ion-col>
          <ion-col size='12'>
            <ion-row formGroupName="boards">
              <ion-col>
                <app-input-reactive title="Length" type="number" controlName="length" [form]="field('boards')"
                  placeholder="L" (fieldChange)="update('boards')">
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive title="Width" type="number" controlName="width" [form]="field('boards')"
                  placeholder="W" (fieldChange)="update('boards')">
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-reactive title="Qty" type="number" controlName="qty" [form]="field('boards')"
                  placeholder="Enter Qty" (fieldChange)="update('boards')">
                </app-input-reactive>
              </ion-col>
              <ion-col>
                <app-input-select-reactive title="Rate Profile" placeholder="Select Rate" controlName="rate"
                  [form]="field('boards')" [selectedText]="field('boards.rate').value.name"
                  (fieldChange)="update('boards')">
                  <ng-container *ngIf="boardRates$ | async as rates">
                    <ion-select-option [value]="rate" *ngFor="let rate of rates.boardRates">{{rate.name}}
                    </ion-select-option>
                  </ng-container>
                </app-input-select-reactive>
              </ion-col>
              <ion-col *ngIf="field('boards.rate').value">
                <app-input-text title="Rate overide" type="number" [value]="field('boards.rate').value.rate"
                  placeholder="Enter rate" (fieldChange)="updateRate('boards',$event)">
                </app-input-text>
              </ion-col>
              <ion-col>
                <app-input-reactive title="Total" type="number" controlName="total" [form]="field('boards')"
                  [readonly]="true" placeholder="Total">
                </app-input-reactive>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="text-end">
            <ion-button shape="round" (click)="nextView('additionals')">Next</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- ADDITIONALS TAB -->

      <ion-grid fixed='true' *ngIf="active === 'additionals'">
        <ion-row class="mt-3">
          <ion-col size="12">
            <ion-text color="medium">
              <h4>
                Additionals Information
              </h4>
            </ion-text>
          </ion-col>
        </ion-row>


        <ion-row *ngFor="let item of [1,2,3,4]">
          <ion-col size="12">
            <ion-note>
              Scaffold {{item}}
            </ion-note>
          </ion-col>
          <ion-col sizeXl="1" size='4'>
            <app-input-reactive title="Length" type="number" controlName="siteName" [form]="form" placeholder="L">
            </app-input-reactive>
          </ion-col>
          <ion-col sizeXl="1" size='4'>
            <app-input-reactive title="Width" type="number" controlName="siteName" [form]="form" placeholder="W">
            </app-input-reactive>
          </ion-col>
          <ion-col sizeXl="1" size='4'>
            <app-input-reactive title="Height" type="number" controlName="siteName" [form]="form" placeholder="H">
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive title="Rate Profile" controlName="siteName" [form]="form" placeholder="Enter Site Name">
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive title="Rate Override" type="number" controlName="siteName" [form]="form"
              placeholder="Enter Site Name">
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive title="Hire %" type="number" controlName="siteName" [form]="form"
              placeholder="Enter Site Name">
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive title="Total" type="number" controlName="siteName" [form]="form"
              placeholder="Enter Site Name">
            </app-input-reactive>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="12" class="text-end">
            <ion-button shape="round" (click)="nextView('summary')">Next</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- SUMMARY TAB -->

      <ion-grid fixed='true' *ngIf="active === 'summary'">
        <ion-row class="mt-3">
          <ion-col size="12">
            <ion-text color="medium">
              <h4>
                Estimate Summary
              </h4>
            </ion-text>
          </ion-col>
        </ion-row>


        <ion-row *ngFor="let item of [1,2,3,4]">
          <ion-col size="12">
            <ion-note>
              Scaffold {{item}}
            </ion-note>
          </ion-col>
          <ion-col sizeXl="1" size='4'>
            <app-input-reactive title="Length" type="number" controlName="siteName" [form]="form" placeholder="L">
            </app-input-reactive>
          </ion-col>
          <ion-col sizeXl="1" size='4'>
            <app-input-reactive title="Width" type="number" controlName="siteName" [form]="form" placeholder="W">
            </app-input-reactive>
          </ion-col>
          <ion-col sizeXl="1" size='4'>
            <app-input-reactive title="Height" type="number" controlName="siteName" [form]="form" placeholder="H">
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive title="Rate Profile" controlName="siteName" [form]="form" placeholder="Enter Site Name">
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive title="Rate Override" type="number" controlName="siteName" [form]="form"
              placeholder="Enter Site Name">
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive title="Hire %" type="number" controlName="siteName" [form]="form"
              placeholder="Enter Site Name">
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive title="Total" type="number" controlName="siteName" [form]="form"
              placeholder="Enter Site Name">
            </app-input-reactive>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="12" class="text-end">
            <ion-button shape="round" fill="outline" color="dark">Save Estimate</ion-button>
            <ion-button shape="round">Create Estimate</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>
  </div>
  <!-- <div class="ion-padding" *ngIf="company$ | async as company">
    {{form.value | json}}
  </div> -->
</ion-content>
