<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ inspection.code }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="ion-padding">
  <ion-grid class="container" *ngIf="inspection; else loading">
    <ion-row class="py-2">
      <ion-col size="12">
        <h3>INSPECTION</h3>
      </ion-col>
      <ion-col>
        <ion-label>
          <h6>Code:</h6>
          <h6>Scaffold:</h6>
          <h6>Date Issued:</h6>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <h6>{{ inspection.code }}</h6>
          <h6>{{ inspection.scaffold.code }}</h6>
          <h6>{{ inspection.date | date }}</h6>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-item-divider mode="md"></ion-item-divider>

    <app-company-info-detail
      [customer]="inspection.customer"
    ></app-company-info-detail>

    <ion-item-divider mode="md"></ion-item-divider>
    <ion-row class="py-2">
      <ion-col>
        <app-scaffold-overview-table
          [scaffold]="inspection.scaffold"
        ></app-scaffold-overview-table>
        <table class="table table-bordered">
          <ng-container
            *ngFor="let category of inspection.questions.categories"
          >
            <thead>
              <tr class="table-light">
                <th colspan="3" scope="col">{{ category.name }}</th>
              </tr>
              <tr>
                <th class="text-center" scope="col">#</th>
                <th scope="col">Question</th>
                <th class="text-center" scope="col">Checklist</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of category.items; let i = index"
                class="align-middle"
              >
                <th class="text-center" scope="row">{{ i + 1 }}.</th>
                <td>{{ item.question }}</td>
                <td class="text-center">
                  {{ item.value ? item.value : "N/A" }}
                </td>
              </tr>
            </tbody>
          </ng-container>
        </table>

        <ion-item class="mb-3 rounded-lg" fill="solid" *ngIf="inspection.notes">
          <ion-label position="stacked"> Notes </ion-label>
          <ion-text>
            <p class="py-2">{{ inspection.notes }}</p>
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-text>Is the scaffold safe for use?</ion-text>
          <ion-badge
            mode="ios"
            [color]="inspection.status === 'Passed' ? 'success' : 'danger'"
            slot="end"
          >
            {{ inspection.status }}
          </ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #loading>
    <div class="ion-padding">
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
    </div>
  </ng-template>
</ion-content>
