<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      >{{ !isEdit ? "Add Transport Profile" : "Edit Transport Profile" }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" *ngIf="form">
    <ion-grid>
      <ion-row class="card-outline mb-3">
        <ion-col size="12">
          <app-input-reactive
            title="Profile Name"
            controlName="name"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
      </ion-row>
      <ion-row
        formArrayName="types"
        class="mb-3 card-outline"
        *ngFor="let type of typesForms.controls; let i = index"
      >
        <ion-col size="12">
          <ion-note> Vehicle {{ i + 1 }} </ion-note>
          <ion-chip
            outline
            color="danger"
            class="ion-float-end"
            (click)="deleteType(i)"
          >
            <ion-label>Delete</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <app-input-reactive
            title="Name"
            controlName="name"
            placeholder="Enter name"
            [form]="type"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col>
          <app-input-reactive
            title="Max Load ({{ company.mass.symbol }})"
            type="number"
            controlName="maxLoad"
            placeholder="Enter max load"
            [form]="type"
          >
          </app-input-reactive>
        </ion-col>

        <ion-col>
          <app-input-reactive
            title="Rate ({{ company.currency.symbol }})"
            type="number"
            controlName="rate"
            [form]="type"
            placeholder="Total"
          >
          </app-input-reactive>
        </ion-col>
      </ion-row>
      <ion-row class="mb-3">
        <ion-col>
          <ion-fab-button
            size="small"
            class="m-auto"
            color="success"
            (click)="addType()"
          >
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-progress-bar
          type="indeterminate"
          *ngIf="loading"
        ></ion-progress-bar>
        <ion-col size="12" class="text-end">
          <ion-button
            *ngIf="!loading && isDelete"
            shape="round"
            color="danger"
            type="submit"
            (click)="removeTransport()"
          >
            Delete Rate
          </ion-button>
          <ion-button
            *ngIf="!loading && isEdit"
            shape="round"
            color="success"
            type="submit"
            [disabled]="form.invalid"
            (click)="updateTransport()"
          >
            Update Rate
          </ion-button>
          <ion-button
            *ngIf="!loading && !isEdit"
            shape="round"
            type="submit"
            (click)="createTransport()"
            [disabled]="form.invalid"
            >Create Rate
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
