<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? "Update Site" : "Create Site" }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="container ion-padding ">
    <app-site-form *ngIf="isCreate"></app-site-form>
    <app-site-form
      *ngIf="isEdit"
      [siteData]="siteData"
      [isUpdate]="true"
      [isCreate]="false"
    ></app-site-form>
  </div>
</ion-content>
