<app-header
  title="Customers"
  [showMenu]="false"
  [showBack]="true"
  path="/dashboard/settings"
  btnName="refresh"
  (updated)="init()"
></app-header>

<ion-content fullscreen="true">
  <app-header-condensed title="Customers"></app-header-condensed>
  <ng-container
    *ngIf="{company: company$ |async ,customers: customers$ | async} as data"
  >
    <app-customer-table
      [value]="customers$"
      *ngIf="!isLoading else loading"
      (selectedItem)="editCustomer($event,data.company.id)"
    ></app-customer-table>

    <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addCustomer(data.company.id)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ng-template #loading>
      <div class="ion-padding">
        <app-skeleton-text></app-skeleton-text>
        <app-skeleton-text></app-skeleton-text>
        <app-skeleton-text></app-skeleton-text>
        <app-skeleton-text></app-skeleton-text>
      </div> </ng-template
  ></ng-container>
</ion-content>
