<ion-row class="py-2">
  <ion-col sizeMd="6" size="4">
    <ion-text>
      <h4>Modification</h4>
    </ion-text>
  </ion-col>
  <ion-col sizeMd="6" size="8" class="text-end">
    <ng-container *ngIf="terms$ | async as terms; else noTerms">
      <ion-button
        size="small"
        (click)="download(terms)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="cloud-download-outline"></ion-icon>&nbsp;Download
      </ion-button>
      <ion-button
        size="small"
        (click)="share(terms)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="share-social-outline"></ion-icon>&nbsp;Send
      </ion-button>
    </ng-container>
    <ng-template #noTerms>
      <ion-button
        size="small"
        (click)="download(null)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="cloud-download-outline"></ion-icon>&nbsp;Download
      </ion-button>
      <ion-button
        size="small"
        (click)="share(null)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="share-social-outline"></ion-icon>&nbsp;Send
      </ion-button>
    </ng-template>
  </ion-col>
  <ion-col size="6">
    <ion-label>
      <h6>Code:</h6>
      <h6>Scaffold Code:</h6>
      <h6>Site Code:</h6>
      <h6>Site name:</h6>
      <h6>Date Issued:</h6>
    </ion-label>
  </ion-col>
  <ion-col size="6">
    <ion-label>
      <h6>{{ modification.code }}</h6>
      <h6>{{ modification.scaffoldCode }}</h6>
      <h6>{{ modification.oldScaffold.siteCode }}</h6>
      <h6>
        {{ modification.siteName }}
      </h6>
      <h6>
        {{ modification.date | date }}
      </h6>
    </ion-label>
  </ion-col>
</ion-row>
<ion-item-divider mode="md"></ion-item-divider>

<app-company-info-detail
  [customer]="modification.customer"
></app-company-info-detail>

<ion-item-divider mode="md"></ion-item-divider>

<ion-row class="py-2">
  <ion-col size="12">
    <ion-label color="medium">
      <h6>Message</h6>
    </ion-label>
  </ion-col>
  <ion-col size="12">
    <p [innerText]="modification.message"></p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-text color="medium" class="mb-3"
      ><h6>Before Modification</h6></ion-text
    >

    <table class="table table-bordered border-danger">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th scope="col">
            {{
              modification.oldScaffold.scaffold.description
                ? modification.oldScaffold.scaffold.description
                : "Description"
            }}
          </th>
          <th class="text-center" scope="col">Qty</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-center" scope="row">1</th>
          <td colspan="3">Scaffold Modification Details</td>
        </tr>
        <!-- SCAFFOLD -->
        <tr class="small">
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.scaffold }} Level
            {{
              modification.oldScaffold.scaffold.level
                ? modification.oldScaffold.scaffold.level
                : 0
            }}
            - ({{ modification.oldScaffold.scaffold.length
            }}{{ company.measurement.symbol }} x
            {{ modification.oldScaffold.scaffold.width
            }}{{ company.measurement.symbol }} x
            {{ modification.oldScaffold.scaffold.height
            }}{{ company.measurement.symbol }})
            {{
              modification.oldScaffold.scaffold.lifts > 0
                ? "(" + modification.oldScaffold.scaffold.lifts + " lifts)"
                : ""
            }}
            -
            {{ modification.oldScaffold.scaffold.description }}
          </td>
          <td class="text-center">1</td>
        </tr>
        <!-- SCAFFOLD ATTACHMENTS -->
        <tr
          class="small"
          *ngFor="
            let item of modification.oldScaffold.attachments;
            let i = index
          "
        >
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.scaffold }} Level
            {{ item.level ? item.level : 0 }} - ({{ item.length
            }}{{ company.measurement.symbol }} x {{ item.width
            }}{{ company.measurement.symbol }} x {{ item.height
            }}{{ company.measurement.symbol }})
            {{ item.lifts > 0 ? "(" + item.lifts + " lifts)" : "" }} -
            {{ item.description }}
          </td>
          <td class="text-center">1</td>
        </tr>
        <!-- BOARDS -->
        <tr
          class="small"
          *ngFor="let item of modification.oldScaffold.boards; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.boards }} - ({{ item.length
            }}{{ company.measurement.symbol }} x {{ item.width
            }}{{ company.measurement.symbol }}) - Level ({{ item.height
            }}{{ company.measurement.symbol }})
          </td>
          <td class="text-center">{{ item.qty }}</td>
        </tr>
        <!-- HIRE -->
        <tr class="small">
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.hire }} - ({{
              modification.oldScaffold.hire.daysStanding
            }}
            {{ modification.oldScaffold.hire.isWeeks ? "Weeks" : "Days" }})
          </td>
          <td class="text-center">1</td>
        </tr>
        <!-- LABOR -->
        <tr *ngIf="modification.oldScaffold.labour.length > 0">
          <th class="text-center" scope="row">2</th>
          <td colspan="3">Labor</td>
        </tr>
        <tr
          class="small"
          *ngFor="let item of modification.oldScaffold.labour; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>{{ item.type.name }} - {{ item.rate.name }}</td>
          <td class="text-center">{{ item.qty }}</td>
        </tr>
        <!-- TRANSPORT -->
        <ng-container *ngIf="modification.oldScaffold.transport">
          <tr *ngIf="modification.oldScaffold.transport.length > 0">
            <th class="text-center" scope="row">3</th>
            <td colspan="3">Transport</td>
          </tr>
          <tr
            class="small"
            *ngFor="
              let item of modification.oldScaffold.transport;
              let i = index
            "
          >
            <th class="text-center" scope="row"></th>
            <td>
              {{ item.type.name }} - {{ item.type.maxLoad
              }}{{ company.mass.symbol }}
            </td>
            <td class="text-center">{{ item.qty }}</td>
          </tr>
        </ng-container>
        <!-- ADDITIONALS -->
        <tr *ngIf="modification.oldScaffold.additionals.length > 0">
          <th class="text-center" scope="row">3</th>
          <td colspan="3">Additionals</td>
        </tr>
        <tr
          class="small"
          *ngFor="
            let item of modification.oldScaffold.additionals;
            let i = index
          "
        >
          <th class="text-center" scope="row"></th>
          <td>{{ item.name }}</td>
          <td class="text-center">{{ item.qty }}</td>
        </tr>
      </tbody>
    </table>
  </ion-col>
  <ion-col>
    <ion-text color="medium" class="mb-3"><h6>After Modification</h6></ion-text>
    <table class="table table-bordered border-success">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th scope="col">
            {{
              modification.scaffold.description
                ? modification.scaffold.description
                : "Description"
            }}
          </th>
          <th class="text-center" scope="col">Qty</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-center" scope="row">1</th>
          <td colspan="3">Scaffold Modification Details</td>
        </tr>
        <!-- SCAFFOLD -->
        <tr class="small">
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.scaffold }} Level
            {{ modification.scaffold.level ? modification.scaffold.level : 0 }}
            - ({{ modification.scaffold.length
            }}{{ company.measurement.symbol }} x {{ modification.scaffold.width
            }}{{ company.measurement.symbol }} x
            {{ modification.scaffold.height }}{{ company.measurement.symbol }})
            {{
              modification.scaffold.lifts > 0
                ? "(" + modification.scaffold.lifts + " lifts)"
                : ""
            }}
            - {{ modification.scaffold.description }}
          </td>
          <td class="text-center">1</td>
        </tr>
        <!-- SCAFFOLD ATTACHMENTS -->
        <tr
          class="small"
          *ngFor="let item of modification.attachments; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.scaffold }} Level
            {{ item.level ? item.level : 0 }} - ({{ item.length
            }}{{ company.measurement.symbol }} x {{ item.width
            }}{{ company.measurement.symbol }} x {{ item.height
            }}{{ company.measurement.symbol }})
            {{ item.lifts > 0 ? "(" + item.lifts + " lifts)" : "" }} -
            {{ item.description }}
          </td>
          <td class="text-center">1</td>
        </tr>
        <!-- BOARDS -->
        <tr
          class="small"
          *ngFor="let item of modification.boards; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.boards }} - ({{ item.length
            }}{{ company.measurement.symbol }} x {{ item.width
            }}{{ company.measurement.symbol }}) - Level ({{ item.height
            }}{{ company.measurement.symbol }})
          </td>
          <td class="text-center">{{ item.qty }}</td>
        </tr>
        <!-- HIRE -->
        <tr class="small">
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.hire }} - ({{
              modification.hire.daysStanding
            }}
            {{ modification.hire.isWeeks ? "Weeks" : "Days" }})
          </td>
          <td class="text-center">1</td>
        </tr>
        <!-- LABOR -->
        <tr *ngIf="modification.labour.length > 0">
          <th class="text-center" scope="row">2</th>
          <td colspan="3">Labor</td>
        </tr>
        <tr
          class="small"
          *ngFor="let item of modification.labour; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>{{ item.type.name }} - {{ item.rate.name }}</td>
          <td class="text-center">{{ item.qty }}</td>
        </tr>
        <!-- TRANSPORT -->
        <ng-container *ngIf="modification.transport">
          <tr *ngIf="modification.transport.length > 0">
            <th class="text-center" scope="row">3</th>
            <td colspan="3">Transport</td>
          </tr>
          <tr
            class="small"
            *ngFor="let item of modification.transport; let i = index"
          >
            <th class="text-center" scope="row"></th>
            <td>
              {{ item.type.name }} - {{ item.type.maxLoad
              }}{{ company.mass.symbol }}
            </td>
            <td class="text-center">{{ item.qty }}</td>
          </tr>
        </ng-container>
        <!-- ADDITIONALS -->
        <tr *ngIf="modification.additionals.length > 0">
          <th class="text-center" scope="row">4</th>
          <td colspan="3">Additionals</td>
        </tr>
        <tr
          class="small"
          *ngFor="let item of modification.additionals; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>{{ item.name }}</td>
          <td class="text-center">{{ item.qty }}</td>
        </tr>
      </tbody>
    </table>
  </ion-col>
  <ion-col size="12">
    <ion-text color="medium" class="mb-3"><h6>Modification Cost</h6></ion-text>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th scope="col">
            {{
              modification.scaffold.description
                ? modification.scaffold.description
                : "Description"
            }}
          </th>
          <th class="text-center" scope="col">Qty</th>
          <th class="text-end" scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-center" scope="row">1</th>
          <td colspan="3">Scaffold Modification Details</td>
        </tr>
        <!-- SCAFFOLD -->
        <tr class="small">
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.scaffold }} Level
            {{ modification.scaffold.level ? modification.scaffold.level : 0 }}
            - ({{ modification.scaffold.length
            }}{{ company.measurement.symbol }} x {{ modification.scaffold.width
            }}{{ company.measurement.symbol }} x
            {{ modification.scaffold.height }}{{ company.measurement.symbol }})
            {{
              modification.scaffold.lifts > 0
                ? "(" + modification.scaffold.lifts + " lifts)"
                : ""
            }}
            - {{ modification.scaffold.description }}
          </td>
          <td class="text-center">1</td>
          <td class="text-end">
            {{ company.currency.symbol }}
            {{ modification.scaffold.total | number : "0.2-2" }}
          </td>
        </tr>
        <!-- SCAFFOLD ATTACHMENTS -->
        <tr
          class="small"
          *ngFor="let item of modification.attachments; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.scaffold }} Level
            {{ item.level ? item.level : 0 }} - ({{ item.length
            }}{{ company.measurement.symbol }} x {{ item.width
            }}{{ company.measurement.symbol }} x {{ item.height
            }}{{ company.measurement.symbol }})
            {{ item.lifts > 0 ? "(" + item.lifts + " lifts)" : "" }} -
            {{ item.description }}
          </td>
          <td class="text-center">1</td>
          <td class="text-end">
            {{ company.currency.symbol }}
            {{ item.total | number : "0.2-2" }}
          </td>
        </tr>
        <!-- BOARDS -->
        <tr
          class="small"
          *ngFor="let item of modification.boards; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.boards }} - ({{ item.length
            }}{{ company.measurement.symbol }} x {{ item.width
            }}{{ company.measurement.symbol }}) - Level ({{ item.height
            }}{{ company.measurement.symbol }})
          </td>
          <td class="text-center">{{ item.qty }}</td>
          <td class="text-end">
            {{ company.currency.symbol }}
            {{ item.total | number : "0.2-2" }}
          </td>
        </tr>
        <!-- HIRE -->
        <tr class="small">
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.hire }} - ({{
              modification.hire.daysStanding
            }}
            {{ modification.hire.isWeeks ? "Weeks" : "Days" }})
          </td>
          <td class="text-center">1</td>
          <td class="text-end">
            {{ company.currency.symbol }}
            {{ modification.hire.total | number : "0.2-2" }}
          </td>
        </tr>
        <!-- LABOR -->
        <tr *ngIf="modification.labour.length > 0">
          <th class="text-center" scope="row">2</th>
          <td colspan="3">Labor</td>
        </tr>
        <tr
          class="small"
          *ngFor="let item of modification.labour; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>{{ item.type.name }} - {{ item.rate.name }}</td>
          <td class="text-center">{{ item.qty }}</td>
          <td class="text-end">
            {{ company.currency.symbol }} {{ item.total | number : "0.2-2" }}
          </td>
        </tr>
        <!-- TRANSPORT -->
        <ng-container *ngIf="modification.transport">
          <tr *ngIf="modification.transport.length > 0">
            <th class="text-center" scope="row">3</th>
            <td colspan="3">Transport</td>
          </tr>
          <tr
            class="small"
            *ngFor="let item of modification.transport; let i = index"
          >
            <th class="text-center" scope="row"></th>
            <td>
              {{ item.type.name }} - ({{ item.type.maxLoad
              }}{{ company.mass.symbol }})
            </td>
            <td class="text-center">{{ item.qty }}</td>
            <td class="text-end">
              {{ company.currency.symbol }} {{ item.total | number : "0.2-2" }}
            </td>
          </tr>
        </ng-container>
        <!-- ADDITIONALS -->
        <tr *ngIf="modification.additionals.length > 0">
          <th class="text-center" scope="row">4</th>
          <td colspan="3">Additionals</td>
        </tr>
        <tr
          class="small"
          *ngFor="let item of modification.additionals; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>{{ item.name }}</td>
          <td class="text-center">{{ item.qty }}</td>
          <td class="text-end">
            {{ company.currency.symbol }} {{ item.total | number : "0.2-2" }}
          </td>
        </tr>
      </tbody>
      <!-- FOOTER TOTALS -->
      <tfoot>
        <tr>
          <th class="text-end" colspan="2" scope="col">Subtotal</th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{ modification.subtotal | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="2" scope="col">
            Discount ({{ modification.discountPercentage }}%)
          </th>
          <th class="text-end text-danger" colspan="2" scope="col">
            - {{ company.currency.symbol }}
            {{ modification.discount | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="2" scope="col">Contract Total</th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{
              modification.subtotal - modification.discount | number : "0.2-2"
            }}
          </th>
        </tr>
        <tr *ngIf="company.salesTax > 0">
          <th class="text-end" colspan="2" scope="col">
            Sales Tax ({{ company.salesTax }}%)
          </th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{ modification.tax | number : "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.vat > 0">
          <th class="text-end" colspan="2" scope="col">
            {{ company.gst ? "GST" : "VAT" }} ({{ company.vat }}%)
          </th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{ modification.vat | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="2" scope="col">Total</th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{ modification.total | number : "0.2-2" }}
          </th>
        </tr>
      </tfoot>
    </table>
  </ion-col>
</ion-row>
