<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" *ngIf="showMenu"></ion-menu-button>
      <ion-back-button
        *ngIf="!showMenu"
        [defaultHref]="path"
        color="primary"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end" *ngIf="btnName">
      <ion-button (click)="update()">
        <ion-icon slot="icon-only" [name]="btnName" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ng-content></ng-content>
</ion-header>
