<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" *ngIf="showMenu"></ion-menu-button>
      <ion-back-button
        *ngIf="showBack"
        [defaultHref]="path"
        color="primary"
        mode="md"
        (click)="backClicked.emit()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end" *ngIf="btnName || iconName">
      <ion-button
        *ngIf="btnName"
        fill="solid"
        size="small"
        shape="round"
        color="primary"
        id="hover-trigger"
        (click)="update()"
      >
        Need Help?
      </ion-button>
      <ion-button (click)="updateIcon()" *ngIf="iconName">
        <ion-icon
          slot="icon-only"
          size="medium"
          [name]="iconName"
          [color]="iconColor"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ng-content></ng-content>
</ion-header>
