<div class="ion-padding" *ngIf="company$ | async as company">
  <ng-container *ngIf="!isLoading">
    <!-- SCAFFOLDS -->
    <ion-item-group class="card-outline mb-3">
      <ion-item-divider>
        <ion-text color="dark">
          <h5 class="fw-bold">{{ company.terminology.scaffold }} Rates</h5>
          <br />Enter the default amount for each type of rate below.
        </ion-text>
      </ion-item-divider>
      <ion-row>
        <ion-col
          *ngFor="let rate of rateProfiles.scaffoldRates; trackBy: trackItems"
        >
          <app-input-text
            title="{{ rate.name }} ({{ company.currency.symbol }})"
            [value]="rate.rate"
            type="number"
            placeholder="Enter a Rate"
            (fieldChange)="rate.rate = $event"
          >
          </app-input-text>
        </ion-col>
      </ion-row>
    </ion-item-group>
    <!-- BOARDS -->
    <ion-item-group class="card-outline mb-3">
      <ion-item-divider>
        <ion-text color="dark"
          ><h5 class="fw-bold">{{ company.terminology.boards }} Rates</h5>
          <br />Enter the default amount for each type of rate below.</ion-text
        >
      </ion-item-divider>
      <ion-row>
        <ion-col
          *ngFor="let rate of rateProfiles.boardRates; trackBy: trackItems"
        >
          <app-input-text
            title="{{ rate.name }} ({{ company.currency.symbol }})"
            [value]="rate.rate"
            type="number"
            placeholder="Enter a Rate"
            (fieldChange)="rate.rate = $event"
          >
          </app-input-text>
        </ion-col>
      </ion-row>
    </ion-item-group>
    <!-- HIRE -->
    <ion-item-group class="card-outline mb-3">
      <ion-item-divider>
        <ion-text color="dark"
          ><h5 class="fw-bold">{{ company.terminology.hire }} Rates</h5>
          <br />Enter the default amount for each type of rate below.</ion-text
        >
      </ion-item-divider>
      <ion-row>
        <ion-col
          *ngFor="let rate of rateProfiles.hireRates; trackBy: trackItems"
        >
          <app-input-text
            title="{{ rate.name }} ({{
              !rate.name.startsWith('%') ? company.currency.symbol : '%'
            }})"
            [value]="rate.rate"
            type="number"
            placeholder="Enter a Rate"
            (fieldChange)="rate.rate = $event"
          >
          </app-input-text>
        </ion-col>
      </ion-row>
    </ion-item-group>
    <!-- ADDITIONALS -->
    <ion-item-group class="card-outline mb-3">
      <ion-item-divider>
        <ion-text color="dark">
          <h5 class="fw-bold">Additional Rates</h5>
          <br />Enter the default amount for each type of rate below.
        </ion-text>
      </ion-item-divider>
      <ion-row>
        <ion-col
          *ngFor="let rate of rateProfiles.additionalRates; trackBy: trackItems"
        >
          <app-input-text
            title="{{ rate.name }} ({{ company.currency.symbol }})"
            [value]="rate.rate"
            type="number"
            placeholder="Enter a Rate"
            (fieldChange)="rate.rate = $event"
          >
          </app-input-text>
        </ion-col>
      </ion-row>
    </ion-item-group>

    <ion-row>
      <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
      <ion-col size="12" class="text-end">
        <ion-button
          *ngIf="!loading"
          shape="round"
          color="success"
          type="submit"
          (click)="updateRates(company.id)"
        >
          Update Rates
        </ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
</div>
