<ion-header>
  <ion-toolbar>
    <ion-title> Cloudscaff - Statement </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="container" *ngIf="statement$ | async as statement">
    <ion-row class="py-2">
      <ion-col sizeMd="6" size="4">
        <ion-text>
          <h4>Statement</h4>
        </ion-text>
      </ion-col>
      <ion-col sizeMd="6" size="8" class="text-end">
        <ion-button
          size="small"
          fill="clear"
          (click)="download(statement.terms, statement.statement,statement.company)"
          color="primary"
        >
          <ion-icon name="cloud-download-outline"></ion-icon>&nbsp;Download
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-label>
          <h6>Customer:</h6>
          <h6>Start Date:</h6>
          <h6>End Date:</h6>
          <h6>Date Issued:</h6>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>
          <h6>{{ statement.statement.customer.name }}</h6>

          <h6>{{ statement.statement.dates.startDate | date }}</h6>
          <h6>{{ statement.statement.dates.endDate | date }}</h6>
          <h6>{{ statement.statement.dates.date.toDate() | date }}</h6>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-item-divider mode="md"></ion-item-divider>

    <ion-row class="py-2">
      <ion-col size="12" sizeXl="6">
        <ion-row>
          <ion-col size="12">
            <ion-text color="medium"> To </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>Company:</h6>
              <h6>Email:</h6>
              <h6>Representative:</h6>
              <h6>Contact No:</h6>
              <h6>Registration No:</h6>
              <br />
              <h6>Address:</h6>
            </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>{{ statement.statement.customer.name }}</h6>
              <h6>{{ statement.statement.customer.email }}</h6>
              <h6>{{ statement.statement.customer.rep }}</h6>
              <h6>{{ statement.statement.customer.phone }}</h6>
              <h6>{{ statement.statement.customer.regNumber }}</h6>
              <br />
              <h6>
                {{ statement.statement.customer.address }} <br />
                {{ statement.statement.customer.suburb }}<br />{{
                statement.statement.customer.city }}<br />{{
                statement.statement.customer.zip }}<br />{{
                statement.statement.customer.country }}
              </h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" sizeXl="6">
        <ion-row>
          <ion-col size="12">
            <ion-text color="medium"> From </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>Company:</h6>
              <h6>Email:</h6>
              <h6>Representative:</h6>
              <h6>Contact No:</h6>
              <h6>Registration No:</h6>
              <br />
              <h6>Address:</h6>
            </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>{{ statement.statement.company.name }}</h6>
              <h6>{{ statement.statement.company.email }}</h6>
              <h6>N/A</h6>
              <h6>{{ statement.statement.company.phone }}</h6>
              <h6>{{ statement.statement.company.regNumber }}</h6>
              <br />
              <h6>
                {{ statement.statement.company.address }} <br />
                {{ statement.statement.company.suburb }}<br />{{
                statement.statement.company.city }}<br />{{
                statement.statement.company.zip }}<br />{{
                statement.statement.company.country }}
              </h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-item-divider mode="md"></ion-item-divider>

    <ion-row>
      <ion-col size="12">
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th scope="col">Invoice Code</th>
              <th scope="col">Invoice Date</th>
              <th class="text-end" scope="col">Total</th>
              <th class="text-end" scope="col">Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr class="small" *ngFor="let item of statement.statement.invoices">
              <th scope="row">{{ item.code }}</th>
              <td>{{ item.date.toDate() | date }}</td>
              <td class="text-end">
                {{ statement.statement.company.currency.symbol }}{{ item.total |
                number: "0.2-2" }}
              </td>
              <td class="text-end">
                {{ statement.statement.company.currency.symbol }} {{
                item.totalOutstanding | number: "0.2-2" }}
              </td>
            </tr>
          </tbody>
        </table>
      </ion-col>
      <ion-col size="12">
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th scope="col">Invoice Code</th>
              <th scope="col">Payment Date</th>
              <th class="text-end" scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="small" *ngFor="let item of statement.statement.payments">
              <th scope="row">{{ item.invoiceCode }}</th>
              <td>{{ item.date.toDate() | date }}</td>
              <td class="text-end">
                {{ statement.statement.company.currency.symbol }}{{ item.total |
                number: "0.2-2" }}
              </td>
            </tr>
          </tbody>
        </table>
      </ion-col>
      <ion-col size="12">
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th scope="col">Credit Code</th>
              <th scope="col">Credit Date</th>
              <th class="text-end" scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="small" *ngFor="let item of statement.statement.credits">
              <th scope="row">{{ item.code }}</th>
              <td>{{ item.date.toDate() | date }}</td>
              <td class="text-end">
                {{ statement.statement.company.currency.symbol }}{{ item.total |
                number: "0.2-2" }}
              </td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
