<ng-container *ngIf="scaffold$ |async as scaffold">
  <app-header
    title="Scaffold - {{scaffold.code}}"
    [showMenu]="false"
    [showBack]="true"
    path="/dashboard/site/{{ids[0]}}-{{ids[1]}}"
  >
    <ion-toolbar>
      <ion-segment
        (ionChange)="segmentChanged($event)"
        selectOnFocus="true"
        [value]="active"
      >
        <ion-segment-button value="overview">
          <ion-label>Overview</ion-label>
        </ion-segment-button>
        <ion-segment-button value="inspections">
          <ion-label>Inspections</ion-label>
        </ion-segment-button>
        <ion-segment-button value="handovers">
          <ion-label>Handovers</ion-label>
        </ion-segment-button>
        <ion-segment-button value="modifications">
          <ion-label>Modifications</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </app-header>

  <ion-content fullscreen="true" class="ion-padding">
    <ng-container [ngSwitch]="active" *ngIf="company$ | async as company">
      <div *ngSwitchDefault class="container">
        <ion-row class="py-2">
          <ion-col size="12">
            <h3>Overview</h3>
          </ion-col>
          <ion-col>
            <ion-label>
              <h6>Code:</h6>
              <h6>Site Code:</h6>
              <h6>Date Issued:</h6>
              <h6>Start Date:</h6>
              <h6>End Date:</h6>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <h6>{{ scaffold.code }}</h6>
              <h6>{{ scaffold.siteCode }}</h6>
              <h6>{{ scaffold.date | date }}</h6>
              <h6>{{ scaffold.startDate | date }}</h6>
              <h6>{{ scaffold.endDate | date }}</h6>
            </ion-label>
          </ion-col>

          <ion-col size="12" class="mt-3">
            <app-scaffold-overview-table
              [scaffold]="scaffold"
            ></app-scaffold-overview-table>
          </ion-col>
        </ion-row>
      </div>
      <div *ngSwitchCase="'inspections'">
        <app-inspection-table
          [value]="inspections$"
          *ngIf="inspections$ | async else loading"
          (selectedItem)="viewInspection($event)"
        ></app-inspection-table>
        <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addInspection(scaffold)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ng-template #loading>
          <div class="ion-padding">
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchCase="'handovers'">
        <app-handover-table
          [value]="handovers$"
          *ngIf="handovers$ | async else loading"
          (selectedItem)="viewHandover($event)"
        ></app-handover-table>
        <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addHandover(scaffold)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ng-template #loading>
          <div class="ion-padding">
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchCase="'modifications'">
        <app-handover-table
          [value]="handovers$"
          *ngIf="handovers$ | async else loading"
          (selectedItem)="viewHandover($event)"
        ></app-handover-table>
        <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addModification(scaffold)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ng-template #loading>
          <div class="ion-padding">
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </ion-content>
</ng-container>
