<ng-container *ngIf="scaffold$ |async as scaffold">
  <app-header
    title="Scaffold - {{scaffold.code}}"
    [showMenu]="false"
    [showBack]="true"
    path="/dashboard/site/{{ids[0]}}-{{ids[1]}}"
  >
    <ng-container *ngIf="company$ |async as company">
      <ion-toolbar *ngIf="user$ |async as user">
        <ion-segment
          scrollable="true"
          (ionChange)="segmentChanged($event)"
          selectOnFocus="true"
          [value]="active"
          mode="md"
        >
          <ion-segment-button value="overview">
            <ion-label>Overview</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="SI"
            *ngIf="user.permissionsList.includes('Site Instructions') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
          >
            <ion-label
              >Site Instructions
              <!-- <ng-container *ngIf="instructions$ | async as instructions">
                <ion-badge
                  shape="round"
                  mode="ios"
                  color="danger"
                  *ngIf="instructions.length > 0"
                >
                  {{instructions.length}}
                </ion-badge>
              </ng-container> -->
            </ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="handovers"
            *ngIf="user.permissionsList.includes('Handovers') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
          >
            <ion-label>Handovers</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="inspections"
            *ngIf="user.permissionsList.includes('Inspections') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
          >
            <ion-label>Inspections</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="dismantles"
            *ngIf="user.permissionsList.includes('Dismantles') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
          >
            <ion-label>Dismantles</ion-label>
          </ion-segment-button>
          <!-- <ion-segment-button value="modifications">
            <ion-label>Modifications</ion-label>
          </ion-segment-button> -->
          <!-- <ion-segment-button
            value="invoices"
            *ngIf="(user.permissionsList.includes('Invoices') || user.permissionsList.includes('Super Admin') || user.role === 'Owner') && !company?.removeBilling"
          >
            <ion-label>Invoices</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="payments"
            *ngIf="(user.permissionsList.includes('Payments') || user.permissionsList.includes('Super Admin') || user.role === 'Owner') && !company?.removeBilling"
          >
            <ion-label>Payments</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="credit"
            *ngIf="(user.permissionsList.includes('Credit Notes') || user.permissionsList.includes('Super Admin') || user.role === 'Owner') && !company?.removeBilling"
          >
            <ion-label>Credit Notes</ion-label>
          </ion-segment-button> -->
        </ion-segment>
      </ion-toolbar>
    </ng-container>
  </app-header>

  <ion-content fullscreen="true" class="ion-padding">
    <ng-container [ngSwitch]="active" *ngIf="company$ | async as company">
      <div *ngSwitchDefault class="container">
        <ion-row class="py-2">
          <ion-col size="12">
            <h3>Overview</h3>
          </ion-col>
          <ion-col>
            <ion-label>
              <h6>Code:</h6>
              <h6>Site Code:</h6>
              <h6>Date Issued:</h6>
              <h6>Start Date:</h6>
              <h6>End Date:</h6>
              <h6>Created By:</h6>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              <h6>{{ scaffold.code }}</h6>
              <h6>{{ scaffold.siteCode }}</h6>
              <h6>{{ scaffold.date | date }}</h6>
              <h6>{{ scaffold.startDate | date }}</h6>
              <h6>{{ scaffold.endDate | date }}</h6>
              <h6>{{ scaffold.createdByName }}</h6>
            </ion-label>
          </ion-col>

          <ion-col size="12" class="mt-3" *ngIf="!company.removeBilling">
            <app-scaffold-overview-table
              [scaffold]="scaffold"
            ></app-scaffold-overview-table>
          </ion-col>
          <ion-col size="12" class="mt-3" *ngIf="company.removeBilling">
            <app-scaffold-overview-table-2
              [scaffold]="scaffold"
            ></app-scaffold-overview-table-2>
          </ion-col>
        </ion-row>
      </div>
      <ng-container *ngSwitchCase="'SI'">
        <app-si-table
          [value]="instructions$"
          *ngIf="instructions$ | async else loading"
          (selectedItem)="viewInstruction($event)"
        ></app-si-table>
        <ion-fab
          class="m-2"
          vertical="bottom"
          horizontal="end"
          slot="fixed"
          *ngIf="site$ |async as site"
        >
          <ion-fab-button (click)="addInstruction(site)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ng-template #loading>
          <div class="ion-padding">
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
          </div>
        </ng-template>
      </ng-container>
      <div *ngSwitchCase="'inspections'">
        <app-inspection-table
          [value]="inspections$"
          *ngIf="inspections$ | async else loading"
          (selectedItem)="viewInspection($event)"
        ></app-inspection-table>
        <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addInspection(scaffold)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ng-template #loading>
          <div class="ion-padding">
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchCase="'handovers'">
        <app-handover-table
          [value]="handovers$"
          *ngIf="handovers$ | async else loading"
          (selectedItem)="viewHandover($event)"
        ></app-handover-table>
        <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addHandover(scaffold)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ng-template #loading>
          <div class="ion-padding">
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchCase="'dismantles'">
        <app-handover-table
          [value]="dismantles$"
          *ngIf="dismantles$ | async else loading"
          (selectedItem)="viewDismantle($event)"
        ></app-handover-table>
        <ion-fab
          class="m-2"
          vertical="bottom"
          horizontal="end"
          slot="fixed"
          *ngIf="scaffold.status!== 'Dismantled' && scaffold?.latestHandover"
        >
          <ion-fab-button (click)="addDismantle(scaffold)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ng-template #loading>
          <div class="ion-padding">
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchCase="'modifications'">
        <app-modification-table
          [value]="modifications$"
          *ngIf="modifications$ | async else loading"
          (selectedItem)="viewModification($event,scaffold)"
        ></app-modification-table>
        <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addModification(scaffold)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ng-template #loading>
          <div class="ion-padding">
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchCase="'invoices'">
        <app-invoice-table
          [value]="invoices$"
          *ngIf="invoices$ | async else loading"
          (selectedItem)="viewInvoice($event,scaffold)"
        ></app-invoice-table>
        <!-- <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addInvoice(scaffold)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab> -->
        <ng-template #loading>
          <div class="ion-padding">
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchCase="'payments'">
        <app-payments-table
          [value]="payments$"
          *ngIf="payments$ | async else loading"
          (selectedItem)="viewPayment($event)"
        ></app-payments-table>

        <ng-template #loading>
          <div class="ion-padding">
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchCase="'credit'">
        <app-credit-table
          [value]="credits$"
          *ngIf="credits$ | async else loading"
          (selectedItem)="viewCredit($event)"
        ></app-credit-table>
        <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addCredit(scaffold)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ng-template #loading>
          <div class="ion-padding">
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
            <app-skeleton-text></app-skeleton-text>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </ion-content>
</ng-container>
