<app-header title="Inventory" btnName="help" (updated)="help()">
  <ng-container *ngIf="inventoryItems$ | async as items">
    <ion-toolbar *ngIf="items.length > 0">
      <ion-segment
        scrollable
        (ionChange)="segmentChanged($event)"
        selectOnFocus="true"
        [value]="active"
        mode="md"
        *ngIf="user$ | async as user"
      >
        <ion-segment-button value="1">
          <ion-label>Overview</ion-label>
        </ion-segment-button>

        <ion-segment-button
          value="4"
          *ngIf="user.permissionsList.includes('Inventory Requests') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
        >
          <ion-label
            >Requests
            <ng-container *ngIf="submittedRequests$ | async as requests">
              <ion-badge
                shape="round"
                mode="ios"
                color="danger"
                *ngIf="requests.length > 0"
              >
                {{requests.length}}
              </ion-badge>
            </ng-container>
          </ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="2"
          *ngIf="user.permissionsList.includes('Shipments') || user.permissionsList.includes('Deliveries') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
        >
          <ion-label
            >Deliveries
            <ng-container *ngIf="pendingShipments$ | async as shipments">
              <ion-badge
                shape="round"
                mode="ios"
                color="danger"
                *ngIf="shipments.length > 0"
              >
                {{shipments.length}}
              </ion-badge>
            </ng-container>

            <ng-container *ngIf="outboundShipments$ | async as deliveries">
              <ion-badge
                shape="round"
                mode="ios"
                color="warning"
                *ngIf="deliveries.length > 0"
              >
                {{deliveries.length}}
              </ion-badge>
            </ng-container>
            <ng-container *ngIf="reservedShipments$ | async as deliveries">
              <ion-badge
                shape="round"
                mode="ios"
                color="tertiary"
                *ngIf="deliveries.length > 0"
              >
                {{deliveries.length}}
              </ion-badge>
            </ng-container>
          </ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="5"
          *ngIf="user.permissionsList.includes('Inventory Returns') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
        >
          <ion-label
            >Returns
            <ng-container *ngIf="submittedReturns$ | async as returns">
              <ion-badge
                shape="round"
                mode="ios"
                color="danger"
                *ngIf="returns.length > 0"
              >
                {{returns.length}}
              </ion-badge>
            </ng-container>
            <ng-container *ngIf="outboundReturns$ | async as returns">
              <ion-badge
                shape="round"
                mode="ios"
                color="warning"
                *ngIf="returns.length > 0"
              >
                {{returns.length}}
              </ion-badge>
            </ng-container>
          </ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="9"
          *ngIf="user.permissionsList.includes('Inventory Over Returns') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
        >
          <ion-label>
            Over Returns
            <ng-container *ngIf="openOverReturns$ | async as openReturns">
              <ion-badge
                shape="round"
                mode="ios"
                color="success"
                *ngIf="openReturns.length > 0"
              >
                {{openReturns.length}}
              </ion-badge>
            </ng-container>
          </ion-label>
        </ion-segment-button>
        <!-- <ion-segment-button
          value="7"
          *ngIf="user.permissionsList.includes('Inventory Adjustments') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
        >
          <ion-label>Adjustments </ion-label>
        </ion-segment-button> -->
        <ion-segment-button
          value="6"
          *ngIf="user.permissionsList.includes('Transfers') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
        >
          <ion-label
            >Transfers
            <ng-container *ngIf="pendingTransfers$ | async as transfers">
              <ion-badge
                shape="round"
                mode="ios"
                color="danger"
                *ngIf="transfers.length > 0"
              >
                {{transfers.length}}
              </ion-badge>
            </ng-container></ion-label
          >
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ng-container>
</app-header>

<ion-content class="ion-padding" [ngSwitch]="active">
  <ng-container *ngSwitchDefault>
    <ng-container *ngIf="inventoryItems$ | async as items; else loading">
      <div class="text-end" *ngIf="!importing && items.length !== 0">
        <ion-chip
          type="button"
          color="tertiary"
          class="me-2"
          (click)="downloadMasterlistMatrix()"
        >
          Excel Site Matrix
        </ion-chip>
        <ion-chip
          shape="round"
          color="tertiary"
          mode="ios"
          (click)="downloadMasterListXsl(items)"
          download
        >
          Excel Masterlist
        </ion-chip>
        <ion-chip
          type="button"
          color="tertiary"
          class="me-2"
          (click)="downloadMasterList(items)"
        >
          PDF Masterlist
        </ion-chip>
        <ion-chip
          type="button"
          color="success"
          class="me-2"
          (click)="bulkAdd = true"
          >Bulk Update</ion-chip
        >
        <ion-chip type="button" color="success" (click)="importing = true">
          Import Inventory
        </ion-chip>

        <ion-chip type="button" color="primary" (click)="addItem()">
          Add New Item
        </ion-chip>
      </div>
      <div
        class="text-end"
        *ngIf="(importing || bulkAdd) && items.length !== 0"
      >
        <a
          type="button"
          class="btn btn-danger btn-sm rounded-pill me-2"
          (click)="importing ? importing = false : bulkAdd = false"
          >Close</a
        >
      </div>

      <app-inventory-table
        [value]="inventoryItems$"
        *ngIf="items.length > 0 && !importing && !uploading && !bulkAdd"
        (selectedItem)="viewItem($event)"
        (viewLog)="viewLog($event)"
        (editItem)="editItem($event)"
        (duplicateItem)="duplicateItem($event)"
      >
      </app-inventory-table>
      <ion-row
        class="text-center"
        *ngIf="items.length === 0 || importing || uploading"
        style="height: 100%"
      >
        <ion-col class="m-auto">
          <div>
            <ion-text color="primary">
              <h2 class="display-6 fw-bold">Step 1</h2>
            </ion-text>
            <p>
              Download the inventory spreadsheet template.
              <a
                href="https://firebasestorage.googleapis.com/v0/b/cloudscaff-178c8.appspot.com/o/Cloudscaff_Inventory_Template_V2.xlsx?alt=media&token=4a7f334a-6f3a-4e47-911c-13db3515148d"
                download
                target="_blank"
                >Click Here</a
              >
            </p>
          </div>
          <div class="my-5">
            <ion-text color="primary">
              <h2 class="display-6 fw-bold">Step 2</h2>
            </ion-text>
            <p>Populate the template and export to CSV.</p>
          </div>
          <div>
            <ion-text color="primary">
              <h2 class="display-6 fw-bold">Step 3</h2>
            </ion-text>
            <p>Upload the CSV here to import inventory.</p>
            <ng-container *ngIf="!uploading">
              <ion-button mode="ios" (click)="fileInput.click()" shape="round">
                Upload CSV
              </ion-button>
              <input
                style="display: none"
                type="file"
                accept=".csv"
                (change)="onFileChanged($event)"
                #fileInput
              />
            </ng-container>
            <p class="text-center mt-5" *ngIf="uploading">
              <span class="fw-bold">{{uploadCounter}}</span> uploaded of
              <span class="fw-bold">{{uploadTotal}}</span>
            </p>
            <ion-progress-bar
              type="indeterminate"
              *ngIf="uploading"
              color="primary"
            ></ion-progress-bar>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="text-center" *ngIf="bulkAdd" style="height: 100%">
        <ion-col class="m-auto">
          <div>
            <ion-text color="primary">
              <h2 class="display-6 fw-bold">Step 1</h2>
            </ion-text>
            <p>
              Download the Inventory Spreadsheet List. <br />
              <ion-button
                shape="round"
                color="tertiary"
                mode="ios"
                (click)="downloadMasterListXslUpdate(items)"
                download
                >Download List</ion-button
              >
            </p>
          </div>
          <div class="my-5">
            <ion-text color="primary">
              <h2 class="display-6 fw-bold">Step 2</h2>
            </ion-text>
            <p>
              To add items, enter a <strong>positive number</strong> in the
              <strong>editQty</strong> column. <br />
              To remove items, enter a <strong>negative number</strong> in the
              <strong>editQty</strong> column. <br />
              <ion-note color="danger" class="fw-bold">
                The number you enter in the <strong>editQty</strong> column is
                the quantity change – it does not represent the final total
                quantity. <br />
                <strong>Do not delete the ID column!</strong>
              </ion-note>
              <br /><br />
              After making your updates, export to <strong>CSV</strong>. <br />
            </p>
          </div>
          <div>
            <ion-text color="primary">
              <h2 class="display-6 fw-bold">Step 3</h2>
            </ion-text>
            <p>Upload the <strong>CSV</strong> here to update Inventory Qty.</p>
            <ng-container *ngIf="!uploading">
              <ion-button mode="ios" (click)="BulkAdd.click()" shape="round">
                Upload CSV
              </ion-button>
              <input
                style="display: none"
                type="file"
                accept=".csv"
                (change)="onBulkAddChanged($event)"
                #BulkAdd
              />
            </ng-container>
            <p class="text-center mt-5" *ngIf="bulkAddUploading">
              <span class="fw-bold">{{uploadCounter}}</span> uploaded of
              <span class="fw-bold">{{uploadTotal}}</span>
            </p>
            <ion-progress-bar
              type="indeterminate"
              *ngIf="uploading"
              color="primary"
            ></ion-progress-bar>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <ion-accordion-group
      mode="ios"
      class="rounded-lg overflow-hidden mb-5"
      [multiple]="true"
      [value]="['pending','outbound']"
    >
      <ng-container *ngIf="pendingShipments$ | async as ps else loading">
        <ion-accordion value="pending">
          <ion-item slot="header" color="light">
            <ion-label color="primary"
              >Pending Deliveries ({{ps.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-delivery-table
              [value]="pendingShipments$"
              (selectedItem)="viewShipment($event)"
            ></app-delivery-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="outboundShipments$ | async as os else loading">
        <ion-accordion value="outbound">
          <ion-item slot="header" color="light">
            <ion-label color="warning"
              >Outbound Deliveries ({{os.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-delivery-table
              [value]="outboundShipments$"
              (selectedItem)="viewShipment($event)"
            ></app-delivery-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="reservedShipments$ | async as rs else loading">
        <ion-accordion value="reserved">
          <ion-item slot="header" color="light">
            <ion-label color="tertiary"
              >Reserved Deliveries ({{rs.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-delivery-table
              [value]="reservedShipments$"
              (selectedItem)="viewShipment($event)"
            ></app-delivery-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="shipments$ | async as s else loading">
        <ion-accordion value="sent">
          <ion-item slot="header" color="light">
            <ion-label color="success"
              >Completed Deliveries ({{s.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-delivery-table
              [value]="shipments$"
              (selectedItem)="viewShipment($event)"
            ></app-delivery-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="voidShipments$ | async as vs else loading">
        <ion-accordion value="void">
          <ion-item slot="header" color="light">
            <ion-label color="danger"
              >Voided Deliveries ({{vs.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-delivery-table
              [value]="voidShipments$"
              (selectedItem)="viewShipment($event)"
            ></app-delivery-table>
          </div>
        </ion-accordion>
      </ng-container>
    </ion-accordion-group>

    <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addShipment()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
  <ng-container *ngSwitchCase="4">
    <ion-accordion-group
      mode="ios"
      class="rounded-lg overflow-hidden"
      [multiple]="true"
      [value]="['pending']"
    >
      <ng-container *ngIf="submittedRequests$ | async as sr else loading">
        <ion-accordion value="pending">
          <ion-item slot="header" color="light">
            <ion-label color="primary"
              >Submitted Requests ({{sr.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-requests-table
              [value]="submittedRequests$"
              (selectedItem)="viewRequest($event)"
            ></app-requests-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="partialRequests$ | async as pr else loading">
        <ion-accordion value="partial">
          <ion-item slot="header" color="light">
            <ion-label color="tertiary"
              >Partially Delivered Requests ({{pr.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-requests-table
              [value]="partialRequests$"
              (selectedItem)="viewRequest($event)"
            ></app-requests-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="requests$ | async as r else loading">
        <ion-accordion value="approved">
          <ion-item slot="header" color="light">
            <ion-label color="success"
              >Approved Requests ({{r.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-requests-table
              [value]="requests$"
              (selectedItem)="viewRequest($event)"
            ></app-requests-table>
          </div>
        </ion-accordion>
      </ng-container>
    </ion-accordion-group>
  </ng-container>
  <ng-container *ngSwitchCase="5">
    <ion-accordion-group
      mode="ios"
      class="rounded-lg overflow-hidden"
      [multiple]="true"
      [value]="['pending','outbound']"
    >
      <ng-container *ngIf="submittedReturns$ | async as sr else loading">
        <ion-accordion value="pending">
          <ion-item slot="header" color="light">
            <ion-label color="primary"
              >Submitted Returns ({{sr.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-returns-table
              [value]="submittedReturns$"
              (selectedItem)="viewReturn($event)"
            ></app-returns-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="outboundReturns$ | async as or else loading">
        <ion-accordion value="outbound">
          <ion-item slot="header" color="light">
            <ion-label color="warning"
              >Outbound Returns ({{or.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-returns-table
              [value]="outboundReturns$"
              (selectedItem)="viewReturn($event)"
            ></app-returns-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="returns$ | async as r else loading">
        <ion-accordion value="approved">
          <ion-item slot="header" color="light">
            <ion-label color="success"
              >Completed Returns ({{r.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-returns-table
              [allowReports]="true"
              [value]="returns$"
              (selectedItem)="viewReturn($event)"
            ></app-returns-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="voidReturns$ | async as vr else loading">
        <ion-accordion value="void">
          <ion-item slot="header" color="light">
            <ion-label color="danger">Voided Returns ({{vr.length}})</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-returns-table
              [value]="voidReturns$"
              (selectedItem)="viewReturn($event)"
            ></app-returns-table>
          </div>
        </ion-accordion>
      </ng-container>
    </ion-accordion-group>
    <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addReturn()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
  <ng-container *ngSwitchCase="6">
    <ion-accordion-group
      mode="ios"
      class="rounded-lg overflow-hidden mb-5"
      [multiple]="true"
      [value]="['pending']"
    >
      <ng-container *ngIf="pendingTransfers$ | async as pt else loading">
        <ion-accordion value="pending">
          <ion-item slot="header" color="light">
            <ion-label color="primary"
              >Pending Transfers ({{pt.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-transfer-table
              [value]="pendingTransfers$"
              (selectedItem)="viewTransfer($event)"
            ></app-transfer-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="transfers$ | async as t else loading">
        <ion-accordion value="sent">
          <ion-item slot="header" color="light">
            <ion-label color="success"
              >Completed Transfers ({{t.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-transfer-table
              [value]="transfers$"
              (selectedItem)="viewTransfer($event)"
            ></app-transfer-table>
          </div>
        </ion-accordion>
      </ng-container>
    </ion-accordion-group>
    <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addTransfer()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
  <ng-container *ngSwitchCase="7">
    <ion-accordion-group
      mode="ios"
      class="rounded-lg overflow-hidden"
      [multiple]="true"
      [value]="['approved',]"
    >
      <ng-container *ngIf="returns$ | async as r else loading">
        <ion-accordion value="approved">
          <ion-item slot="header" color="light">
            <ion-label color="success"
              >Completed Adjustments ({{r.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-returns-table
              [value]="returns$"
              (selectedItem)="viewReturn($event)"
            ></app-returns-table>
          </div>
        </ion-accordion>
      </ng-container>
    </ion-accordion-group>
    <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addAdjustment()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
  <ng-container *ngSwitchCase="9">
    <ion-accordion-group
      mode="ios"
      class="rounded-lg overflow-hidden"
      [multiple]="true"
      [value]="['open']"
    >
      <ion-accordion
        value="pending"
        *ngIf="openOverReturns$ | async as oor else loading"
      >
        <ion-item slot="header" color="light">
          <ion-label color="success">Open ({{oor.length}})</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-returns-table
            [value]="openOverReturns$"
            (selectedItem)="viewOverReturn($event)"
          ></app-returns-table>
        </div>
      </ion-accordion>
      <ion-accordion
        value="reversed"
        *ngIf="reversedOverReturns$ | async as ror else loading"
      >
        <ion-item slot="header" color="light">
          <ion-label color="tertiary">Reversed ({{ror.length}})</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-returns-table
            [value]="reversedOverReturns$"
            (selectedItem)="viewOverReturn($event)"
          ></app-returns-table>
        </div>
      </ion-accordion>
      <ion-accordion
        value="approved"
        *ngIf="closedOverReturns$ | async as cor else loading"
      >
        <ion-item slot="header" color="light">
          <ion-label color="danger">Closed ({{cor.length}})</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-returns-table
            [value]="closedOverReturns$"
            (selectedItem)="viewOverReturn($event)"
          ></app-returns-table>
        </div>
      </ion-accordion>
      <!-- <ng-container *ngIf="outboundReturns$ | async as or else loading">
        <ion-accordion value="outbound">
          <ion-item slot="header" color="light">
            <ion-label color="warning"
              >Outbound Returns ({{or.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-returns-table
              [value]="outboundReturns$"
              (selectedItem)="viewReturn($event)"
            ></app-returns-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="returns$ | async as r else loading">
        <ion-accordion value="approved">
          <ion-item slot="header" color="light">
            <ion-label color="success"
              >Completed Returns ({{r.length}})</ion-label
            >
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-returns-table
              [allowReports]="true"
              [value]="returns$"
              (selectedItem)="viewReturn($event)"
            ></app-returns-table>
          </div>
        </ion-accordion>
      </ng-container>
      <ng-container *ngIf="voidReturns$ | async as vr else loading">
        <ion-accordion value="void">
          <ion-item slot="header" color="light">
            <ion-label color="danger">Voided Returns ({{vr.length}})</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-returns-table
              [value]="voidReturns$"
              (selectedItem)="viewReturn($event)"
            ></app-returns-table>
          </div>
        </ion-accordion>
      </ng-container> -->
    </ion-accordion-group>
  </ng-container>
  <ng-template #loading>
    <div class="ion-padding">
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
    </div>
  </ng-template>
</ion-content>
