<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" color="primary" mode="md">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      >{{ isEdit ? "Update Basic Estimate" : "Create Basic Estimate" }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="estimate.status === 'pending'"
        slot="end"
        fill="solid"
        shape="round"
        class="text-capitalize"
        (click)="isEdit ? updateEstimate('pending') : createEstimate()"
        color="primary"
      >
        Save
      </ion-button>
      <ion-button
        *ngIf="
          estimate.status === 'rejected' &&
          (user.permissionsList.includes('Estimates') ||
            user.permissionsList.includes('Super Admin') ||
            user.role === 'Owner')
        "
        slot="end"
        fill="solid"
        shape="round"
        class="text-capitalize"
        (click)="isEdit ? updateEstimate('pending') : createEstimate()"
        color="success"
      >
        Activate Estimate
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      scrollable
      (ionChange)="segmentChanged($event)"
      selectOnFocus="true"
      [value]="active"
      mode="md"
    >
      <ion-segment-button value="overview">
        <ion-label>Overview</ion-label>
      </ion-segment-button>
      <ion-segment-button value="items">
        <ion-label>Items</ion-label>
      </ion-segment-button>
      <ion-segment-button value="summary">
        <ion-label>Summary</ion-label>
      </ion-segment-button>
      <ion-segment-button value="comments" *ngIf="isEdit">
        <ion-label>Comments</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="company" [ngSwitch]="active">
    <form name="estimate" [formGroup]="form" *ngIf="!isLoading && form">
      <!-- OVERVIEW TAB -->
      <ion-grid [hidden]="active !== 'overview'">
        <ion-row class="card-outline mb-3">
          <ion-col size="12">
            <ion-text color="medium">
              <h4>Customer Information</h4>
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <app-input-reactive
              title="Site Name"
              controlName="siteName"
              [form]="form"
              placeholder="Enter Site Name"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col size="12">
            <app-input-reactive
              title="Representative Name"
              controlName="repName"
              [form]="form"
              placeholder="Enter Representative Name"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col size="12">
            <app-input-reactive
              title="Representative Email"
              controlName="repEmail"
              type="email"
              [form]="form"
              placeholder="Enter Representative Rmail"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col size="12">
            <app-input-reactive
              title="Representative Contact"
              controlName="repContact"
              [form]="form"
              placeholder="Enter Representative Contact"
            >
            </app-input-reactive>
          </ion-col>
        </ion-row>
        <ion-row class="card-outline mb-3">
          <ion-col size="12">
            <app-searchable-select
              (click)="select.open()"
              *ngIf="customers$ | async as customers"
              title="Select Customer"
              [data]="customers"
              itemTextField="name"
              [add]="true"
              (selectedChanged)="changeCustomer($event)"
              #select
            ></app-searchable-select>
          </ion-col>
          <ion-col size="12" *ngIf="show === 'editCustomer'">
            <app-customer
              [customer]="field('customer').value"
              [isUpdate]="
                estimate.status === 'pending' || estimate.status === 'revised'
              "
              [isCreate]="false"
              [companyId]="company.id"
            >
            </app-customer>
          </ion-col>
          <ion-col size="12" *ngIf="show === 'addCustomer'">
            <app-customer
              [companyId]="company.id"
              (newCustomer)="newCustomer($event)"
              [isCreate]="true"
            >
            </app-customer>
          </ion-col>
        </ion-row>
        <ion-row class="card-outline mb-3">
          <ion-col size="12">
            <ion-item
              fill="solid"
              lines="none"
              class="rounded-3 my-3"
              mode="md"
            >
              <ion-label position="stacked">Scope of works</ion-label>
              <ion-textarea
                formControlName="scope"
                autoGrow="true"
              ></ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <app-input-reactive
              title="Discount %"
              controlName="discountPercentage"
              [form]="form"
              placeholder="Enter a discount %"
            >
            </app-input-reactive>
          </ion-col>
        </ion-row>
        <ion-row class="card-outline mb-3">
          <ion-col size="12" *ngIf="estimate.status === 'pending'">
            <app-multiuploader></app-multiuploader>
          </ion-col>
          <ion-col size="12">
            <app-title-block> Uploaded Files </app-title-block>
          </ion-col>
          <ion-col
            sizeXl="2"
            sizeLg="3"
            sizeMd="4"
            size="6"
            *ngFor="let file of estimate.uploads; let i = index"
          >
            <app-file-item [file]="file" [allowDelete]="false"></app-file-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- ITEMS TAB -->

      <ion-grid *ngSwitchCase="'items'">
        <ion-row
          formArrayName="items"
          class="mb-3 card-outline"
          *ngFor="let item of itemForms.controls; let i = index"
        >
          <ion-col size="12">
            <ion-note> Item {{ i + 1 }} </ion-note>
            <ion-chip
              outline
              color="danger"
              class="ion-float-end"
              (click)="deleteItem(i)"
            >
              <ion-label>Delete</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col sizeMd="6" size="12">
            <app-input-reactive
              title="Description"
              [textarea]="true"
              controlName="description"
              [form]="item"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col sizeMd="6" size="12">
            <app-input-reactive
              title="Note"
              [optional]="true"
              [textarea]="true"
              controlName="note"
              [form]="item"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Item Code"
              controlName="code"
              [form]="item"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-select-reactive
              title="Unit"
              placeholder="Select unit"
              controlName="unit"
              [form]="item"
              [selectedText]="arrField('items', i, 'unit').value"
            >
              <ion-select-option value="m²"
                >Square Meter (m²)</ion-select-option
              >
              <ion-select-option value="m³">Cubic Meter (m³)</ion-select-option>
              <ion-select-option value="Hour">Hour</ion-select-option>
              <ion-select-option value="Lump Sum">Lump Sum</ion-select-option>
              <ion-select-option value="Set">Set</ion-select-option>
            </app-input-select-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Qty"
              type="number"
              controlName="qty"
              [form]="item"
              (fieldChange)="updateTotal(i)"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Duration / Months"
              type="number"
              controlName="duration"
              [form]="item"
              (fieldChange)="updateTotal(i)"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Rent / Month ({{ company.currency.symbol }})"
              type="number"
              controlName="rate"
              [form]="item"
              (fieldChange)="updateTotal(i)"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col>
            <app-input-reactive
              title="Total ({{ company.currency.symbol }})"
              type="number"
              controlName="total"
              [form]="item"
              placeholder="Total"
            >
            </app-input-reactive>
          </ion-col>
        </ion-row>
        <ion-row class="mb-3">
          <ion-col>
            <ion-fab-button
              size="small"
              class="m-auto"
              color="success"
              (click)="addItem()"
            >
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- SUMMARY TAB -->

      <ion-grid *ngSwitchCase="'summary'">
        <app-estimate-summary-v2
          [value]="estimate"
          [canDownload]="isEdit && form.valid"
        ></app-estimate-summary-v2>
        <ion-row>
          <ion-col size="12">
            <ion-item fill="solid" lines="none" class="rounded-3 mb-3">
              <ion-label
                >Exclude {{ company?.gst ? "GST" : "VAT" }} on
                Estimate</ion-label
              >
              <ion-checkbox
                mode="ios"
                slot="end"
                [checked]="field('excludeVAT').value"
                (ionChange)="excludeVAT($event)"
                [disabled]="
                  estimate.status !== 'pending' && estimate.status !== 'revised'
                "
              ></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item
              fill="solid"
              lines="none"
              class="rounded-3 my-3"
              mode="md"
            >
              <ion-label position="stacked">Note: Rental Manpower</ion-label>
              <ion-textarea
                formControlName="note1"
                autoGrow="true"
              ></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item
              fill="solid"
              lines="none"
              class="rounded-3 my-3"
              mode="md"
            >
              <ion-label position="stacked">Note: Rental Material</ion-label>
              <ion-textarea
                formControlName="note2"
                autoGrow="true"
              ></ion-textarea>
            </ion-item>
          </ion-col>

          <ion-progress-bar
            type="indeterminate"
            *ngIf="loading"
          ></ion-progress-bar>

          <ion-col size="6">
            <ng-container
              *ngIf="
                isEdit &&
                (estimate.status === 'pending' || estimate.status === 'revised')
              "
            >
              <ion-button
                shape="round"
                color="danger"
                [disabled]="form.invalid"
                (click)="updateEstimate('rejected')"
                >Rejected</ion-button
              ></ng-container
            >
          </ion-col>
          <ion-col size="6" class="text-end">
            <ion-button
              shape="round"
              [disabled]="form.invalid"
              *ngIf="
                isEdit &&
                (estimate.status === 'pending' || estimate.status === 'revised')
              "
              (click)="updateEstimate(estimate.status)"
              >Update Estimate</ion-button
            >
            <ion-button
              shape="round"
              color="success"
              *ngIf="
                isEdit &&
                (estimate.status === 'pending' || estimate.status === 'revised')
              "
              [disabled]="form.invalid"
              (click)="acceptEstimate()"
            >
              Accepted
            </ion-button>
            <ion-button
              size="block"
              shape="round"
              *ngIf="!isEdit"
              (click)="createEstimate()"
              >Save Estimate</ion-button
            >
          </ion-col>
          <!-- <ion-col
            class="text-end"
            *ngIf="isEdit && estimate.status === 'pending'"
          >
            <ion-button
              size="block"
              shape="round"
              color="tertiary"
              [disabled]="form.invalid"
              (click)="createRevision()"
              >Create Revision</ion-button
            >
          </ion-col> -->
          <!-- <ion-col
            size="12"
            *ngIf="
              user.permissionsList.includes('Super Admin') ||
              user.role === 'Owner'
            "
          >
            <ion-button
              fill="outline"
              size="block"
              shape="round"
              color="danger"
              (click)="deleteEstimate()"
              >Delete Estimate</ion-button
            >
          </ion-col> -->
        </ion-row>
      </ion-grid>

      <ion-grid *ngSwitchCase="'comments'">
        <ion-row *ngIf="isEdit">
          <ion-col size="12">
            <ion-progress-bar
              type="indeterminate"
              *ngIf="addingComment"
            ></ion-progress-bar>
            <app-input-text
              title="Comment"
              [optional]="true"
              [value]="newComment"
              [textarea]="true"
              (fieldChange)="newComment = $event"
            ></app-input-text>
            <ion-button
              size="block"
              shape="round"
              color="success"
              (click)="addComment()"
              *ngIf="!addingComment"
              >Add Comment</ion-button
            >
          </ion-col>

          <ion-col size="12">
            <ion-list>
              <ion-list-header>
                <ion-text
                  ><h3>
                    {{ estimate.comments ? estimate.comments.length : 0 }}
                    Comments
                  </h3></ion-text
                >
              </ion-list-header>
              <ion-row *ngIf="estimate.comments">
                <ion-col
                  size="12"
                  *ngFor="let item of estimate.comments.reverse()"
                >
                  <div class="card p-3 gap">
                    <div class="d-flex mb-2">
                      <ion-avatar> <img [src]="item.image" /> </ion-avatar>
                      <div class="my-auto ps-2">
                        <ion-text class="h6">{{ item.name }} </ion-text><br />
                        <ion-text color="medium">
                          {{
                            (item.date.toDate ? item.date.toDate() : item.date)
                              | dateFormat
                              | date : "dd MMM yyyy HH:mm"
                          }}
                        </ion-text>
                      </div>
                    </div>
                    <div>
                      <ion-text color="medium">
                        {{ item.message }}
                      </ion-text>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
