<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ !isEdit ? "Add Item" : "Edit Item" }} </ion-title>
    <ion-buttons slot="end"> </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <app-title-block>Component Details</app-title-block>
      <ion-row class="card-outline mb-3">
        <ion-col sizeMd="3" size="12">
          <app-input-reactive
            title="Item Code"
            controlName="code"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="3" size="12">
          <app-input-reactive
            title="Category"
            controlName="category"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="3" size="12">
          <app-input-reactive title="Size" controlName="size" [form]="form">
          </app-input-reactive>
        </ion-col>

        <ion-col sizeMd="3" size="12">
          <app-input-select-reactive
            title="Type"
            placeholder="Select Type"
            controlName="type"
            [form]="form"
            [selectedText]="field('type').value || ''"
          >
            <ion-select-option value="Component"> Component </ion-select-option>
            <ion-select-option value="Consumable">
              Consumable
            </ion-select-option>
            <ion-select-option value="Motor"> Motor </ion-select-option>
          </app-input-select-reactive>
        </ion-col>
        <ion-col sizeMd="6" size="12">
          <app-input-select-reactive
            title="Storage Type"
            placeholder="Select Storage Type"
            controlName="type"
            [form]="form"
            [selectedText]="field('storageType').value || ''"
          >
            <ion-select-option value="stillage"> Stillage </ion-select-option>
            <ion-select-option value="tiberPallet">
              Tiber pallet
            </ion-select-option>
          </app-input-select-reactive>
        </ion-col>
        <ion-col sizeMd="6" size="12">
          <app-input-reactive
            title="Storage Pack"
            controlName="storageQty"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="6" size="12">
          <app-input-reactive
            title="Location"
            controlName="location"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="6" size="12">
          <app-input-reactive
            title="Description"
            controlName="name"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="3" size="12">
          <app-input-reactive
            title="Location"
            controlName="location"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="3" size="12">
          <app-input-reactive
            title="Supplier"
            controlName="supplier"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="2" size="12">
          <app-input-reactive
            title="Weight  ({{ company.mass.symbol }})"
            inputmode="numeric"
            type="number"
            controlName="weight"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="2" size="12">
          <app-input-reactive
            title="Hire/Rent Cost ({{ company.currency.symbol }})"
            inputmode="numeric"
            type="number"
            controlName="hireCost"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="2" size="12">
          <app-input-reactive
            title="Replacement Cost ({{ company.currency.symbol }})"
            inputmode="numeric"
            type="number"
            controlName="replacementCost"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="2" size="12">
          <app-input-reactive
            title="Selling Cost ({{ company.currency.symbol }})"
            inputmode="numeric"
            type="number"
            controlName="sellingCost"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="4" size="12">
          <app-input-reactive
            title="Low Level Alert %"
            inputmode="numeric"
            type="number"
            controlName="lowPercentage"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col size="12" *ngIf="!isEdit">
          <app-input-reactive
            title="Total Qty"
            inputmode="numeric"
            type="number"
            controlName="yardQty"
            [form]="form"
            (fieldChange)="update()"
          >
          </app-input-reactive>
        </ion-col>
        <ng-container *ngIf="isEdit">
          <ion-col sizeMd="3" size="6">
            <app-input-reactive
              title="Total Qty"
              inputmode="numeric"
              type="number"
              controlName="yardQty"
              [form]="form"
              [readonly]="true"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col sizeMd="3" size="6">
            <app-input-reactive
              title="In Use Qty"
              inputmode="numeric"
              type="number"
              controlName="inUseQty"
              [form]="form"
              [readonly]="true"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col sizeMd="3" size="6">
            <app-input-reactive
              title="Reserved Qty"
              inputmode="numeric"
              type="number"
              controlName="reservedQty"
              [form]="form"
              [readonly]="true"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col sizeMd="3" size="6">
            <app-input-text
              title="Available Qty"
              inputmode="numeric"
              type="number"
              [value]="
                field('yardQty').value -
                field('inUseQty').value -
                field('inMaintenanceQty').value -
                field('damagedQty').value -
                field('reservedQty').value
              "
              [readonly]="true"
            >
            </app-input-text>
          </ion-col>
        </ng-container>
        <ion-col size="12" class="text-end">
          <ion-progress-bar
            type="indeterminate"
            *ngIf="loading"
          ></ion-progress-bar>
          <ion-button
            shape="round"
            [disabled]="form.invalid"
            *ngIf="!isEdit && !loading"
            (click)="createItem()"
            >Add Item</ion-button
          >
          <ion-button
            shape="round"
            [disabled]="form.invalid"
            *ngIf="isEdit && !loading"
            (click)="updateItem()"
            >Update Item</ion-button
          >
        </ion-col>
      </ion-row>

      <!-- movement section start -->
      <ng-container *ngIf="isEdit">
        <app-title-block>Manage Qty</app-title-block>
        <app-inventory-movement
          [inventoryItem]="inventoryItem"
          (movementCompleted)="onMovementCompleted($event)"
        >
        </app-inventory-movement>
      </ng-container>
      <!-- movement section end -->

      <ion-row *ngIf="isEdit">
        <ion-col size="12">
          <app-title-block>Log history</app-title-block>
          <div class="mt-3 table-responsive card-outline">
            <table class="table table-sm table-bordered">
              <thead>
                <tr class="table-light align-middle text-center">
                  <th>#</th>
                  <th class="text-start">Status</th>
                  <th class="text-start">Comment</th>
                  <th>User</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let log of inventoryItem.log; let i = index"
                >
                  <tr class="small text-center align-middle">
                    <td>{{ i + 1 }}</td>
                    <td
                      class="text-start"
                      [ngClass]="
                        log.status === 'add'
                          ? 'text-success'
                          : log.status === 'remove'
                          ? 'text-danger'
                          : 'text-warning'
                      "
                    >
                      {{ log.message }}
                    </td>
                    <td class="text-start">
                      {{ log.comment }}
                    </td>
                    <td>{{ log.user.name }}</td>
                    <td>
                      {{
                        (log.date.toDate ? log.date.toDate() : log.date)
                          | date : "dd/MM/yy HH:mm"
                      }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
