<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ !isEdit ? "Add Item" : "Edit Item" }} </ion-title>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="showUndo"
        slot="end"
        fill="solid"
        shape="round"
        class="text-capitalize"
        color="danger"
        (click)="undo()"
      >
        Undo
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="6" size="12">
          <ng-container *ngIf="categories$ | async as categories">
            <app-searchable-select
              (click)="select.open()"
              title="Select Category"
              [data]="categories.categories"
              itemTextField="name"
              [add]="true"
              (selectedChanged)="changeCategory($event)"
              #select
            ></app-searchable-select>
          </ng-container>
        </ion-col>
        <ion-col sizeMd="6" size="12">
          <app-input-select-reactive
            title="Size"
            placeholder="Select Size"
            controlName="size"
            [form]="form"
            [selectedText]="field('size').value"
          >
            <ion-select-option
              [value]="size.size"
              *ngFor="let size of field('categoryType').value.items"
              >{{ size.size }}
            </ion-select-option>
          </app-input-select-reactive>
        </ion-col>
        <ion-col sizeMd="4" size="12">
          <app-input-reactive title="Code" controlName="code" [form]="form">
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="8" size="12">
          <app-input-reactive
            title="Description"
            controlName="name"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col size="12" *ngIf="!isEdit">
          <app-input-reactive
            title="Yard Qty"
            type="number"
            controlName="yardQty"
            [form]="form"
            (fieldChange)="update()"
          >
          </app-input-reactive>
        </ion-col>
        <ng-container *ngIf="isEdit">
          <ion-col sizeMd="2" size="6">
            <app-input-reactive
              title="Yard Qty"
              type="number"
              controlName="yardQty"
              [form]="form"
              [readonly]="true"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col sizeMd="2" size="6">
            <app-input-reactive
              title="Maintenance Qty"
              type="number"
              controlName="inMaintenanceQty"
              [form]="form"
              [readonly]="true"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col sizeMd="2" size="6">
            <app-input-reactive
              title="Damaged Qty"
              type="number"
              controlName="damagedQty"
              [form]="form"
              [readonly]="true"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col sizeMd="2" size="6">
            <app-input-reactive
              title="Lost Qty"
              type="number"
              controlName="lostQty"
              [form]="form"
              [readonly]="true"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col sizeMd="2" size="6">
            <app-input-reactive
              title="In Use Qty"
              type="number"
              controlName="inUseQty"
              [form]="form"
              [readonly]="true"
            >
            </app-input-reactive>
          </ion-col>
          <ion-col sizeMd="2" size="6">
            <app-input-text
              title="Available Qty"
              type="number"
              [value]="
                field('yardQty').value -
                field('inUseQty').value -
                field('inMaintenanceQty').value -
                field('lostQty').value -
                field('damagedQty').value
              "
              [readonly]="true"
            >
            </app-input-text>
          </ion-col>
          <ion-col size="4">
            <app-input-text
              title="Remove Yard Qty"
              [optional]="true"
              type="number"
              [value]="removeQty"
              (fieldChange)="removeQty = $event"
            ></app-input-text>
            <ion-button
              id="add"
              class="float-end"
              size="small"
              color="danger"
              shape="round"
              (click)="removeYardQty()"
            >
              Remove
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <app-input-text
              title="Add Yard Qty"
              [optional]="true"
              [value]="addQty"
              type="number"
              (fieldChange)="addQty = $event"
            ></app-input-text>
            <ion-button
              id="add"
              class="float-end"
              size="small"
              color="success"
              shape="round"
              (click)="addYardQty()"
            >
              Add
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <app-input-text
              title="Move Maintenance to Available"
              [optional]="true"
              type="number"
              [value]="moveQty"
              (fieldChange)="moveQty = $event"
            ></app-input-text>
            <ion-button
              id="add"
              class="float-end"
              size="small"
              color="warning"
              shape="round"
              (click)="moveToYard()"
            >
              Move
            </ion-button>
          </ion-col>
        </ng-container>
        <!-- <ion-col sizeMd="4">
          <app-input-reactive
            title="Cross Hire Qty"
            type="number"
            controlName="crossHireQty"
            [form]="form"
            [readonly]="true"
          >
          </app-input-reactive>
        </ion-col> -->
        <!-- <ion-col sizeMd="4" size="12">
          <app-input-reactive
            title="Total Qty "
            type="number"
            controlName="availableQty"
            [form]="form"
            [readonly]="true"
          >
          </app-input-reactive>
        </ion-col> -->
        <ion-col size="12">
          <app-input-reactive
            title="Weight  ({{ company.mass.symbol }})"
            type="number"
            controlName="weight"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="4" size="12">
          <app-input-reactive
            title="Hire/Rent Cost ({{ company.currency.symbol }})"
            type="number"
            controlName="hireCost"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="4" size="12">
          <app-input-reactive
            title="Replacement Cost ({{ company.currency.symbol }})"
            type="number"
            controlName="replacementCost"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col sizeMd="4" size="12">
          <app-input-reactive
            title="Selling Cost ({{ company.currency.symbol }})"
            type="number"
            controlName="sellingCost"
            [form]="form"
          >
          </app-input-reactive>
        </ion-col>
      </ion-row>
      <!-- <ion-row
        formArrayName="crossHire"
        class="mb-3"
        *ngFor="let hire of crossHireForms.controls; let i = index"
      >
        <ion-col sizeMd="12">
          <ion-note> Cross Hire {{ i + 1 }} </ion-note>
          <ion-chip
            outline
            color="danger"
            class="ion-float-end"
            (click)="deleteCrossHire(i)"
          >
            <ion-label>Delete</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <app-input-reactive
            title="Company"
            controlName="company"
            placeholder="Enter Company Name"
            [form]="hire"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col>
          <app-input-reactive
            title="Qty"
            type="number"
            controlName="qty"
            [form]="hire"
            (fieldChange)="update()"
          >
          </app-input-reactive>
        </ion-col>
        <ion-col>
          <app-input-date
            [form]="hire"
            controlName="date"
            title="Hire Date"
          ></app-input-date>
        </ion-col>
        <ion-col sizeMd="12">
          <app-input-reactive
            title="Notes"
            [textarea]="true"
            controlName="notes"
            placeholder="Enter any notes..."
            [form]="hire"
          >
          </app-input-reactive>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <!-- <ion-col sizeMd="12" class="text-center">
          <ion-button
            shape="round"
            color="success"
            (click)="addCrossHire()"
            *ngIf="!loading"
          >
            Add Cross Hire
          </ion-button>
        </ion-col> -->
        <ion-col size="12" class="text-end">
          <ion-progress-bar
            type="indeterminate"
            *ngIf="loading"
          ></ion-progress-bar>
          <ion-button
            shape="round"
            [disabled]="form.invalid"
            *ngIf="!isEdit && !loading"
            (click)="createItem()"
            >Add Item</ion-button
          >
          <ion-button
            shape="round"
            [disabled]="form.invalid"
            *ngIf="isEdit && !loading"
            (click)="updateItem()"
            >Update Item</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isEdit">
        <ion-col size="12">
          <app-title-block>Log history</app-title-block>
          <div class="mt-3 table-responsive">
            <table class="table table-sm table-bordered">
              <thead>
                <tr class="table-light align-middle text-center">
                  <th>#</th>
                  <th class="text-start">Message</th>
                  <th>User</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let log of inventoryItem.log; let i = index"
                >
                  <tr class="small text-center align-middle">
                    <td>{{ i + 1 }}</td>
                    <td
                      class="text-start"
                      [ngClass]="
                        log.status === 'add'
                          ? 'text-success'
                          : log.status === 'remove'
                          ? 'text-danger'
                          : 'text-warning'
                      "
                    >
                      {{ log.message }}
                    </td>
                    <td>{{ log.user.name }}</td>
                    <td>
                      {{
                        (log.date.toDate ? log.date.toDate() : log.date)
                          | date : "dd/MM/yy HH:mm"
                      }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
