<app-header title="Dashboard"></app-header>

<ion-content fullscreen="true">
  <div>
    <ion-row>
      <ion-col
        sizeLg="3"
        sizeMd="6"
        size="12"
        *ngFor="let item of [].constructor(1)"
      >
        <app-dashboard-card-mini
          color="success"
          icon="cash-outline"
          title="Total Estimated Income"
          total="30000"
        ></app-dashboard-card-mini>
      </ion-col>
      <ion-col
        sizeLg="3"
        sizeMd="6"
        size="12"
        *ngFor="let item of [].constructor(1)"
      >
        <app-dashboard-card-mini
          color="danger"
          icon="arrow-down-outline"
          title="Total Income Lost"
          total="10000"
        ></app-dashboard-card-mini>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
