<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ estimate.code }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="container ion-padding">
    <div class="card-outline">
      <app-estimate-summary [estimate]="estimate"></app-estimate-summary>
    </div>
  </div>
</ion-content>
