<ion-row class="py-2">
  <ion-col size="12">
    <ion-item class="ion-no-padding" lines="none" color="none">
      <ion-text>
        <h3>ESTIMATE</h3>
      </ion-text>
      <ion-buttons slot="end" *ngIf="canDownload">
        <ion-button
          (click)="download(terms)"
          *ngIf="terms$ | async as terms; else noTerms"
          color="primary"
        >
          <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
        </ion-button>
        <ng-template #noTerms>
          <ion-button (click)="download(null)" color="primary">
            <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
          </ion-button>
        </ng-template>
      </ion-buttons>
    </ion-item>
  </ion-col>
  <ion-col size="6">
    <ion-label>
      <h6>Code:</h6>
      <h6>Site name:</h6>
      <h6>Date Issued:</h6>
    </ion-label>
  </ion-col>
  <ion-col size="6">
    <ion-label>
      <h6>
        {{ estimate.code }}
      </h6>
      <h6>
        {{ estimate.siteName }}
      </h6>
      <h6>
        {{ estimate.date | date }}
      </h6>
    </ion-label>
  </ion-col>
</ion-row>
<ion-item-divider mode="md"></ion-item-divider>

<app-company-info-detail
  [customer]="estimate.customer"
></app-company-info-detail>

<ion-item-divider mode="md"></ion-item-divider>

<ion-row class="py-2">
  <ion-col size="12">
    <ion-label color="medium">
      <h6>Message</h6>
    </ion-label>
  </ion-col>
  <ion-col size="12">
    <p [innerText]="estimate.message"></p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th scope="col">Description</th>
          <th class="text-center" scope="col">Qty</th>
          <th class="text-end" scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-center" scope="row">1</th>
          <td colspan="3">Scaffold Details</td>
        </tr>
        <!-- SCAFFOLD -->
        <tr class="small">
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.scaffold }} Level
            {{ estimate.scaffold.level ? estimate.scaffold.level : 0 }} - ({{
              estimate.scaffold.length
            }}{{ company.measurement.symbol }} x {{ estimate.scaffold.width
            }}{{ company.measurement.symbol }} x {{ estimate.scaffold.height
            }}{{ company.measurement.symbol }})
          </td>
          <td class="text-center">1</td>
          <td class="text-end">
            {{ company.currency.symbol }}
            {{ estimate.scaffold.total | number: "0.2-2" }}
          </td>
        </tr>
        <!-- SCAFFOLD ATTACHMENTS -->
        <tr
          class="small"
          *ngFor="let item of estimate.attachments; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.scaffold }} Level
            {{ item.level ? item.level : 0 }} - ({{ item.length
            }}{{ company.measurement.symbol }} x {{ item.width
            }}{{ company.measurement.symbol }} x {{ item.height
            }}{{ company.measurement.symbol }})
          </td>
          <td class="text-center">1</td>
          <td class="text-end">
            {{ company.currency.symbol }}
            {{ item.total | number: "0.2-2" }}
          </td>
        </tr>
        <!-- BOARDS -->
        <tr class="small" *ngFor="let item of estimate.boards; let i = index">
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.boards }} - ({{ item.length
            }}{{ company.measurement.symbol }} x {{ item.width
            }}{{ company.measurement.symbol }}) - Height ({{ item.height
            }}{{ company.measurement.symbol }})
          </td>
          <td class="text-center">{{ item.qty }}</td>
          <td class="text-end">
            {{ company.currency.symbol }}
            {{ item.total | number: "0.2-2" }}
          </td>
        </tr>
        <!-- HIRE -->
        <tr class="small">
          <th class="text-center" scope="row"></th>
          <td>
            {{ company.terminology.hire }} - ({{ estimate.hire.daysStanding }}
            days)
          </td>
          <td class="text-center">1</td>
          <td class="text-end">
            {{ company.currency.symbol }}
            {{ estimate.hire.total | number: "0.2-2" }}
          </td>
        </tr>
        <!-- LABOR -->
        <tr *ngIf="estimate.labour.length > 0">
          <th class="text-center" scope="row">2</th>
          <td colspan="3">Labor</td>
        </tr>
        <tr class="small" *ngFor="let item of estimate.labour; let i = index">
          <th class="text-center" scope="row"></th>
          <td>{{ item.type.name }} - {{ item.rate.name }}</td>
          <td class="text-center">{{ item.qty }}</td>
          <td class="text-end">
            {{ company.currency.symbol }} {{ item.total | number: "0.2-2" }}
          </td>
        </tr>
        <!-- ADDITIONALS -->
        <tr *ngIf="estimate.additionals.length > 0">
          <th class="text-center" scope="row">3</th>
          <td colspan="3">Additionals</td>
        </tr>
        <tr
          class="small"
          *ngFor="let item of estimate.additionals; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>{{ item.name }}</td>
          <td class="text-center">{{ item.qty }}</td>
          <td class="text-end">
            {{ company.currency.symbol }} {{ item.total | number: "0.2-2" }}
          </td>
        </tr>
      </tbody>
      <!-- FOOTER TOTALS -->
      <tfoot>
        <tr>
          <th class="text-end" colspan="2" scope="col">Subtotal</th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{ estimate.subtotal | number: "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="2" scope="col">
            Discount ({{ estimate.discountPercentage }}%)
          </th>
          <th class="text-end text-danger" colspan="2" scope="col">
            - {{ company.currency.symbol }}
            {{ estimate.discount | number: "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.salesTax > 0">
          <th class="text-end" colspan="2" scope="col">
            Sales Tax ({{ company.salesTax }}%)
          </th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }} {{ estimate.tax | number: "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.vat > 0">
          <th class="text-end" colspan="2" scope="col">
            VAT ({{ company.vat }}%)
          </th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }} {{ estimate.vat | number: "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="2" scope="col">Total</th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }} {{ estimate.total | number: "0.2-2" }}
          </th>
        </tr>
      </tfoot>
    </table>
  </ion-col>
</ion-row>
