.dropzone{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 80vw;
  font-weight: 200;
  height:300px;
  border: 2px dashed var(--ion-color-primary);
  border-radius: 5px;
  background: var(--ion-color-white);
  margin: 10px 0;
  &.hovering{
    border:2px solid var(--ion-color-primary);
    color:-var(--ion-color-light);
  }
}

.file-input {
  display: none; /* Hide the default file input */
}

.file-input-label {
  display: inline-block;
  padding: 8px 20px;
  background-color: var(--ion-color-primary);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: var(--ion-color-primary-shade);
}
