<div
  class="dropzone"
  dropzone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering"
  *ngIf="!uploading"
>
  <p class="lead fs-4 text-center p-3">
    Drag your documents, photos or videos here to upload.
  </p>
  <p class="lead">- or -</p>
  <div class="file">
    <label class="file-input-label" for="manual"> Choose file </label>
    <input
      id="manual"
      class="file-input"
      type="file"
      (change)="onDrop($event, true)"
      [multiple]="true"
    />
  </div>
</div>

<app-title-block *ngIf="files.length > 0">Files to upload</app-title-block>

<div *ngFor="let file of files; let i = index">
  <app-upload-task
    [file]="file.file"
    (deleted)="deleteFile(i)"
  ></app-upload-task>
</div>
