<ion-header>
  <ion-toolbar>
    <ion-title> Cloudscaff - Inspection </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-grid class="container" *ngIf="inspection$ | async as inspection">
    <ion-row class="py-2">
      <ion-col sizeMd="6" size="4">
        <ion-text>
          <h4>Inspection</h4>
        </ion-text>
      </ion-col>
      <ion-col sizeMd="6" size="8" class="text-end">
        <ion-button
          size="small"
          fill="clear"
          (click)="download(inspection.terms, inspection.inspection,inspection.company)"
          color="primary"
        >
          <ion-icon name="cloud-download-outline"></ion-icon>&nbsp;Download
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-label>
          <h6>Code:</h6>
          <h6>Scaffold Code:</h6>
          <h6>Site Code:</h6>
          <h6>Date Issued:</h6>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <h6>{{ inspection.inspection.code }}</h6>
          <h6>{{ inspection.inspection.scaffold.code }}</h6>
          <h6>{{ inspection.inspection.scaffold.siteCode }}</h6>
          <h6>{{ inspection.inspection.date| dateFormat | date }}</h6>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-item-divider mode="md"></ion-item-divider>

    <ion-row class="py-2">
      <ion-col size="12" sizeXl="6">
        <ion-row>
          <ion-col size="12">
            <ion-text color="medium"> To </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>Company:</h6>
              <h6>Email:</h6>
              <h6>Representative:</h6>
              <h6>Contact No:</h6>
              <h6>Registration No:</h6>
              <br />
              <h6>Address:</h6>
            </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>{{ inspection.inspection.customer.name }}</h6>
              <h6>{{ inspection.inspection.customer.email }}</h6>
              <h6>{{ inspection.inspection.customer.rep }}</h6>
              <h6>{{ inspection.inspection.customer.phone }}</h6>
              <h6>{{ inspection.inspection.customer.regNumber }}</h6>
              <br />
              <h6>
                {{ inspection.inspection.customer.address }} <br />
                {{ inspection.inspection.customer.suburb }}<br />{{
                inspection.inspection.customer.city }}<br />{{
                inspection.inspection.customer.zip }}<br />{{
                inspection.inspection.customer.country }}
              </h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" sizeXl="6">
        <ion-row>
          <ion-col size="12">
            <ion-text color="medium"> From </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>Company:</h6>
              <h6>Email:</h6>
              <h6>Representative:</h6>
              <h6>Contact No:</h6>
              <h6>Registration No:</h6>
              <br />
              <h6>Address:</h6>
            </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>{{ inspection.inspection.company.name }}</h6>
              <h6>{{ inspection.inspection.company.email }}</h6>
              <h6>N/A</h6>
              <h6>{{ inspection.inspection.company.phone }}</h6>
              <h6>{{ inspection.inspection.company.regNumber }}</h6>
              <br />
              <h6>
                {{ inspection.inspection.company.address }} <br />
                {{ inspection.inspection.company.suburb }}<br />{{
                inspection.inspection.company.city }}<br />{{
                inspection.inspection.company.zip }}<br />{{
                inspection.inspection.company.country }}
              </h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-item-divider mode="md"></ion-item-divider>
    <ion-row class="py-2">
      <ion-col>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center" scope="col">#</th>
              <th scope="col">Description</th>
              <th class="text-center" scope="col">Detail</th>
              <th class="text-center" scope="col">Qty</th>
              <th class="text-center" scope="col">Safe</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-center" scope="row">1</th>
              <td colspan="4">
                {{ inspection.company.terminology.scaffold }} Details
              </td>
            </tr>
            <!-- SCAFFOLD -->
            <tr class="small">
              <th class="text-center" scope="row"></th>
              <td>{{ inspection.company.terminology.scaffold }} Level 0</td>
              <td class="text-center">
                {{ inspection.inspection.scaffold.scaffold.length }}{{
                inspection.company.measurement.symbol }} x {{
                inspection.inspection.scaffold.scaffold.width }}{{
                inspection.company.measurement.symbol }} x {{
                inspection.inspection.scaffold.scaffold.height }}{{
                inspection.company.measurement.symbol }}
              </td>
              <td class="text-center">1</td>
              <td class="text-center">
                {{ inspection.inspection.scaffold.scaffold.safe }}
              </td>
            </tr>
            <!-- ATTACHMENTS -->
            <tr
              class="small"
              *ngFor="let item of inspection.inspection.scaffold.attachments; let i = index"
            >
              <th class="text-center" scope="row"></th>
              <td>
                {{ inspection.company.terminology.scaffold }} Level {{
                item.level }}
              </td>
              <td class="text-center">
                {{ item.length }}{{ inspection.company.measurement.symbol }} x
                {{ item.width }}{{ inspection.company.measurement.symbol }} x {{
                item.height }}{{ inspection.company.measurement.symbol }}
              </td>
              <td class="text-center">1</td>
              <td class="text-center">Yes</td>
            </tr>
            <!-- BOARDS -->
            <tr
              class="small"
              *ngFor="let item of inspection.inspection.scaffold.boards; let i = index"
            >
              <th class="text-center" scope="row"></th>
              <td>{{ inspection.company.terminology.boards }}</td>
              <td class="text-center">
                {{ item.length }}{{ inspection.company.measurement.symbol }} x
                {{ item.width }}{{ inspection.company.measurement.symbol }} -
                Height {{ item.height }}{{ inspection.company.measurement.symbol
                }}
              </td>
              <td class="text-center">{{ item.qty }}</td>
              <td class="text-center">Yes</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <ng-container
            *ngFor="let category of inspection.inspection.questions.categories"
          >
            <thead>
              <tr class="table-light">
                <th colspan="3" scope="col">{{ category.name }}</th>
              </tr>
              <tr>
                <th class="text-center" scope="col">#</th>
                <th scope="col">Question</th>
                <th class="text-center" scope="col">Checklist</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of category.items; let i = index"
                class="align-middle"
              >
                <th class="text-center" scope="row">{{ i + 1 }}.</th>
                <td>{{ item.question }}</td>
                <td class="text-center">
                  {{ item.value ? item.value : "N/A" }}
                </td>
              </tr>
            </tbody>
          </ng-container>
        </table>

        <table class="table table-bordered mb-3">
          <tbody>
            <ng-container *ngIf="inspection.inspection.notes">
              <tr class="align-middle table-light">
                <th colspan="2">Notes</th>
              </tr>
              <tr class="align-middle">
                <td
                  colspan="2"
                  [innerText]="inspection.inspection.notes"
                ></td></tr
            ></ng-container>
            <tr class="align-middle table-light">
              <th colspan="2">Status</th>
            </tr>
            <tr class="align-middle">
              <td>Is the scaffold safe for use?</td>
              <td class="text-center">
                <ion-text
                  [color]="
                      inspection.inspection.status === 'Passed' ? 'success' : 'danger'
                    "
                  slot="end"
                >
                  {{ inspection.inspection.status }}
                </ion-text>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-col>
      <ion-col size="12">
        <app-title-block> Uploaded Files </app-title-block>
      </ion-col>
      <ion-col
        sizeXl="2"
        sizeLg="3"
        sizeMd="4"
        size="6"
        *ngFor="let file of inspection.inspection.uploads; let i = index"
      >
        <app-file-item [file]="file" [allowDelete]="false"></app-file-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
