<ng-container *ngIf="site$ |async as site">
  <app-header
    title="{{site.code}} - {{site.name}}"
    [showMenu]="false"
    path="/dashboard/sites"
  >
    <ion-toolbar>
      <ion-segment
        (ionChange)="segmentChanged($event)"
        selectOnFocus="true"
        [value]="active"
      >
        <ion-segment-button value="scaffolds">
          <ion-label>Scaffolds</ion-label>
        </ion-segment-button>
        <ion-segment-button value="estimates">
          <ion-label>Estimates</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </app-header>

  <ion-content fullscreen="true" class="ion-padding">
    <ng-container [ngSwitch]="active">
      <div *ngSwitchDefault>
        <app-scaffold-table
          [value]="scaffolds$"
          *ngIf="scaffolds$ | async else loading"
        ></app-scaffold-table>
      </div>
      <div *ngSwitchCase="'estimates'">
        <app-estimate-table
          [value]="estimates$"
          *ngIf="estimates$ | async else loading"
          (selectedItem)="editEstimate($event)"
        ></app-estimate-table>
      </div>
      <ng-template #loading>
        <div class="ion-padding">
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
        </div>
      </ng-template>
    </ng-container> </ion-content
></ng-container>
