<ion-content [ngSwitch]="page">
  <div class="d-flex justify-content-center bg-primary py-5 px-2">
    <ion-thumbnail>
      <ion-img
        class="img-fluid"
        width="100px"
        src="assets/icons/icon-512x512.png"
        alt="logo"
      ></ion-img>
    </ion-thumbnail>
  </div>
  <ion-row class="py-5 rounded-lg-top ion-padding" *ngSwitchDefault>
    <ion-col size="12" sizeLg="4" sizeMd="6" class="mx-auto">
      <ion-text color="dark">
        <h1 class="display-6 my-auto fw-bold">Forgot Password?</h1>
        <p class="fw-light my-auto mt-2">
          Enter your email address and we'll send you a link to reset your
          password.
        </p>
      </ion-text>
      <form class="py-5" [formGroup]="form" (ngSubmit)="reset()">
        <app-input-reactive
          [form]="form"
          title="Email address"
          type="email"
          controlName="email"
          placeholder="Email address"
        ></app-input-reactive>
        <ion-text *ngIf="error" class="small mb-3" color="danger">
          <p color="danger">{{errorMessage}}</p>
        </ion-text>
        <ion-progress-bar
          type="indeterminate"
          *ngIf="loading"
        ></ion-progress-bar>

        <ion-button
          expand="block"
          shape="round"
          *ngIf="!loading"
          [disabled]="form.invalid"
          type="submit"
        >
          Reset Password
        </ion-button>

        <div class="mt-5 text-primary text-center">
          <a
            class="text-decoration-none"
            routerLink="/login"
            routerDirection="root"
            [replaceUrl]="true"
            >Remember your password? Sign in
          </a>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <ion-row class="py-5 rounded-lg-top ion-padding" *ngSwitchCase="1">
    <ion-col size="12" sizeLg="4" sizeMd="6" class="mx-auto">
      <ion-text color="dark">
        <h1 class="display-6 my-auto fw-bold">Email Sent Successfully.</h1>
        <p class="fw-light my-auto mt-2">
          Please check your inbox for our reset email. Sometimes our emails may
          land in spam so please check that too.
        </p>
      </ion-text>
      <div class="py-3">
        <div class="mb-3">
          <label class="form-label fw-bold" for="email">Email sent to:</label>
          <hr />
          <h2 class="fs-5 fw-bold text-center">{{ email }}</h2>
          <hr />
        </div>
      </div>

      <ion-button
        expand="block"
        shape="round"
        routerLink="/login"
        routerDirection="root"
        [replaceUrl]="true"
        type="submit"
      >
        Sign in
      </ion-button>

      <div class="mt-5 text-primary text-center">
        <a class="text-decoration-none" (click)="page = 0"
          >Resend Reset Email
        </a>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
