<ion-searchbar
  debounce="250"
  mode="ios"
  placeholder="Search by code, company, site name or total"
  (ionChange)="updateFilter($event)"
>
</ion-searchbar>
<ion-item lines="none" mode="ios">
  <ion-button
    slot="end"
    (click)="export()"
    fill="outline"
    shape="round"
    color="success"
  >
    Export CSV
  </ion-button>
</ion-item>

<ngx-datatable
  class="bootstrap striped rounded-lg"
  [limit]="7"
  [rows]="temp$ | async"
  [rowHeight]="'auto'"
  [columnMode]="'force'"
  [sortType]="sortType.multi"
  [headerHeight]="50"
  [footerHeight]="50"
  [selectionType]="selectionType.single"
  trackByProp="code"
  [scrollbarH]="true"
  (select)="onSelect($event)"
  [selected]="selected"
>
  <ngx-datatable-column name="Code" cellClass="my-auto"></ngx-datatable-column>
  <ngx-datatable-column
    name="Customer"
    prop="customer.name"
    cellClass="my-auto"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="Site Name"
    cellClass="my-auto"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="Scaffold Code"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value ? value : "" }}
    </ng-template>
  </ngx-datatable-column>
  <!-- <ngx-datatable-column
    name="Start Date"
    cellClass="text-center"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | date: "dd MMM yyyy" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="End Date"
    cellClass="text-center"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | date: "dd MMM yyyy" }}
    </ng-template>
  </ngx-datatable-column> -->
  <ngx-datatable-column
    name="Date Created"
    prop="date"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | date : "dd MMM yyyy" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Total Amount"
    prop="total"
    cellClass="text-end my-auto"
    headerClass="text-end"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.company.currency }} {{ value | number : "0.2-2" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Total Spend"
    prop="budget.cost"
    cellClass="text-end my-auto"
    headerClass="text-end"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.company.currency }} {{ value | number : "0.2-2" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Total Profit"
    prop="budget.profit"
    cellClass="text-end my-auto"
    headerClass="text-end"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.company.currency }} {{ value | number : "0.2-2" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Status"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-badge [color]="getStatus(value)" mode="ios">{{ value }}</ion-badge>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Comment" cellClass="my-auto">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.comments ? row.comments[row.comments.length - 1].message : "" }}
      <ng-container *ngIf="row.comments">
        <br />
        <br />
      </ng-container>
      {{
        row.comments
          ? (row.comments[row.comments.length - 1].date.toDate() | date)
          : ""
      }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
