<ion-searchbar
  debounce="250"
  mode="ios"
  placeholder="Search by code, company, site name or total"
  (ionChange)="updateFilter($event)"
>
</ion-searchbar>
<ion-item lines="none" mode="ios">
  <ion-select
    #rows
    slot="start"
    placeholder="7"
    interface="popover"
    [value]="7"
  >
    <ion-select-option value="7">7</ion-select-option>
    <ion-select-option value="10">10</ion-select-option>
    <ion-select-option value="50">50</ion-select-option>
    <ion-select-option value="100">100</ion-select-option>
  </ion-select>
</ion-item>
<!-- <ion-button
    slot="end"
    (click)="export()"
    fill="outline"
    shape="round"
    color="success"
  >
    Export CSV
  </ion-button> -->
<ngx-datatable
  class="bootstrap striped rounded-lg"
  [limit]="rows.value"
  [rows]="temp$ | async"
  [rowHeight]="'auto'"
  [columnMode]="'force'"
  [sortType]="sortType.multi"
  [headerHeight]="50"
  [footerHeight]="50"
  [selectionType]="selectionType.single"
  trackByProp="code"
  [scrollbarH]="true"
  (select)="onSelect($event)"
  [selected]="selected"
>
  <ngx-datatable-column name="Code" cellClass="my-auto"></ngx-datatable-column>
  <ngx-datatable-column
    name="Customer"
    prop="customer.name"
    cellClass="my-auto"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="Site Name"
    cellClass="my-auto"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="Scaffold Code"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value ? value : "" }}
    </ng-template>
  </ngx-datatable-column>
  <!-- <ngx-datatable-column
    name="Start Date"
    cellClass="text-center"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | date: "dd MMM yyyy" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="End Date"
    cellClass="text-center"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | date: "dd MMM yyyy" }}
    </ng-template>
  </ngx-datatable-column> -->
  <ngx-datatable-column
    name="Date Created"
    prop="date"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | date : "dd MMM yyyy" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Total Amount"
    prop="total"
    cellClass="text-end my-auto"
    headerClass="text-end"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.company.currency }} {{ value | number : "0.2-2" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Total Spend"
    prop="budget.cost"
    cellClass="text-end my-auto"
    headerClass="text-end"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.company.currency }} {{ value | number : "0.2-2" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Total Profit"
    prop="budget.profit"
    cellClass="text-end my-auto"
    headerClass="text-end"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.company.currency }} {{ value | number : "0.2-2" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Uploads"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <div>
        <ion-badge color="tertiary" mode="ios" *ngIf="value">{{
          value.length
        }}</ion-badge>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Status"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-badge [color]="getStatus(value)" mode="ios">{{ value }}</ion-badge>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Comment" cellClass="my-auto">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ng-container *ngIf="row.comments">
        {{ row.comments[row.comments.length - 1].message }}
        <br />
        <br />
        {{ row.comments[row.comments.length - 1].date.toDate() | date }}
      </ng-container>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
