<form [formGroup]="form">
  <ion-item
    fill="solid"
    lines="none"
    class="rounded-3"
    [ngClass]="margin"
    mode="md"
  >
    <ion-label position="stacked">
      {{ title }} {{ optional ? "(optional)" : "" }}
    </ion-label>
    <ion-input
      *ngIf="!textarea"
      debounce="200"
      placeholder="{{ placeholder }}"
      type="{{ type }}"
      id="{{ title }}"
      name="{{ title }}"
      formControlName="field"
      (ionChange)="update($event)"
      [readonly]="readonly"
    >
    </ion-input>
    <ion-textarea
      *ngIf="textarea"
      debounce="200"
      placeholder="{{ placeholder }}"
      id="{{ title }}"
      name="{{ title }}"
      formControlName="field"
      (ionChange)="update($event)"
      [readonly]="readonly"
      autoGrow="true"
      wrap="hard"
    >
    </ion-textarea>
    <ion-note
      slot="error"
      color="danger"
      *ngIf="
        form.controls.field.errors?.required && form.controls.field.touched
      "
    >
      Please enter a valid {{ title }}
    </ion-note>
    <ion-reorder *ngIf="reorder" slot="end"></ion-reorder>
  </ion-item>
</form>
