<ion-header mode="md">
  <ion-toolbar>
    <ion-title *ngIf="scaffolds$ | async as scaffolds">
      Scaffold Register - {{scaffolds[0]?.siteCode}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-scaffold-table
    [value]="scaffolds$"
    [showRegister]="true"
    *ngIf="scaffolds$ | async else loading"
  ></app-scaffold-table>
  <ng-template #loading>
    <div class="ion-padding">
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
    </div>
  </ng-template>
</ion-content>
