<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Purchase Order - {{ po?.code }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-po-summary [value]="po.estimate"></app-po-summary>
  <ion-row>
    <ion-col size="12">
      <ion-text color="medium">
        <h4>Billing Period</h4>
      </ion-text>
    </ion-col>

    <ion-col size="12">
      <form [formGroup]="form">
        <app-input-date
          [form]="form"
          controlName="endDate"
          title="End Date"
        ></app-input-date>
      </form>
    </ion-col>
  </ion-row>
  <div class="table-responsive">
    <table class="table table-sm table-bordered">
      <thead>
        <tr class="text-center align-middle">
          <th rowspan="2">Type</th>
          <th rowspan="2">Item Code</th>
          <th class="text-start" rowspan="2">Description</th>
          <th rowspan="2">Unit</th>
          <th rowspan="2">Qty for Invoice</th>
          <th colspan="3">Actual Qty</th>
          <th colspan="2">Hire Period</th>
          <th rowspan="2">Days</th>
          <th rowspan="2">Months</th>
          <th rowspan="2">Daily Rent Rate</th>
          <th class="text-end" rowspan="2">Amount</th>
        </tr>
        <tr class="text-center align-middle">
          <th>Delivered</th>
          <th>Returned</th>
          <th>Balance</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let transaction of transactions$ | async">
          <tr class="text-center align-middle">
            <!-- Type (Delivery or Return) -->
            <td>{{ transaction.type }}</td>

            <!-- Item Code -->
            <td>{{ transaction.code }}</td>

            <!-- Description -->
            <td class="text-start">{{ transaction.name }}</td>

            <!-- Unit -->
            <td>EA</td>

            <!-- Qty for Invoice -->
            <td class="fw-bold">{{ transaction.invoiceQty }}</td>

            <!-- Delivered Qty  -->
            <td class="text-success fw-bold">
              {{ transaction.deliveredQty }}
            </td>

            <!-- Returned Qty  -->
            <td class="text-danger fw-bold">
              {{ transaction.returnTotal }}
            </td>

            <!-- Balance Qty (assuming it's the available quantity after deliveries and returns) -->
            <td class="text-warning fw-bold">
              {{ transaction.balanceQty }}
            </td>

            <!-- Start Date (delivery or return date) -->
            <td>
              {{ transaction.invoiceStart.toDate() | date : "dd MMM yy" }}
            </td>

            <!-- End Date (assuming you have endDate field in the transaction) -->
            <td>{{ field("endDate").value | date : "dd MMM yy" }}</td>

            <!-- Days (calculating date difference between deliveryDate and endDate) -->
            <td>
              {{
                transaction.invoiceStart.toDate()
                  | dateDiff : field("endDate").value
              }}
            </td>

            <!-- Months (converting days to months, assuming 30 days per month) -->
            <td>
              {{
                (transaction.invoiceStart.toDate()
                  | dateDiff : field("endDate").value) / 30 | number : "0.2-2"
              }}
            </td>

            <!-- Daily Rent Rate -->
            <td>
              <ion-input
                debounce="300"
                inputmode="numeric"
                [color]="transaction.error ? 'danger' : 'default'"
                [value]="transaction.hireRate"
                (ionChange)="updateRate($event, transaction)"
              ></ion-input>
              <ion-label color="danger" *ngIf="transaction.error">
                Enter a valid rate
              </ion-label>
            </td>

            <!-- Total Amount (qty * rate * days) -->
            <td class="text-end">
              {{ company.currency.symbol }}
              {{
                transaction.invoiceQty *
                  transaction.hireRate *
                  (transaction.invoiceStart.toDate()
                    | dateDiff : field("endDate").value) | number : "0.2-2"
              }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ion-content>
