<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Purchase Order - {{ jr?.code }} - {{ jr?.jobReference }}
      <ion-text *ngIf="saving">
        <i class="text-muted fs-6">(Saving...)</i>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12" class="text-end">
      <ion-chip
        size="small"
        (click)="updateJobReference()"
        color="primary"
        *ngIf="!saving && !updatingJobReference"
      >
        <ion-icon name="create-outline" slot="start"></ion-icon>
        Edit Job Reference
      </ion-chip>
      <ion-chip size="small" color="medium" *ngIf="updatingJobReference">
        <ion-spinner name="dots" size="small"></ion-spinner>
        Updating...
      </ion-chip>
      <ion-chip
        size="small"
        (click)="downloadDraft(true)"
        color="warning"
        *ngIf="!saving && form.valid"
      >
        Basic Invoice Draft
      </ion-chip>
      <ion-chip
        size="small"
        (click)="downloadDraft()"
        color="warning"
        *ngIf="!saving && form.valid"
      >
        Detailed Invoice Draft
      </ion-chip>
      <ion-chip
        size="small"
        (click)="downloadMixedDraft()"
        color="warning"
        *ngIf="!saving && form.valid && jr.mixedInvoice"
      >
        Mixed Invoice Draft
      </ion-chip>
    </ion-col>
  </ion-row>
  <app-job-reference-rental-summary
    [value]="jr.estimate"
    *ngIf="jr.type === 'Rental'; else default"
  ></app-job-reference-rental-summary>
  <ng-template #default>
    <ng-container *ngIf="jr.customInvoice; else summary">
      <app-job-reference-custom-item
        [value]="jr.estimate"
        (update)="updatePOEstimate($event)"
      ></app-job-reference-custom-item>
    </ng-container>
    <ng-template #summary>
      <app-job-reference-summary
        [value]="jr.estimate"
        (update)="updatePOEstimate($event)"
      ></app-job-reference-summary>
    </ng-template>
  </ng-template>
  <ion-row>
    <ion-col size="6">
      <ion-text color="medium">
        <h4>Billing Period</h4>
      </ion-text>
    </ion-col>
    <ion-col
      size="6"
      class="text-end my-auto align-middle d-flex gap-3"
      style="width: 100%"
      *ngIf="jr.type !== 'Rental'"
    >
      <div class="ms-auto">
        <ion-text color="medium"> <h6>Custom Invoice</h6> </ion-text>
        <ion-toggle
          [checked]="jr.customInvoice"
          (ionChange)="enableCustomInvoice()"
        ></ion-toggle>
      </div>
      <div *ngIf="jr.customInvoice">
        <ion-text color="medium"> <h6>Mixed Invoice</h6> </ion-text>
        <ion-toggle
          [checked]="jr.mixedInvoice"
          (ionChange)="enableMixedInvoice()"
        ></ion-toggle>
      </div>
    </ion-col>

    <ion-col size="12">
      <form [formGroup]="form">
        <app-input-date
          [form]="form"
          controlName="endDate"
          title="End Date"
          (fieldChange)="updateDate()"
        ></app-input-date>
      </form>
    </ion-col>
  </ion-row>
  <div class="table-responsive">
    <table class="table table-sm table-bordered">
      <thead>
        <tr class="text-center align-middle">
          <th rowspan="2">Docket</th>
          <th rowspan="2">Item Code</th>
          <th class="text-start" rowspan="2">Description</th>
          <th rowspan="2">Unit</th>
          <th rowspan="2" *ngIf="!jr.customInvoice || jr.mixedInvoice">
            Qty for Invoice
          </th>
          <th colspan="4">Actual Qty</th>
          <th colspan="2">Hire Period</th>
          <th rowspan="2">Days</th>
          <th rowspan="2">Months</th>
          <ng-container *ngIf="!jr.customInvoice || jr.mixedInvoice">
            <th rowspan="2">Monthly Rent Rate</th>
            <th class="text-end" rowspan="2">Amount</th>
          </ng-container>
        </tr>
        <tr class="text-center align-middle">
          <th>Delivered</th>
          <th>Adjustment</th>
          <th>Returned</th>
          <th>Balance</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let transaction of transactions">
          <tr
            class="text-center align-middle"
            *ngIf="transaction.transactionType === 'Delivery'"
          >
            <!-- Type (Delivery or Return) -->
            <td>
              <ion-chip
                color="success"
                mode="ios"
                (click)="updateStartDate(transaction)"
              >
                <ion-label>{{ transaction.deliveryCode }}</ion-label>
              </ion-chip>
            </td>

            <!-- Item Code -->
            <td>{{ transaction.code }}</td>

            <!-- Description -->
            <td class="text-start">{{ transaction.name }}</td>

            <!-- Unit -->
            <td>EA</td>

            <!-- Qty for Invoice -->
            <td class="fw-bold" *ngIf="!jr.customInvoice || jr.mixedInvoice">
              {{ transaction.invoiceQty }}
            </td>

            <!-- Delivered Qty  -->
            <td class="text-success fw-bold">
              {{ transaction.deliveredQty }}
            </td>

            <!-- Adjustment Qty  -->
            <td class="fw-bold">
              <ion-text color="tertiary">
                {{ transaction.adjustmentTotal || 0 }}
              </ion-text>
            </td>

            <!-- Returned Qty  -->
            <td class="text-danger fw-bold">
              {{ transaction.returnTotal }}
            </td>

            <!-- Balance Qty (assuming it's the available quantity after deliveries and returns) -->
            <td class="text-warning fw-bold">
              {{ transaction.balanceQty }}
            </td>

            <!-- Start Date (delivery or return date) -->
            <td>
              {{ transaction.invoiceStart | dateFormat | date : "dd MMM yy" }}
            </td>

            <!-- End Date (assuming you have endDate field in the transaction) -->
            <td>
              {{ field("endDate").value | dateFormat | date : "dd MMM yy" }}
            </td>

            <!-- Days (calculating date difference between deliveryDate and endDate) -->
            <td>
              {{ transaction.days }}
            </td>

            <!-- Months (converting days to months, assuming 30 days per month) -->
            <td>
              {{ transaction.months }}
            </td>
            <ng-container *ngIf="!jr.customInvoice || jr.mixedInvoice">
              <!-- Daily Rent Rate -->
              <td>
                <ion-input
                  debounce="300"
                  inputmode="numeric"
                  [color]="transaction.error ? 'danger' : 'default'"
                  [value]="transaction.hireRate"
                  (ionBlur)="updateRate($event, transaction)"
                ></ion-input>
                <ion-label color="danger" *ngIf="transaction.error">
                  Enter a valid rate
                </ion-label>
              </td>

              <!-- Total Amount (qty * rate * days) -->
              <td class="text-end">
                {{ company.currency.symbol }}
                {{ transaction.total | number : "0.2-2" }}
              </td>
            </ng-container>
          </tr>
          <tr
            class="text-center align-middle"
            *ngIf="transaction.transactionType === 'Return'"
          >
            <!-- Type (Delivery or Return) -->
            <td>
              <ion-chip
                [color]="
                  transaction.transactionType === 'Return'
                    ? 'danger'
                    : 'tertiary'
                "
                mode="ios"
                (click)="updateStartDate(transaction)"
              >
                <ion-label>{{ transaction.returnCode }}</ion-label>
              </ion-chip>
            </td>

            <!-- Item Code -->
            <td>{{ transaction.code }}</td>

            <!-- Description -->
            <td class="text-start">{{ transaction.name }}</td>

            <!-- Unit -->
            <td>EA</td>

            <!-- Qty for Invoice -->
            <td class="fw-bold" *ngIf="!jr.customInvoice || jr.mixedInvoice">
              {{ transaction.invoiceQty }}
            </td>

            <!-- Delivered Qty  -->
            <td class="text-success fw-bold">
              {{ transaction.deliveredQty }}
            </td>

            <!-- Adjustment Qty  -->
            <td class="fw-bold">
              <ion-text color="tertiary">
                {{ transaction.adjustmentTotal || 0 }}
              </ion-text>
            </td>

            <!-- Returned Qty  -->
            <td class="text-danger fw-bold">
              {{ transaction.returnTotal }}
            </td>

            <!-- Balance Qty (assuming it's the available quantity after deliveries and returns) -->
            <td class="text-warning fw-bold">
              {{ transaction.balanceQty }}
            </td>

            <!-- Start Date (delivery or return date) -->
            <td>
              {{ transaction.invoiceStart | dateFormat | date : "dd MMM yy" }}
            </td>

            <!-- End Date (assuming you have endDate field in the transaction) -->
            <td>
              {{ transaction.invoiceEnd | dateFormat | date : "dd MMM yy" }}
            </td>

            <!-- Days (calculating date difference between deliveryDate and endDate) -->
            <td>
              {{ transaction.days }}
            </td>

            <!-- Months (converting days to months, assuming 30 days per month) -->
            <td>
              {{ transaction.months }}
            </td>
            <ng-container *ngIf="!jr.customInvoice || jr.mixedInvoice">
              <!-- Daily Rent Rate -->
              <td>
                <ion-input
                  debounce="300"
                  inputmode="numeric"
                  [color]="transaction.error ? 'danger' : 'default'"
                  [value]="transaction.hireRate"
                  (ionBlur)="updateRate($event, transaction)"
                ></ion-input>
                <ion-label color="danger" *ngIf="transaction.error">
                  Enter a valid rate
                </ion-label>
              </td>

              <!-- Total Amount (qty * rate * days) -->
              <td class="text-end">
                {{ company.currency.symbol }}
                {{ transaction.total | number : "0.2-2" }}
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
      <!-- FOOTER TOTALS -->
      <tfoot>
        <tr>
          <th [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 13 : 15">
            <div class="m-3">
              <form [formGroup]="form">
                <app-input-reactive
                  [form]="form"
                  controlName="discount"
                  title="Discount amount ({{ company.currency.symbol }})"
                  type="number"
                  (fieldChange)="updateDate()"
                ></app-input-reactive>
              </form>
              <ion-item fill="solid" lines="none" class="rounded-3 mb-3">
                <ion-label
                  >Exclude {{ company?.gst ? "GST" : "VAT" }} on
                  Invoice</ion-label
                >
                <ion-checkbox
                  mode="ios"
                  slot="end"
                  [checked]="field('excludeVAT').value"
                  (ionChange)="excludeVAT($event)"
                ></ion-checkbox>
              </ion-item>
            </div>
          </th>
        </tr>
        <tr>
          <th
            class="text-end"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 10 : 12"
            scope="col"
          >
            Subtotal
          </th>
          <th
            class="text-end"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 2 : 3"
            scope="col"
          >
            {{ company.currency.symbol }}
            {{ jr.subtotal | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th
            class="text-end"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 10 : 12"
            scope="col"
          >
            Discount
          </th>
          <th
            class="text-end text-danger"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 2 : 3"
            scope="col"
          >
            - {{ company.currency.symbol }}
            {{ jr.discount | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th
            class="text-end"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 10 : 12"
            scope="col"
          >
            Invoice Total
          </th>
          <th
            class="text-end"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 2 : 3"
            scope="col"
          >
            {{ company.currency.symbol }}
            {{ jr.subtotal - jr.discount | number : "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.salesTax > 0">
          <th
            class="text-end"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 10 : 12"
            scope="col"
          >
            Sales Tax ({{ company.salesTax }}%)
          </th>
          <th
            class="text-end"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 2 : 3"
            scope="col"
          >
            {{ company.currency.symbol }} {{ jr.tax | number : "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.vat > 0">
          <th
            class="text-end"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 10 : 12"
            scope="col"
          >
            {{ company?.gst ? "GST" : "VAT" }} ({{ company.vat }}%)
          </th>
          <th
            class="text-end"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 2 : 3"
            scope="col"
          >
            {{ company.currency.symbol }} {{ jr.vat | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th
            class="text-end"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 10 : 12"
            scope="col"
          >
            Grand Total
          </th>
          <th
            class="text-end"
            [colSpan]="jr.customInvoice && !jr.mixedInvoice ? 2 : 3"
            scope="col"
          >
            {{ company.currency.symbol }}
            {{ jr.total | number : "0.2-2" }}
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <ion-row>
    <ion-col size="12" *ngIf="saving">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-col>
    <ion-col size="6">
      <ion-button
        (click)="closePO()"
        shape="round"
        color="danger"
        *ngIf="!saving && transactions.length <= 0 && jr.status !== 'completed'"
      >
        Close Job Reference
      </ion-button></ion-col
    >
    <ion-col size="6" class="text-end">
      <ion-button
        (click)="openPO()"
        shape="round"
        color="success"
        *ngIf="!saving && transactions.length <= 0 && jr.status === 'completed'"
      >
        Open Job Reference
      </ion-button>
      <ion-button
        *ngIf="!saving"
        (click)="createInvoice()"
        shape="round"
        [disabled]="form.invalid || jr.total <= 0"
        color="success"
      >
        Create Invoice
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
