<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      >Purchase Order - {{ po?.code }}
      <ion-text *ngIf="saving">
        <i class="text-muted fs-6">(Saving...)</i>
      </ion-text></ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12" class="text-end">
      <ion-chip
        size="small"
        (click)="downloadDraft()"
        color="tertiary"
        *ngIf="!saving && transactions.length > 0 && form.valid"
      >
        Invoice Draft
      </ion-chip>
      <!-- <ion-button
        size="small"
        (click)="share(null)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="share-social-outline"></ion-icon>&nbsp;Send
      </ion-button> -->
    </ion-col>
  </ion-row>
  <app-po-rental-summary
    [value]="po.estimate"
    *ngIf="po.type === 'Rental'; else default"
  ></app-po-rental-summary>
  <ng-template #default>
    <app-po-summary [value]="po.estimate"></app-po-summary>
  </ng-template>
  <ion-row>
    <ion-col size="12">
      <ion-text color="medium">
        <h4>Billing Period</h4>
      </ion-text>
    </ion-col>

    <ion-col size="12">
      <form [formGroup]="form">
        <app-input-date
          [form]="form"
          controlName="endDate"
          title="End Date"
          (fieldChange)="updateDate()"
        ></app-input-date>
      </form>
    </ion-col>
  </ion-row>
  <div class="table-responsive">
    <table class="table table-sm table-bordered">
      <thead>
        <tr class="text-center align-middle">
          <th rowspan="2">Docket</th>
          <th rowspan="2">Item Code</th>
          <th class="text-start" rowspan="2">Description</th>
          <th rowspan="2">Unit</th>
          <th rowspan="2">Qty for Invoice</th>
          <th colspan="3">Actual Qty</th>
          <th colspan="2">Hire Period</th>
          <th rowspan="2">Days</th>
          <th rowspan="2">Months</th>
          <th rowspan="2">Daily Rent Rate</th>
          <th class="text-end" rowspan="2">Amount</th>
        </tr>
        <tr class="text-center align-middle">
          <th>Delivered</th>
          <th>Returned</th>
          <th>Balance</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let transaction of transactions">
          <tr
            class="text-center align-middle"
            *ngIf="transaction.transactionType === 'Delivery'"
          >
            <!-- Type (Delivery or Return) -->
            <td>
              <ion-chip color="success" mode="ios">
                <ion-label>{{ transaction.deliveryCode }}</ion-label>
              </ion-chip>
            </td>

            <!-- Item Code -->
            <td>{{ transaction.code }}</td>

            <!-- Description -->
            <td class="text-start">{{ transaction.name }}</td>

            <!-- Unit -->
            <td>EA</td>

            <!-- Qty for Invoice -->
            <td class="fw-bold">{{ transaction.invoiceQty }}</td>

            <!-- Delivered Qty  -->
            <td class="text-success fw-bold">
              {{ transaction.deliveredQty }}
            </td>

            <!-- Returned Qty  -->
            <td class="text-danger fw-bold">
              {{ transaction.returnTotal }}
            </td>

            <!-- Balance Qty (assuming it's the available quantity after deliveries and returns) -->
            <td class="text-warning fw-bold">
              {{ transaction.balanceQty }}
            </td>

            <!-- Start Date (delivery or return date) -->
            <td>
              {{ transaction.invoiceStart.toDate() | date : "dd MMM yy" }}
            </td>

            <!-- End Date (assuming you have endDate field in the transaction) -->
            <td>{{ field("endDate").value | date : "dd MMM yy" }}</td>

            <!-- Days (calculating date difference between deliveryDate and endDate) -->
            <td>
              {{
                transaction.invoiceStart.toDate()
                  | dateDiff : field("endDate").value
              }}
            </td>

            <!-- Months (converting days to months, assuming 30 days per month) -->
            <td>
              {{
                (transaction.invoiceStart.toDate()
                  | dateDiff : field("endDate").value) / 30 | number : "0.2-2"
              }}
            </td>

            <!-- Daily Rent Rate -->
            <td>
              <ion-input
                debounce="300"
                inputmode="numeric"
                [color]="transaction.error ? 'danger' : 'default'"
                [value]="transaction.hireRate"
                (ionBlur)="updateRate($event, transaction)"
              ></ion-input>
              <ion-label color="danger" *ngIf="transaction.error">
                Enter a valid rate
              </ion-label>
            </td>

            <!-- Total Amount (qty * rate * days) -->
            <td class="text-end">
              {{ company.currency.symbol }}
              {{
                transaction.invoiceQty *
                  transaction.hireRate *
                  (transaction.invoiceStart.toDate()
                    | dateDiff : field("endDate").value) | number : "0.2-2"
              }}
            </td>
          </tr>
          <tr
            class="text-center align-middle"
            *ngIf="transaction.transactionType === 'Return'"
          >
            <!-- Type (Delivery or Return) -->
            <td>
              <ion-chip color="danger" mode="ios">
                <ion-label>{{ transaction.returnCode }}</ion-label>
              </ion-chip>
            </td>

            <!-- Item Code -->
            <td>{{ transaction.code }}</td>

            <!-- Description -->
            <td class="text-start">{{ transaction.name }}</td>

            <!-- Unit -->
            <td>EA</td>

            <!-- Qty for Invoice -->
            <td class="fw-bold">{{ transaction.invoiceQty }}</td>

            <!-- Delivered Qty  -->
            <td class="text-success fw-bold">
              {{ transaction.deliveredQty }}
            </td>

            <!-- Returned Qty  -->
            <td class="text-danger fw-bold">
              {{ transaction.returnTotal }}
            </td>

            <!-- Balance Qty (assuming it's the available quantity after deliveries and returns) -->
            <td class="text-warning fw-bold">
              {{ transaction.balanceQty }}
            </td>

            <!-- Start Date (delivery or return date) -->
            <td>
              {{ transaction.invoiceStart.toDate() | date : "dd MMM yy" }}
            </td>

            <!-- End Date (assuming you have endDate field in the transaction) -->
            <td>{{ transaction.invoiceEnd.toDate() | date : "dd MMM yy" }}</td>

            <!-- Days (calculating date difference between deliveryDate and endDate) -->
            <td>
              {{
                transaction.invoiceStart.toDate()
                  | dateDiff : transaction.invoiceEnd.toDate() : true
              }}
            </td>

            <!-- Months (converting days to months, assuming 30 days per month) -->
            <td>
              {{
                (transaction.invoiceStart.toDate()
                  | dateDiff : transaction.invoiceEnd.toDate() : true) / 30
                  | number : "0.2-2"
              }}
            </td>

            <!-- Daily Rent Rate -->
            <td>
              <ion-input
                debounce="300"
                inputmode="numeric"
                [color]="transaction.error ? 'danger' : 'default'"
                [value]="transaction.hireRate"
                (ionBlur)="updateRate($event, transaction)"
              ></ion-input>
              <ion-label color="danger" *ngIf="transaction.error">
                Enter a valid rate
              </ion-label>
            </td>

            <!-- Total Amount (qty * rate * days) -->
            <td class="text-end">
              {{ company.currency.symbol }}
              {{
                transaction.invoiceQty *
                  transaction.hireRate *
                  (transaction.invoiceStart.toDate()
                    | dateDiff : transaction.invoiceEnd.toDate() : true)
                  | number : "0.2-2"
              }}
            </td>
          </tr>
        </ng-container>
      </tbody>
      <!-- FOOTER TOTALS -->
      <tfoot>
        <tr>
          <th colspan="14">
            <div class="m-3">
              <form [formGroup]="form">
                <app-input-reactive
                  [form]="form"
                  controlName="discount"
                  title="Discount amount ({{ company.currency.symbol }})"
                  type="number"
                  (fieldChange)="updateDate()"
                ></app-input-reactive>
              </form>
              <ion-item fill="solid" lines="none" class="rounded-3 mb-3">
                <ion-label
                  >Exclude {{ company?.gst ? "GST" : "VAT" }} on
                  Estimate</ion-label
                >
                <ion-checkbox
                  mode="ios"
                  slot="end"
                  [checked]="field('excludeVAT').value"
                  (ionChange)="excludeVAT($event)"
                ></ion-checkbox>
              </ion-item>
            </div>
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="11" scope="col">Subtotal</th>
          <th class="text-end" colspan="3" scope="col">
            {{ company.currency.symbol }}
            {{ po.subtotal | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="11" scope="col">Discount</th>
          <th class="text-end text-danger" colspan="3" scope="col">
            - {{ company.currency.symbol }}
            {{ po.discount | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="11" scope="col">Invoice Total</th>
          <th class="text-end" colspan="3" scope="col">
            {{ company.currency.symbol }}
            {{ po.subtotal - po.discount | number : "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.salesTax > 0">
          <th class="text-end" colspan="11" scope="col">
            Sales Tax ({{ company.salesTax }}%)
          </th>
          <th class="text-end" colspan="3" scope="col">
            {{ company.currency.symbol }} {{ po.tax | number : "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.vat > 0">
          <th class="text-end" colspan="11" scope="col">
            {{ company?.gst ? "GST" : "VAT" }} ({{ company.vat }}%)
          </th>
          <th class="text-end" colspan="3" scope="col">
            {{ company.currency.symbol }} {{ po.vat | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="11" scope="col">Grand Total</th>
          <th class="text-end" colspan="3" scope="col">
            {{ company.currency.symbol }}
            {{ po.total | number : "0.2-2" }}
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <ion-row>
    <ion-col size="12" *ngIf="saving">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-col>
    <ion-col size="12" class="text-end">
      <ion-button
        (click)="closePO()"
        shape="round"
        color="danger"
        *ngIf="!saving && transactions.length <= 0 && po.status !== 'completed'"
      >
        Close PO
      </ion-button>
      <ion-button
        (click)="openPO()"
        shape="round"
        color="success"
        *ngIf="!saving && transactions.length <= 0 && po.status === 'completed'"
      >
        Open PO
      </ion-button>
      <ion-button
        *ngIf="!saving && transactions.length > 0"
        (click)="createInvoice()"
        shape="round"
        [disabled]="form.invalid"
        color="success"
      >
        Create Invoice
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
