<ion-item
  fill="solid"
  lines="none"
  class="rounded-3"
  [ngClass]="margin"
  [formGroup]="form"
  mode="md"
>
  <ion-label position="stacked">
    {{ title }} {{ optional ? "(optional)" : "" }}
  </ion-label>
  <ion-input
    *ngIf="!textarea"
    debounce="200"
    placeholder="{{ placeholder }}"
    type="{{ type }}"
    id="{{ controlName }}"
    name="{{ controlName }}"
    formControlName="{{ controlName }}"
    (ionChange)="update($event)"
    [readonly]="readonly"
  >
  </ion-input>
  <ion-textarea
    *ngIf="textarea"
    debounce="200"
    placeholder="{{ placeholder }}"
    id="{{ controlName }}"
    name="{{ controlName }}"
    formControlName="{{ controlName }}"
    (ionChange)="update($event)"
    [readonly]="readonly"
    autoGrow="true"
  ></ion-textarea>
  <ion-note
    slot="error"
    color="danger"
    *ngIf="
      form.controls[controlName].errors?.required &&
      form.controls[controlName].touched
    "
  >
    Please enter a valid {{ title }}
  </ion-note>
  <ion-reorder *ngIf="reorder" slot="end"></ion-reorder>
</ion-item>
