<ion-content [ngSwitch]="page">
  <div class="d-flex justify-content-center bg-primary py-5 px-2">
    <ion-thumbnail>
      <ion-img
        class="img-fluid"
        width="100px"
        src="assets/icons/icon-512x512.png"
        alt="logo"
      ></ion-img>
    </ion-thumbnail>
  </div>
  <ion-row class="py-5 rounded-lg-top ion-padding" *ngSwitchDefault>
    <ion-col size="12" sizeLg="4" sizeMd="6" class="mx-auto">
      <ion-text color="dark">
        <h1 class="display-6 my-auto fw-bold">Reset Password</h1>
        <p class="fw-light my-auto mt-2">
          Enter your new password for your account.
        </p>
      </ion-text>
      <form class="py-5" [formGroup]="form" (ngSubmit)="reset()">
        <app-input-reactive
          [form]="form"
          title="New Passowrd"
          controlName="password"
          type="password"
          placeholder="New Password"
        ></app-input-reactive>
        <app-input-reactive
          [form]="form"
          title="Confirm Password"
          controlName="confirm"
          type="password"
          placeholder="Confirm Password"
        ></app-input-reactive>
        <ion-text *ngIf="form.errors" class="small mb-3" color="danger">
          <p color="danger">Passwords do not match!</p>
        </ion-text>
        <ion-text *ngIf="error" class="small mb-3" color="danger">
          <p color="danger">{{errorMessage}}</p>
        </ion-text>
        <ion-progress-bar
          type="indeterminate"
          *ngIf="loading"
        ></ion-progress-bar>

        <ion-button
          expand="block"
          shape="round"
          *ngIf="!loading"
          [disabled]="form.invalid"
          type="submit"
        >
          Reset Password
        </ion-button>

        <div class="mt-5 text-primary text-center">
          <a
            class="text-decoration-none"
            routerLink="/login"
            routerDirection="root"
            [replaceUrl]="true"
            >Remember your password? Sign in
          </a>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <ion-row class="py-5 rounded-lg-top ion-padding" *ngSwitchCase="1">
    <ion-col size="12" sizeLg="4" sizeMd="6" class="mx-auto">
      <ion-text color="dark">
        <h1 class="display-6 my-auto fw-bold">Password Reset Successfully.</h1>
        <p class="fw-light my-auto mt-2">
          Your password has been reset. You can now Sign in to your account.
        </p>
      </ion-text>

      <ion-button
        expand="block"
        shape="round"
        routerLink="/login"
        routerDirection="root"
        [replaceUrl]="true"
        type="submit"
      >
        Sign in
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
