<app-header
  title="Business Settings"
  [showMenu]="false"
  path="/home/settings"
></app-header>

<ion-content>
  <app-header-condensed title="Business Settings"></app-header-condensed>
  <ion-grid class="container ion-padding pt-5" *ngIf="!isLoading else loadingT">
    <form (ngSubmit)="save()" name="company" [formGroup]="form">
      <ion-row class="card-outline mb-3">
        <ion-col sizeLg="6" size="12">
          <h4>Business Info</h4>
          <ion-text color="medium">
            <p>
              Your business name is displayed across many areas including on
              your all generated documents and messages to clients
            </p>
          </ion-text>
        </ion-col>
        <ion-col sizeLg="6" size="12">
          <ion-row>
            <ion-col size="12">
              <app-input-reactive
                title="Business Name"
                placeholder="Cloudscaff Scaffold Management"
                controlName="name"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="card-outline mb-3">
        <ion-col sizeLg="6" size="12">
          <h4>Contact Info</h4>
          <ion-text color="medium">
            <p>
              Add your contact info that you want to display on all your
              documents
            </p>
          </ion-text>
        </ion-col>
        <ion-col sizeLg="6" size="12">
          <ion-row>
            <ion-col size="12">
              <app-input-reactive
                title="Email address"
                type="email"
                placeholder="info@cloudscaff.com"
                controlName="email"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="Phone number"
                type="tel"
                placeholder="+14844731125"
                controlName="phone"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="card-outline mb-3">
        <ion-col sizeLg="6" size="12">
          <h4>Business Address</h4>
          <ion-text color="medium">
            <p>
              Add your business address that you want to display on all your
              documents
            </p>
          </ion-text>
        </ion-col>
        <ion-col sizeLg="6" size="12">
          <ion-row>
            <ion-col size="12">
              <app-address-search
                (addressData)="updateAddress($event)"
              ></app-address-search>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="Address"
                controlName="address"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="Suburb"
                [optional]="true"
                controlName="suburb"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="State/City"
                controlName="city"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="Zip Code"
                controlName="zip"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="Country"
                controlName="country"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="card-outline mb-3">
        <ion-col sizeLg="6" size="12">
          <h4>Banking Details</h4>
          <ion-text color="medium">
            <p>
              Add your banking details that you want to display on all your
              documents
            </p>
          </ion-text>
        </ion-col>
        <ion-col sizeLg="6" size="12">
          <ion-row>
            <ion-col size="12">
              <app-input-reactive
                title="Bank Name"
                controlName="bankName"
                [optional]="true"
                [form]="form"
              ></app-input-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="Bank Account Number"
                controlName="accountNum"
                [optional]="true"
                type="number"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="Branch Code"
                controlName="branchCode"
                [optional]="true"
                type="number"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="Swift Code"
                controlName="swiftCode"
                [optional]="true"
                type="number"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="card-outline mb-3">
        <ion-col sizeLg="6" size="12">
          <h4>General Information</h4>
          <ion-text color="medium">
            <p>
              Choose your currency aswell as units of meaure that the platform
              and documents will display.
            </p>
          </ion-text>
        </ion-col>
        <ion-col sizeLg="6" size="12">
          <ion-row>
            <ion-col size="12">
              <app-input-select-reactive
                title="Currency"
                controlName="currency"
                [form]="form"
                [selectedText]="field('currency').value.symbol"
              >
                <ion-select-option
                  [value]="currency"
                  *ngFor="let currency of currencies"
                >
                  {{currency.symbol}} - {{currency.name}}
                </ion-select-option>
              </app-input-select-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="Sales Tax %"
                controlName="salesTax"
                type="number"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="VAT %"
                controlName="vat"
                type="number"
                [form]="form"
              >
              </app-input-reactive>
            </ion-col>
            <!-- <ion-col size="12">
              <ion-item class="rounded-3" mode="md">
                <ion-label position="stacked">Unit of Measure</ion-label>
                <ion-select mode='ios' formControlName="measurement">
                  <ion-select-option value="brown">Imperial</ion-select-option>
                  <ion-select-option value="blonde">Metric</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col> -->
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="card-outline mb-3">
        <ion-col sizeLg="6" size="12">
          <h4>Terminology</h4>
          <ion-text color="medium">
            <p>
              Choose your terminology for global names that the platform and
              documents will display.
            </p>
          </ion-text>
        </ion-col>
        <ion-col sizeLg="6" size="12">
          <ion-row formGroupName="terminology">
            <ion-col size="12">
              <app-input-reactive
                title="Term for a Scaffold"
                controlName="scaffold"
                [form]="field('terminology')"
              >
              </app-input-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="Term for a Board"
                controlName="boards"
                [form]="field('terminology')"
              >
              </app-input-reactive>
            </ion-col>
            <ion-col size="12">
              <app-input-reactive
                title="Term for Hire"
                controlName="hire"
                [form]="field('terminology')"
              >
              </app-input-reactive>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="mt-4">
        <ion-progress-bar
          type="indeterminate"
          *ngIf="loading"
        ></ion-progress-bar>

        <ion-col size="12" class="text-end" *ngIf="!loading">
          <ion-button
            shape="round"
            color="success"
            type="submit"
            [disabled]="form.invalid"
            >Save Settings</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ng-template #loadingT>
    <div class="container py-5">
      <ion-row class="card-outline mb-3">
        <ion-col sizeLg="6" size="12">
          <h4>Business Info</h4>
          <ion-text color="medium">
            <p>
              Your business name is displayed across many areas including on
              your all generated documents and messages to clients
            </p>
          </ion-text>
        </ion-col>
        <ion-col sizeLg="6" size="12">
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="card-outline mb-3">
        <ion-col sizeLg="6" size="12">
          <h4>Contact Info</h4>
          <ion-text color="medium">
            <p>
              Add your contact info that you want to display on all your
              documents
            </p>
          </ion-text>
        </ion-col>
        <ion-col sizeLg="6" size="12">
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="card-outline mb-3">
        <ion-col sizeLg="6" size="12">
          <h4>Business Address</h4>
          <ion-text color="medium">
            <p>
              Add your business address that you want to display on all your
              documents
            </p>
          </ion-text>
        </ion-col>
        <ion-col sizeLg="6" size="12">
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="card-outline mb-3">
        <ion-col sizeLg="6" size="12">
          <h4>Banking Details</h4>
          <ion-text color="medium">
            <p>
              Add your banking details that you want to display on all your
              documents
            </p>
          </ion-text>
        </ion-col>
        <ion-col sizeLg="6" size="12">
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="card-outline mb-3">
        <ion-col sizeLg="6" size="12">
          <h4>General Information</h4>
          <ion-text color="medium">
            <p>
              Choose your currency aswell as units of meaure that the platform
              and documents will display.
            </p>
          </ion-text>
        </ion-col>
        <ion-col sizeLg="6" size="12">
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
        </ion-col>
      </ion-row>
    </div>
  </ng-template>
</ion-content>
