<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ estimate.code }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="container">
    <app-estimate-summary
      [value]="estimate"
      [canDownload]="true"
    ></app-estimate-summary>
  </div>
</ion-content>
