<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" color="primary">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Handover</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="ion-padding">
  <ion-grid class="container" *ngIf="company$ | async as company">
    <ion-row class="py-2">
      <ion-col size="12">
        <h3>HANDOVER</h3>
      </ion-col>
      <ion-col>
        <ion-label>
          <h6>Code:</h6>
          <h6>Scaffold Code:</h6>
          <h6>Site Code:</h6>
          <h6>Date Issued:</h6>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <h6>{{ handover.code }}</h6>
          <h6>{{ handover.scaffold.code }}</h6>
          <h6>{{ handover.scaffold.siteCode }}</h6>
          <h6>{{ handover.date | date }}</h6>
        </ion-label>
      </ion-col>
    </ion-row>
    <app-scaffold-editform
      (formResult)="updateScaffold($event)"
    ></app-scaffold-editform>
    <ion-row class="py-2">
      <ion-col class="p-0">
        <table class="table table-bordered mb-3">
          <tbody>
            <tr class="align-middle">
              <td>Maximum load of the scaffold?</td>
              <td class="text-center">
                <ion-radio-group slot="end" [(ngModel)]="handover.maxLoad">
                  <ion-item
                    lines="none"
                    *ngFor="let load of (template$ | async)?.maxLoads"
                  >
                    <ion-label>{{ load }}</ion-label>
                    <ion-radio slot="end" [value]="load" mode="md"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </td>
            </tr>
            <tr class="align-middle">
              <td>Is the scaffold safe for use?</td>
              <td class="text-center">
                <ion-radio-group slot="end" [(ngModel)]="handover.safe">
                  <ion-item lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="end" value="Passed" mode="md"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio slot="end" value="Failed" mode="md"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </td>
            </tr>
            <tr class="align-middle">
              <td>Handover Type?</td>
              <td class="text-center">
                <ion-radio-group slot="end" [(ngModel)]="handover.type">
                  <ion-item lines="none">
                    <ion-label>Erection</ion-label>
                    <ion-radio slot="end" value="Erected" mode="md"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Dismantle</ion-label>
                    <ion-radio
                      slot="end"
                      value="Dismantling"
                      mode="md"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </td>
            </tr>
          </tbody>
        </table>
        <app-input-text
          [textarea]="true"
          title="Notes"
          [optional]="true"
          (fieldChange)="handover.notes = $event"
        ></app-input-text>
      </ion-col>
    </ion-row>
    <ion-row class="mt-5">
      <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
      <ion-col class="text-end" *ngIf="!loading">
        <ion-button
          shape="round"
          color="success"
          *ngIf="customer$ | async as customer"
          [disabled]="
            handover.maxLoad.length === 0 || handover.safe.length === 0
          "
          (click)="create(customer)"
          >Create Handover</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
