<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" color="primary">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Handover</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="ion-padding">
  <ion-grid class="container" *ngIf="company$ | async as company">
    <ion-row class="py-2">
      <ion-col size="12">
        <h3>HANDOVER</h3>
      </ion-col>
      <ion-col>
        <ion-label>
          <h6>Code:</h6>
          <h6>Scaffold Code:</h6>
          <h6>Site Code:</h6>
          <h6>Date Issued:</h6>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <h6>{{ handover.code }}</h6>
          <h6>{{ handover.scaffold.code }}</h6>
          <h6>{{ handover.scaffold.siteCode }}</h6>
          <h6>{{ handover.date | date }}</h6>
        </ion-label>
      </ion-col>
    </ion-row>
    <app-scaffold-editform
      [scaffold]="scaffold"
      (formResult)="updateScaffold($event)"
    ></app-scaffold-editform>
    <ng-container *ngIf="scaffold?.latestHandover">
      <app-title-block>Modification Details</app-title-block>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Modification</th>
            <th>Type of Change</th>
            <th>Description (L x W x H)</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of changes.scaffold; let i = index">
            <tr>
              <td>1</td>
              <td>Scaffold Modification</td>
              <td class="text-capitalize">{{ item.type }}</td>
              <td>
                {{ item.length }}{{ company.measurement.symbol }} x
                {{ item.width }}{{ company.measurement.symbol }} x
                {{ item.height }}{{ company.measurement.symbol }}
              </td>
            </tr>
          </ng-container>
          <ng-container *ngFor="let item of changes.attachments; let i = index">
            <tr>
              <td>
                {{ i + 2 }}
              </td>
              <td>Attachment Modification</td>
              <td class="text-capitalize">{{ item.type }}</td>

              <td>
                {{ item.length }}{{ company.measurement.symbol }} x
                {{ item.width }}{{ company.measurement.symbol }} x
                {{ item.height }}{{ company.measurement.symbol }}
              </td>
            </tr>
          </ng-container>
          <ng-container *ngFor="let item of changes.boards; let i = index">
            <tr>
              <td>
                {{ i + 2 + changes.attachments.length }}
              </td>
              <td>Board Modification</td>
              <td class="text-capitalize">{{ item.type }}</td>

              <td>
                {{ item.length }}{{ company.measurement.symbol }} x
                {{ item.width }}{{ company.measurement.symbol }} - Level
                {{ item.height }}{{ company.measurement.symbol }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
    <app-title-block>Checklist</app-title-block>
    <app-inspection-checklist
      [questions]="questions"
      (list)="updateList($event)"
      *ngIf="template$ | async as questions"
    ></app-inspection-checklist>
    <ion-row class="py-2">
      <ion-col class="p-0">
        <table class="table table-responsive table-bordered mb-3">
          <tbody>
            <tr class="align-middle">
              <td>Maximum load of the scaffold?</td>
              <td class="text-center">
                <ion-radio-group slot="end" [(ngModel)]="handover.maxLoad">
                  <ion-item
                    lines="none"
                    *ngFor="let load of (template$ | async)?.maxLoads"
                  >
                    <ion-label class="text-wrap">{{ load }}</ion-label>
                    <ion-radio slot="end" [value]="load" mode="md"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </td>
            </tr>
            <tr class="align-middle">
              <td>Is the scaffold safe for use?</td>
              <td class="text-center">
                <ion-radio-group slot="end" [(ngModel)]="handover.safe">
                  <ion-item lines="none">
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="end" value="Passed" mode="md"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>No</ion-label>
                    <ion-radio slot="end" value="Failed" mode="md"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </td>
            </tr>
            <!-- <tr class="align-middle">
              <td>Handover Type?</td>
              <td class="text-center">
                <ion-radio-group slot="end" [(ngModel)]="handover.type">
                  <ion-item lines="none">
                    <ion-label>Erection</ion-label>
                    <ion-radio slot="end" value="Erected" mode="md"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Dismantle</ion-label>
                    <ion-radio
                      slot="end"
                      value="Dismantling"
                      mode="md"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </td>
            </tr>
            <tr class="align-middle">
              <td>Erect Percentage</td>
              <td class="text-center">
                <ion-range
                  #ep
                  max="100"
                  min="0"
                  aria-label="Erect Percentage"
                  [pin]="true"
                  [pinFormatter]="pinFormatter"
                  [value]="handover.erectPercentage"
                  (ionChange)="handover.erectPercentage = +ep.value"
                >
                </ion-range>
                <ion-label> {{ handover.erectPercentage }}%</ion-label>
              </td>
            </tr>
            <tr class="align-middle">
              <td>Dismantle Percentage</td>
              <td class="text-center">
                <ion-range
                  #dp
                  max="100"
                  min="0"
                  aria-label="Dismantle Percentage"
                  [pin]="true"
                  [pinFormatter]="pinFormatter"
                  [value]="handover.dismantlePercentage"
                  (ionChange)="handover.dismantlePercentage = +dp.value"
                >
                </ion-range>
                <ion-label> {{ handover.dismantlePercentage }}%</ion-label>
              </td>
            </tr> -->
          </tbody>
        </table>
        <app-input-text
          [textarea]="true"
          title="Notes"
          [optional]="true"
          (fieldChange)="handover.notes = $event"
        ></app-input-text>
      </ion-col>
      <ion-col size="12">
        <app-multiuploader></app-multiuploader>
      </ion-col>
    </ion-row>
    <ion-row class="mt-5">
      <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
      <ion-col class="text-end" *ngIf="!loading">
        <ion-button
          shape="round"
          color="success"
          *ngIf="customer$ | async as customer"
          [disabled]="handover.safe.length === 0"
          (click)="create(customer)"
          >Create Handover</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
