<div lines="none" class="mb-3 text-center">
  <img
    class="m-auto cursor-pointer"
    [src]="url"
    *ngIf="url.length > 0 && !loading; else placeholder"
  />
  <ng-template #placeholder>
    <ion-icon
      *ngIf="!loading"
      class="m-auto cursor-pointer"
      [name]="icon"
      color="medium"
    ></ion-icon>
    <ion-skeleton-text
      *ngIf="loading"
      animated
      class="m-auto rounded-lg"
      style="width: 100px; height: 100px"
    ></ion-skeleton-text>
  </ng-template>
  <div class="text-center mt-1 cursor-pointer" *ngIf="!loading">
    <ion-button fill="clear" (click)="changeImage()"
      ><small>Change Image</small>
    </ion-button>

    <ion-button fill="clear" (click)="removeImage()" *ngIf="url.length > 0"
      ><small>Remove Image</small>
    </ion-button>
  </div>
</div>
