<app-header title="Estimates" btnName="refresh" (updated)="init()"></app-header>
<ion-content fullscreen="true" class="ion-padding">
  <app-header-condensed title="Estimates"></app-header-condensed>
  <app-estimate-table
    [value]="estimates$"
    *ngIf="estimates$ | async else loading"
    (selectedItem)="editEstimate($event)"
  ></app-estimate-table>

  <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addEstimate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-template #loading>
    <div class="ion-padding">
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
    </div>
  </ng-template>
</ion-content>
