<app-header title="Estimates">
  <ion-toolbar>
    <ion-segment
      scrollable
      selectOnFocus="true"
      (ionChange)="segmentChanged($event)"
      [value]="active"
      mode="md"
    >
      <ion-segment-button value="standard">
        <ion-label>Standard Estimates</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bulk">
        <ion-label>Bulk Estimates</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="inventory">
        <ion-label>Inventory Estimates</ion-label>
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>
</app-header>
<ion-content class="ion-padding">
  <ng-container [ngSwitch]="active">
    <ng-container *ngSwitchCase="'standard'">
      <app-estimate-table
        [value]="estimates$"
        *ngIf="estimates$ | async else loading"
        (selectedItem)="editEstimate($event)"
      ></app-estimate-table>
      <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addEstimate()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container>
    <ng-container *ngSwitchCase="'bulk'">
      <app-bulk-estimate-table
        [value]="bulkEstimates$"
        *ngIf="bulkEstimates$ | async else loading"
        (selectedItem)="editBulkEstimate($event)"
      ></app-bulk-estimate-table>
      <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addBulkEstimate()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container>
    <!-- <ng-container *ngSwitchCase="'inventory'">
      <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addInventoryEstimate()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container> -->

    <ng-template #loading>
      <div class="ion-padding">
        <app-skeleton-text></app-skeleton-text>
        <app-skeleton-text></app-skeleton-text>
        <app-skeleton-text></app-skeleton-text>
        <app-skeleton-text></app-skeleton-text>
      </div>
    </ng-template>
  </ng-container>
</ion-content>
