<ion-row class="py-2">
  <ion-col sizeMd="6" size="4">
    <ion-text>
      <h4>Estimate</h4>
    </ion-text>
  </ion-col>
  <ion-col sizeMd="6" size="8" class="text-end">
    <ng-container *ngIf="terms$ | async as terms; else noTerms">
      <ion-chip size="small" (click)="download(terms)" color="primary">
        Download Estimate
      </ion-chip>
      <ion-chip
        size="small"
        (click)="downloadDraft()"
        color="tertiary"
        *ngIf="estimate.status !== 'accepted'"
      >
        Invoice Draft
      </ion-chip>
      <!-- <ion-button
        size="small"
        (click)="share(terms)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="share-social-outline"></ion-icon>&nbsp;Send
      </ion-button> -->
    </ng-container>
    <ng-template #noTerms>
      <ion-chip size="small" (click)="download(null)" color="primary">
        Download Estimate
      </ion-chip>
      <ion-chip
        size="small"
        (click)="downloadDraft()"
        color="tertiary"
        *ngIf="estimate.status !== 'accepted'"
      >
        Invoice Draft
      </ion-chip>
      <!-- <ion-button
        size="small"
        (click)="share(null)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="share-social-outline"></ion-icon>&nbsp;Send
      </ion-button> -->
    </ng-template>
  </ion-col>
  <ion-col size="6">
    <ion-label>
      <h6>Code:</h6>
      <h6>Site Address:</h6>
      <h6>Date Issued:</h6>
    </ion-label>
  </ion-col>
  <ion-col size="6">
    <ion-label>
      <h6>
        {{ estimate.code }}
      </h6>
      <h6>
        {{ estimate.siteName }}
      </h6>
      <h6>
        {{ estimate.date | dateFormat | date }}
      </h6>
    </ion-label>
  </ion-col>
</ion-row>
<ion-item-divider mode="md"></ion-item-divider>

<app-company-info-detail
  [customer]="estimate.customer"
></app-company-info-detail>

<ion-item-divider mode="md"></ion-item-divider>

<ion-row class="py-2">
  <ion-col size="12">
    <ion-label color="medium">
      <h6>Scope of works</h6>
    </ion-label>
  </ion-col>
  <ion-col size="12">
    <p [innerText]="estimate.scope"></p>
  </ion-col>
</ion-row>
<ion-item-divider mode="md"></ion-item-divider>

<ion-row>
  <ion-col>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">Item Code</th>
          <th scope="col">Description</th>
          <th class="text-center" scope="col">Unit</th>
          <th class="text-center" scope="col">Qty</th>
          <th class="text-center" scope="col">Sell Price</th>
          <th class="text-end" scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <!-- ITEMS -->
        <ng-container *ngFor="let item of estimate.items; let i = index">
          <tr class="small align-middle">
            <th class="text-center" scope="row">{{ i + 1 }}</th>
            <td class="text-center">
              {{ item.code }}
            </td>
            <td>
              {{ item.name }}
            </td>
            <td class="text-center">EA</td>
            <td class="text-center">
              {{ item.sellQty }}
            </td>
            <td class="text-center">
              {{ item.sellingCost | number : "0.2-2" }}
            </td>

            <td class="text-end">
              {{ company.currency.symbol }}
              {{ item.totalCost | number : "0.2-2" }}
            </td>
          </tr>
        </ng-container>
      </tbody>
      <!-- FOOTER TOTALS -->
      <tfoot>
        <tr>
          <th class="text-end" colspan="6" scope="col">Subtotal</th>
          <th class="text-end" scope="col">
            {{ company.currency.symbol }}
            {{ estimate.subtotal | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="6" scope="col">
            Discount ({{ estimate.discountPercentage }}%)
          </th>
          <th class="text-end text-danger" scope="col">
            - {{ company.currency.symbol }}
            {{ estimate.discount | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="6" scope="col">Contract Total</th>
          <th class="text-end" scope="col">
            {{ company.currency.symbol }}
            {{ estimate.subtotal - estimate.discount | number : "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.salesTax > 0">
          <th class="text-end" colspan="6" scope="col">
            Sales Tax ({{ company.salesTax }}%)
          </th>
          <th class="text-end" scope="col">
            {{ company.currency.symbol }} {{ estimate.tax | number : "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.vat > 0">
          <th class="text-end" colspan="6" scope="col">
            {{ company?.gst ? "GST" : "VAT" }} ({{ company.vat }}%)
          </th>
          <th class="text-end" scope="col">
            {{ company.currency.symbol }} {{ estimate.vat | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="6" scope="col">Total</th>
          <th class="text-end" scope="col">
            {{ company.currency.symbol }}
            {{ estimate.total | number : "0.2-2" }}
          </th>
        </tr>
      </tfoot>
    </table>
  </ion-col>
  <ng-container *ngIf="showUploads">
    <ion-col size="12">
      <app-title-block> Uploaded Files </app-title-block>
    </ion-col>
    <ion-col
      sizeXl="2"
      sizeLg="3"
      sizeMd="4"
      size="6"
      *ngFor="let file of estimate.uploads; let i = index"
    >
      <app-file-item
        [file]="file"
        [allowDelete]="false"
      ></app-file-item> </ion-col
  ></ng-container>
</ion-row>
