<app-header
  title="Component Types"
  [showMenu]="false"
  [showBack]="true"
  path="/dashboard/settings/templates"
></app-header>

<ion-content fullscreen="true" class="ion-padding">
  <!-- <div class="text-end">
    <input
      style="display: none"
      type="file"
      (change)="onFileChanged($event)"
      #fileInput
    />
    <a
      type="button"
      class="btn btn-success btn-sm rounded-pill me-2"
      (click)="fileInput.click()"
      >Import Data</a
    >
    <a
      *ngIf="sanitizedBlobUrl"
      [href]="sanitizedBlobUrl"
      download="Inventory.json"
      type="button"
      class="btn btn-primary btn-sm rounded-pill"
      (click)="export()"
    >
      Export Data
    </a>
  </div> -->
  <ion-grid class="container" *ngIf="form">
    <form [formGroup]="form">
      <!-- ACCESS CATEGORIES -->
      <ion-row
        formArrayName="categories"
        class="card-outline mb-3"
        *ngFor="let category of categoryForms.controls; let i = index"
      >
        <ion-col size="12">
          <ion-note> Category {{ i + 1 }} </ion-note>
          <ion-chip
            outline
            color="danger"
            class="ion-float-end"
            (click)="deleteCategory(i)"
          >
            <ion-label>Delete</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="12">
          <app-input-reactive
            title="Category"
            controlName="name"
            placeholder="Enter category name"
            [form]="category"
          >
          </app-input-reactive>
        </ion-col>
        <!-- ACCESS ITEMS IN CATEGORY -->
        <ion-col size="12">
          <ion-reorder-group
            (ionItemReorder)="doReorder($event,i)"
            disabled="false"
          >
            <ion-row
              class="m-0 p-0"
              *ngFor="let item of itemForms(i).controls; let j = index"
            >
              <ion-col sizeMd="11.5" size="11">
                <app-input-reactive
                  title="Size {{j + 1}}"
                  margin="m-0"
                  [reorder]="true"
                  [textarea]="true"
                  controlName="size"
                  placeholder="Enter size"
                  [form]="item"
                >
                </app-input-reactive>
              </ion-col>
              <ion-col sizeMd="0.5" size="1" class="m-auto">
                <ion-fab-button
                  size="small"
                  class="m-auto"
                  color="danger"
                  (click)="deleteItem(i,j)"
                >
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-fab-button>
              </ion-col>
            </ion-row>
          </ion-reorder-group>
        </ion-col>
        <ion-col size="12" class="text-center">
          <ion-button
            size="small"
            shape="round"
            fill="outline"
            color="success"
            class="text-capitalize"
            (click)="addItem(i)"
            >Add Size</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-fab-button
            size="small"
            class="m-auto"
            color="success"
            (click)="addCategory()"
          >
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
      <ion-row class="mt-5">
        <ion-progress-bar
          type="indeterminate"
          *ngIf="loading"
        ></ion-progress-bar>
        <ion-col class="text-end" *ngIf="!loading">
          <ion-button
            shape="round"
            color="success"
            [disabled]="form.invalid"
            (click)="update()"
            >Update Template</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
