<ion-row class="py-2">
  <ion-col sizeMd="6" size="4">
    <ion-text>
      <h4>Statement</h4>
    </ion-text>
  </ion-col>
  <ion-col sizeMd="6" size="8" class="text-end">
    <ng-container *ngIf="terms$ | async as terms; else noTerms">
      <ion-button
        size="small"
        (click)="download(terms)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="cloud-download-outline"></ion-icon>&nbsp;Download
      </ion-button>
      <!-- <ion-button
        size="small"
        (click)="share(terms)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="share-social-outline"></ion-icon>&nbsp;Share
      </ion-button> -->
    </ng-container>
    <ng-template #noTerms>
      <ion-button
        size="small"
        (click)="download(null)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="cloud-download-outline"></ion-icon>&nbsp;Download
      </ion-button>
      <!-- <ion-button
        size="small"
        (click)="share(null)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="share-social-outline"></ion-icon>&nbsp;Send
      </ion-button> -->
    </ng-template>
  </ion-col>
  <ion-col size="6">
    <ion-label>
      <h6>Customer:</h6>
      <h6>Start Date:</h6>
      <h6>End Date:</h6>
      <h6>Date Issued:</h6>
    </ion-label>
  </ion-col>
  <ion-col size="6">
    <ion-label>
      <h6>
        {{ statement.customer.name }}
      </h6>

      <h6>
        {{ statement.dates.startDate | date }}
      </h6>
      <h6>
        {{ statement.dates.endDate | date }}
      </h6>
      <h6>
        {{ statement.dates.date | date }}
      </h6>
    </ion-label>
  </ion-col>
</ion-row>
<ion-item-divider mode="md"></ion-item-divider>

<app-company-info-detail
  [customer]="statement.customer"
></app-company-info-detail>

<ion-item-divider mode="md"></ion-item-divider>

<ion-row>
  <ion-col size="12">
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col">Invoice Code</th>
          <th scope="col">Invoice Date</th>
          <th class="text-end" scope="col">Total</th>
          <th class="text-end" scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr class="small" *ngFor="let item of statement.invoices">
          <th scope="row">{{ item.code }}</th>
          <td>{{ item.date | date }}</td>
          <td class="text-end">
            {{ statement.company.currency.symbol
            }}{{ item.total | number: "0.2-2" }}
          </td>
          <td class="text-end">
            {{ statement.company.currency.symbol }}
            {{ item.totalOutstanding | number: "0.2-2" }}
          </td>
        </tr>
      </tbody>
    </table>
  </ion-col>
  <ion-col size="12">
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col">Invoice Code</th>
          <th scope="col">Payment Date</th>
          <th class="text-end" scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr class="small" *ngFor="let item of statement.payments">
          <th scope="row">{{ item.invoiceCode }}</th>
          <td>{{ item.date | date }}</td>
          <td class="text-end">
            {{ statement.company.currency.symbol
            }}{{ item.total | number: "0.2-2" }}
          </td>
        </tr>
      </tbody>
    </table>
  </ion-col>
  <ion-col size="12">
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col">Credit Code</th>
          <th scope="col">Credit Date</th>
          <th class="text-end" scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr class="small" *ngFor="let item of statement.credits">
          <th scope="row">{{ item.code }}</th>
          <td>{{ item.date | date }}</td>
          <td class="text-end">
            {{ statement.company.currency.symbol
            }}{{ item.total | number: "0.2-2" }}
          </td>
        </tr>
      </tbody>
    </table>
  </ion-col>
</ion-row>
