<app-input-text
  title="Name"
  placeholder="Enter name"
  (fieldChange)="name = $event"
></app-input-text>
<div class="text-center">
  <signature-pad class="w-full" [options]="signaturePadOptions"></signature-pad>
</div>
<ion-item lines="none">
  <ion-buttons slot="end">
    <ion-button
      fill="solid"
      shape="round"
      color="danger"
      (click)="clearSignature()"
    >
      Clear
    </ion-button>
    <ion-button
      fill="solid"
      shape="round"
      color="success"
      (click)="savePad()"
      *ngIf="showSave"
    >
      Save
    </ion-button>
  </ion-buttons>
</ion-item>
