<ng-container *ngIf="site$ |async as site">
  <app-header
    title="{{site.code}} "
    [showMenu]="false"
    [showBack]="true"
    path="/dashboard/sites"
    iconName="settings-outline"
    iconColor="primary"
    (updatedIcon)="editSite(site)"
  >
    <ng-container *ngIf="company$ |async as company">
      <ion-toolbar *ngIf="user$ |async as user">
        <ion-segment
          [scrollable]="true"
          (ionChange)="segmentChanged($event)"
          selectOnFocus="true"
          [value]="active"
          mode="md"
        >
          <ion-segment-button value="scaffolds">
            <ion-label>Scaffolds</ion-label>
          </ion-segment-button>
          <ion-segment-button value="register">
            <ion-label>Scaffold Register</ion-label>
          </ion-segment-button>
          <ion-segment-button value="inventory">
            <ion-label>Inventory</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="requests"
            *ngIf="user.permissionsList.includes('Site Requests') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
          >
            <ion-label>Requests</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="deliveries"
            *ngIf="user.permissionsList.includes('Site Deliveries') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
          >
            <ion-label
              >Deliveries
              <ng-container *ngIf="outboundDeliveries$ | async as deliveries">
                <ion-badge
                  shape="round"
                  mode="ios"
                  color="warning"
                  *ngIf="deliveries.length > 0"
                >
                  {{deliveries.length}}
                </ion-badge>
              </ng-container></ion-label
            >
          </ion-segment-button>
          <ion-segment-button
            value="returns"
            *ngIf="user.permissionsList.includes('Site Returns') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
          >
            <ion-label>Returns</ion-label>
          </ion-segment-button>
          <!-- <ion-segment-button
          value="shipments"
          *ngIf="user.role !== 'Supervisor'"
        >
          <ion-label>Billable Shipments</ion-label>
        </ion-segment-button>
        <ion-segment-button value="invoices" *ngIf="user.role !== 'Supervisor'">
          <ion-label>Shipment Invoices</ion-label>
        </ion-segment-button> -->
          <ion-segment-button
            value="paymentApplication"
            *ngIf="(user.permissionsList.includes('Payment Applications') || user.permissionsList.includes('Super Admin') || user.role === 'Owner') && !company?.removeBilling"
          >
            <ion-label>Payment Application</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="uploads"
            *ngIf="user.role !== 'Supervisor'"
          >
            <ion-label>Uploads</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ng-container>
  </app-header>

  <ion-content fullscreen="true" class="ion-padding">
    <ng-container [ngSwitch]="active">
      <div *ngSwitchDefault>
        <ion-item class="text-end" lines="none">
          <ion-badge slot="end" color="primary" mode="ios">Pending</ion-badge>
          <ion-badge slot="end" color="danger" mode="ios"
            >Not safe for use</ion-badge
          >
          <ion-badge slot="end" color="success" mode="ios"
            >Safe for use</ion-badge
          >
        </ion-item>
        <ion-accordion-group
          mode="ios"
          class="rounded-lg overflow-hidden"
          [multiple]="false"
          [value]="['pending']"
        >
          <ion-accordion
            value="pending"
            *ngIf="pendingScaffolds$ | async as pendingScaffolds else loading"
          >
            <ion-item slot="header" color="light">
              <ion-label color="primary"
                >Pending Scaffolds ({{pendingScaffolds.length}})</ion-label
              >
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-scaffold-table
                [value]="pendingScaffolds$"
                [showScaffoldList]="true"
                *ngIf="pendingScaffolds$ | async else loading"
                (selectedItem)="viewScaffold($event)"
              ></app-scaffold-table>
            </div>
          </ion-accordion>
          <ion-accordion
            value="inactive"
            *ngIf="inactiveScaffolds$ | async as inactiveScaffolds else loading"
          >
            <ion-item slot="header" color="light">
              <ion-label color="warning"
                >Inactive Scaffolds ({{inactiveScaffolds.length}})</ion-label
              >
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-scaffold-table
                [value]="inactiveScaffolds$"
                [showScaffoldList]="true"
                *ngIf="inactiveScaffolds$ | async else loading"
                (selectedItem)="viewScaffold($event)"
              ></app-scaffold-table>
            </div>
          </ion-accordion>
          <ion-accordion
            value="active"
            *ngIf="erectedScaffolds$ | async as erectedScaffolds else loading"
          >
            <ion-item slot="header" color="light">
              <ion-label color="success"
                >Erected Scaffolds ({{erectedScaffolds.length}})</ion-label
              >
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-scaffold-table
                [value]="erectedScaffolds$"
                [showScaffoldList]="true"
                *ngIf="erectedScaffolds$ | async else loading"
                (selectedItem)="viewScaffold($event)"
              ></app-scaffold-table>
            </div>
          </ion-accordion>
          <ion-accordion
            value="dismantled"
            *ngIf="dismantledScaffolds$ | async as dismantledScaffolds else loading"
          >
            <ion-item slot="header" color="light">
              <ion-label color="danger"
                >Dismantled Scaffolds
                ({{dismantledScaffolds.length}})</ion-label
              >
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-scaffold-table
                [value]="dismantledScaffolds$"
                [showScaffoldList]="true"
                *ngIf="dismantledScaffolds$ | async else loading"
                (selectedItem)="viewScaffold($event)"
              ></app-scaffold-table>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <ion-fab
          class="m-2"
          vertical="bottom"
          horizontal="end"
          slot="fixed"
          *ngIf="site.status !== 'closed'"
        >
          <ion-fab-button (click)="addScaffold(site)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      <div *ngSwitchCase="'register'">
        <ng-container *ngIf="company$ | async as company">
          <div class="qrcodeImage" [hidden]="true">
            <!-- [imageSrc]="company?.replaceBranding || 'assets/logos/logo.svg'" -->
            <qrcode
              #QRCODE
              [qrdata]="'https://app.cloudscaff.com/viewRegister/'+ids[0]+ids[1]"
              [imageHeight]="75"
              [imageWidth]="75"
              title="SCAFFOLD_REGISTER_{{site.name}}_{{site.code}}"
              [allowEmptyString]="false"
              [elementType]="'canvas'"
              [errorCorrectionLevel]="'H'"
              [margin]="4"
              [scale]="1"
              [width]="300"
            ></qrcode>
          </div>
          <div class="text-end">
            <ion-button
              mode="ios"
              fill="outline"
              size="small"
              shape="round"
              color="tertiary"
              (click)="saveAsImage(QRCODE,site.name+'-'+site.code+'.png')"
            >
              Download QR
              <ion-icon slot="end" name="qr-code-outline"></ion-icon>
            </ion-button></div
        ></ng-container>
        <ion-accordion-group
          mode="ios"
          class="rounded-lg overflow-hidden"
          [multiple]="false"
          [value]="['active']"
        >
          <ion-accordion
            value="active"
            *ngIf="activeScaffolds$ | async as activeScaffolds else loading"
          >
            <ion-item slot="header" color="light">
              <ion-label color="success"
                >Active Scaffolds ({{activeScaffolds.length}})</ion-label
              >
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-scaffold-table
                [value]="activeScaffolds$"
                [showRegister]="true"
                [allowInspection]="true"
                *ngIf="activeScaffolds$ | async else loading"
                (selectedItem)="viewScaffold($event)"
              ></app-scaffold-table>
            </div>
          </ion-accordion>
          <ion-accordion
            value="dismantled"
            *ngIf="dismantledScaffolds$ | async as dismantledScaffolds else loading"
          >
            <ion-item slot="header" color="light">
              <ion-label color="danger"
                >Dismantled Scaffolds
                ({{dismantledScaffolds.length}})</ion-label
              >
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-scaffold-table
                [value]="dismantledScaffolds$"
                [showRegister]="true"
                *ngIf="dismantledScaffolds$ | async else loading"
                (selectedItem)="viewScaffold($event)"
              ></app-scaffold-table>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
      <div *ngSwitchCase="'inventory'">
        <app-site-inventory-table
          [value]="items.items"
          (download)="downloadPDF($event, site)"
          *ngIf="inventoryItems$ | async as items else empty"
        ></app-site-inventory-table>
        <ng-template #empty>
          <app-site-inventory-table [value]="[]"></app-site-inventory-table
        ></ng-template>
      </div>
      <div *ngSwitchCase="'requests'">
        <app-requests-table
          [value]="requests$"
          *ngIf="requests$ | async else loading"
          (selectedItem)="viewRequest($event,site)"
        ></app-requests-table>
        <ion-fab
          class="m-2"
          vertical="bottom"
          horizontal="end"
          slot="fixed"
          *ngIf="site.status !== 'closed'"
        >
          <ion-fab-button (click)="addRequest(site)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      <div *ngSwitchCase="'deliveries'">
        <ion-accordion-group
          mode="ios"
          class="rounded-lg overflow-hidden mb-5"
          [multiple]="true"
          [value]="['outbound']"
        >
          <ion-accordion value="outbound">
            <ion-item slot="header" color="light">
              <ion-label color="warning">Outbound Deliveries</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-shipment-table
                [value]="outboundDeliveries$"
                *ngIf="outboundDeliveries$ | async else loading"
                (selectedItem)="viewShipment($event)"
              ></app-shipment-table>
            </div>
          </ion-accordion>
          <ion-accordion value="sent">
            <ion-item slot="header" color="light">
              <ion-label color="success">Completed Deliveries</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <app-shipment-table
                [value]="deliveries$"
                *ngIf="deliveries$ | async else loading"
                (selectedItem)="viewShipment($event)"
              ></app-shipment-table>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>

      <div *ngSwitchCase="'returns'">
        <app-returns-table
          [value]="returns$"
          *ngIf="returns$ | async else loading"
          (selectedItem)="viewReturn($event,site)"
        ></app-returns-table>
        <ion-fab
          class="m-2"
          vertical="bottom"
          horizontal="end"
          slot="fixed"
          *ngIf="site.status !== 'closed'"
        >
          <ion-fab-button (click)="addReturn(site)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      <div *ngSwitchCase="'shipments'">
        <app-billable-shipments-table
          [value]="billableShipments$"
          *ngIf="billableShipments$ | async else loading"
          (selectedItem)="viewBillableShipment($event)"
        ></app-billable-shipments-table>
      </div>
      <div *ngSwitchCase="'invoices'">
        <app-shipment-invoices-table
          [value]="shipmentInvoices$"
          *ngIf="shipmentInvoices$ | async else loading"
          (selectedItem)="viewShipmentInvoices($event)"
        ></app-shipment-invoices-table>
      </div>
      <div *ngSwitchCase="'paymentApplication'">
        <ng-container
          *ngIf="paymentApplications$ | async as paymentApplications  else loading"
        >
          <app-payment-application-table
            [value]="paymentApplications$"
            (selectedItem)="viewPaymentApplication($event,true)"
          ></app-payment-application-table>
          <ion-fab
            class="m-2"
            vertical="bottom"
            horizontal="end"
            slot="fixed"
            *ngIf="paymentApplications.length <= 0"
          >
            <ion-fab-button
              (click)="addPaymentApplication(true)"
              *ngIf="site.status !== 'closed'"
            >
              <ion-icon name="add"></ion-icon>
            </ion-fab-button> </ion-fab
        ></ng-container>
      </div>
      <div *ngSwitchCase="'uploads'">
        <ion-row>
          <ion-col size="12">
            <app-multiuploader
              [autoupload]="true"
              (uploaded)="setUploads($event,site)"
            ></app-multiuploader>
          </ion-col>
          <ion-col size="12">
            <app-title-block> Uploaded Files </app-title-block>
            <ion-row>
              <ion-col
                size="12"
                *ngFor="let file of site.uploads; let i = index"
              >
                <app-file-item
                  [simplified]="true"
                  [file]="file"
                  [allowDelete]="true"
                  (deleted)="removeUpload(i,site)"
                ></app-file-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
      <ng-template #loading>
        <div class="ion-padding">
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
          <app-skeleton-text></app-skeleton-text>
        </div>
      </ng-template>
    </ng-container>
  </ion-content>
</ng-container>
