<app-header
  title="Users"
  [showMenu]="false"
  [showBack]="true"
  path="/dashboard/settings"
></app-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="users$ | async as users else loading">
    <app-user-table
      [value]="users$"
      (selectedItem)="editUser($event)"
    ></app-user-table>

    <ng-container *ngIf="company$ | async as company">
      <ion-fab
        class="m-2"
        vertical="bottom"
        horizontal="end"
        slot="fixed"
        *ngIf="company?.userLimit ? users.length < company?.userLimit : users.length < 5"
      >
        <ion-fab-button (click)="addUser()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <div class="ion-padding">
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
    </div>
  </ng-template>
</ion-content>
