<app-header
  title="Users"
  [showMenu]="false"
  [showBack]="true"
  path="/dashboard/settings"
></app-header>

<ion-content fullscreen="true" class="ion-padding">
  <app-header-condensed title="Users"></app-header-condensed>
  <app-user-table
    [value]="users$"
    *ngIf="users$ | async else loading"
    (selectedItem)="editUser($event)"
  ></app-user-table>

  <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUser()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-template #loading>
    <div class="ion-padding">
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
    </div>
  </ng-template>
</ion-content>
