<ion-row class="py-2">
  <ion-col sizeMd="6" size="4">
    <ion-text>
      <h4>Estimate</h4>
    </ion-text>
  </ion-col>
  <ion-col sizeMd="6" size="8" class="text-end">
    <ng-container *ngIf="terms$ | async as terms; else noTerms">
      <ion-button
        size="small"
        (click)="download(terms)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="cloud-download-outline"></ion-icon>&nbsp;Download
      </ion-button>
      <ion-button
        size="small"
        (click)="share(terms)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="share-social-outline"></ion-icon>&nbsp;Send
      </ion-button>
    </ng-container>
    <ng-template #noTerms>
      <ion-button
        size="small"
        (click)="download(null)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="cloud-download-outline"></ion-icon>&nbsp;Download
      </ion-button>
      <ion-button
        size="small"
        (click)="share(null)"
        fill="clear"
        color="primary"
      >
        <ion-icon name="share-social-outline"></ion-icon>&nbsp;Send
      </ion-button>
    </ng-template>
  </ion-col>
  <ion-col size="6">
    <ion-label>
      <h6>Code:</h6>
      <h6>Site name:</h6>
      <h6>Date Issued:</h6>
    </ion-label>
  </ion-col>
  <ion-col size="6">
    <ion-label>
      <h6>
        {{ inventoryEstimate.code }}
      </h6>
      <h6>
        {{ inventoryEstimate.siteName }}
      </h6>
      <h6>
        {{ inventoryEstimate.date | date }}
      </h6>
    </ion-label>
  </ion-col>
</ion-row>
<ion-item-divider mode="md"></ion-item-divider>

<app-company-info-detail
  [customer]="inventoryEstimate.customer"
></app-company-info-detail>

<ion-item-divider mode="md"></ion-item-divider>

<ion-row class="py-2">
  <ion-col size="12">
    <ion-label color="medium">
      <h6>Message</h6>
    </ion-label>
  </ion-col>
  <ion-col size="12">
    <p [innerText]="inventoryEstimate.message"></p>
  </ion-col>
</ion-row>
<ion-row *ngFor="let estimate of inventoryEstimate.estimates; let i = index">
  <ion-col size="12">
    <ion-text color="medium"> Shipment {{ i + 1 }} </ion-text>
  </ion-col>
  <ion-col>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th scope="col">
            {{ estimate.startDate | date }} - {{ estimate.endDate | date }}
          </th>
          <th class="text-center" scope="col">Qty</th>
          <th class="text-center" scope="col">Extra Hire</th>
          <th class="text-end" scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="estimate.items.length > 0">
          <th class="text-center" scope="row">1</th>
          <td colspan="4">Items</td>
        </tr>
        <tr class="small" *ngFor="let item of estimate.items; let i = index">
          <th class="text-center" scope="row"></th>
          <td>{{ item.name }}</td>
          <td class="text-center">{{ item.shipmentQty }}</td>
          <td class="text-end"></td>
          <td class="text-end">
            {{ company.currency.symbol }}
            {{ item.totalCost | number: "0.2-2" }}
          </td>
        </tr>
        <!-- LABOR -->
        <tr *ngIf="estimate.labour.length > 0">
          <th class="text-center" scope="row">2</th>
          <td colspan="4">Labor</td>
        </tr>
        <tr class="small" *ngFor="let item of estimate.labour; let i = index">
          <th class="text-center" scope="row"></th>
          <td>{{ item.type.name }} - {{ item.rate.name }}</td>
          <td class="text-center">{{ item.qty }}</td>
          <td class="text-center"></td>
          <td class="text-end">
            {{ company.currency.symbol }} {{ item.total | number: "0.2-2" }}
          </td>
        </tr>
        <!-- TRANSPORT -->
        <ng-container *ngIf="estimate.transport">
          <tr *ngIf="estimate.transport.length > 0">
            <th class="text-center" scope="row">3</th>
            <td colspan="4">Transport</td>
          </tr>
          <tr
            class="small"
            *ngFor="let item of estimate.transport; let i = index"
          >
            <th class="text-center" scope="row"></th>
            <td>
              {{ item.type.name }} - ({{ item.type.maxLoad
              }}{{ company.mass.symbol }})
            </td>
            <td class="text-center">{{ item.qty }}</td>
            <td class="text-end">
              {{ company.currency.symbol }}
              {{ item.extraHire | number: "0.2-2" }}
            </td>
            <td class="text-end">
              {{ company.currency.symbol }} {{ item.total | number: "0.2-2" }}
            </td>
          </tr>
        </ng-container>
        <!-- ADDITIONALS -->
        <tr *ngIf="estimate.additionals.length > 0">
          <th class="text-center" scope="row">4</th>
          <td colspan="4">Additionals</td>
        </tr>
        <tr
          class="small"
          *ngFor="let item of estimate.additionals; let i = index"
        >
          <th class="text-center" scope="row"></th>
          <td>{{ item.name }}</td>
          <td class="text-center">{{ item.qty }}</td>
          <td class="text-end">
            {{ company.currency.symbol }} {{ item.extraHire | number: "0.2-2" }}
          </td>
          <td class="text-end">
            {{ company.currency.symbol }} {{ item.total | number: "0.2-2" }}
          </td>
        </tr>
      </tbody>
      <!-- FOOTER TOTALS -->
      <tfoot>
        <tr>
          <th class="text-end" colspan="3" scope="col">Subtotal</th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{ estimate.subtotal | number: "0.2-2" }}
          </th>
        </tr>
      </tfoot>
    </table>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <table class="table table-bordered">
      <tfoot>
        <tr>
          <th class="text-end" colspan="3" scope="col">Subtotal</th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{ inventoryEstimate.subtotal | number: "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="3" scope="col">
            Discount ({{ inventoryEstimate.discountPercentage }}%)
          </th>
          <th class="text-end text-danger" colspan="2" scope="col">
            - {{ company.currency.symbol }}
            {{ inventoryEstimate.discount | number: "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="3" scope="col">Contract Total</th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{
              inventoryEstimate.subtotal - inventoryEstimate.discount
                | number: "0.2-2"
            }}
          </th>
        </tr>
        <tr *ngIf="company.salesTax > 0">
          <th class="text-end" colspan="3" scope="col">
            Sales Tax ({{ company.salesTax }}%)
          </th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{ inventoryEstimate.tax | number: "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.vat > 0">
          <th class="text-end" colspan="3" scope="col">
            VAT ({{ company.vat }}%)
          </th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{ inventoryEstimate.vat | number: "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="3" scope="col">Total</th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{ inventoryEstimate.total | number: "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="3" scope="col">Extra Hire</th>
          <th class="text-end" colspan="2" scope="col">
            {{ company.currency.symbol }}
            {{ inventoryEstimate.extraHire | number: "0.2-2" }}
          </th>
        </tr>
      </tfoot>
    </table>
  </ion-col>
</ion-row>
