<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? "Update Customer" : "Create Customer" }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="container ion-padding pt-5">
    <app-broker
      *ngIf="!isEdit"
      [company]="company"
      (completed)="close()"
    ></app-broker>
    <app-broker
      *ngIf="isEdit"
      [labour]="broker"
      [company]="company"
      [isEdit]="true"
      [isCreate]="false"
      (completed)="close()"
    ></app-broker>
  </div>
</ion-content>
