<div class="text-end">
  <ion-button
    (click)="download.emit(inventoryItems)"
    mode="ios"
    shape="round"
    fill="outline"
    size="small"
    color="tertiary"
  >
    Download PDF
    <ion-icon slot="end" name="cloud-download-outline"></ion-icon>
  </ion-button>
</div>
<ion-searchbar
  debounce="250"
  mode="ios"
  placeholder="Search by code, category, name or quantities"
  (ionChange)="updateFilter($event)"
>
</ion-searchbar>
<ion-item lines="none" mode="ios">
  <ion-select
    #rows
    slot="start"
    placeholder="7"
    interface="popover"
    [value]="7"
  >
    <ion-select-option value="7">7</ion-select-option>
    <ion-select-option value="10">10</ion-select-option>
    <ion-select-option value="50">50</ion-select-option>
    <ion-select-option value="100">100</ion-select-option>
  </ion-select>
</ion-item>
<ngx-datatable
  class="bootstrap striped rounded-lg"
  [limit]="rows.value"
  [rows]="temp"
  [rowHeight]="50"
  [columnMode]="'force'"
  [sortType]="sortType.multi"
  [headerHeight]="50"
  [footerHeight]="50"
  trackByProp="code"
  [scrollbarH]="true"
>
  <ngx-datatable-column
    name="Code"
    [checkboxable]="false"
  ></ngx-datatable-column>
  <ngx-datatable-column name="Category"></ngx-datatable-column>
  <ngx-datatable-column name="Name"></ngx-datatable-column>
  <ngx-datatable-column
    name="Total Qty"
    prop="availableQty"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column>
  <!-- <ngx-datatable-column
    name="Available Qty"
    cellClass="text-center"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.availableQty - row.inUseQty }}
    </ng-template>
  </ngx-datatable-column> -->
  <!-- <ngx-datatable-column
    name="In Use Qty"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column> -->
  <!-- <ngx-datatable-column
    name="Reserved Qty"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column> -->
  <ngx-datatable-column
    name="Weight"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column>
</ngx-datatable>

<ion-item>
  <ion-label>Total weight</ion-label>
  <ion-label slot="end">{{ inventoryItems | weight }}</ion-label>
</ion-item>
