<ion-searchbar
  debounce="250"
  mode="ios"
  placeholder="Search by email, or role"
  (ionChange)="updateFilter($event)"
>
</ion-searchbar>
<ion-item lines="none" mode="ios">
  <ion-select
    #rows
    slot="start"
    placeholder="7"
    interface="popover"
    [value]="7"
  >
    <ion-select-option value="7">7</ion-select-option>
    <ion-select-option value="10">10</ion-select-option>
    <ion-select-option value="50">50</ion-select-option>
    <ion-select-option value="100">100</ion-select-option>
  </ion-select>
</ion-item>
<ngx-datatable
  class="bootstrap striped rounded-lg"
  [limit]="15"
  [rows]="temp$ | async"
  [rowHeight]="'auto'"
  [columnMode]="'force'"
  [sortType]="sortType.multi"
  [headerHeight]="50"
  [footerHeight]="50"
  [selectionType]="selectionType.single"
  trackByProp="id"
  [scrollbarH]="true"
  (select)="onSelect($event)"
  [selected]="selected"
>
  <ngx-datatable-column name="Profile" prop="thumb">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-avatar mode="ios">
        <img [src]="value ? value : 'assets/icons/user.svg'" alt="image" />
      </ion-avatar>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Name" cellClass="m-auto">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-text>
        <p class="m-0">
          {{ value }}
        </p>
      </ion-text>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Email" cellClass="m-auto">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-text>
        <p class="m-0">
          {{ value }}
        </p>
      </ion-text>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Phone" cellClass="m-auto">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-text>
        <p class="m-0">
          {{ value }}
        </p>
      </ion-text>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Permissions"
    prop="permissionsList"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-text>
        <ion-badge class="m-0"> {{ value ? value.length : 0 }} </ion-badge>
      </ion-text>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
