<app-header
  title="Terms & Conditions"
  [showMenu]="false"
  [showBack]="true"
  path="/dashboard/settings"
></app-header>

<ion-content fullscreen="true">
  <ng-container *ngIf="terms$ | async as termsData">
    <ion-grid class="ion-padding container">
      <ion-row>
        <ng-container *ngIf="company$|async as company">
          <ng-container *ngFor="let term of terms">
            <ion-col
              sizeXl="6"
              size="12"
              *ngIf="removeBilling(company, term.path)"
            >
              <ion-row class="card-outline">
                <ion-col sizeMd="10" size="9">
                  <ion-item color="none">
                    <h4>{{term.title}}</h4>
                  </ion-item>
                  <ion-item lines="none" color="none">
                    <ion-text>
                      <p>{{term.description}}</p>
                    </ion-text>
                  </ion-item>
                </ion-col>
                <ion-col
                  class="m-auto text-center cursor-pointer"
                  sizeMd="2"
                  size="3"
                >
                  <ion-button
                    fill="clear"
                    shape="round"
                    size="large"
                    (click)="editTerms(term.path,termsData)"
                  >
                    <ion-icon
                      slot="icon-only"
                      size="large"
                      name="chevron-forward-outline"
                    ></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-col> </ng-container
        ></ng-container>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
