<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ !isEdit ? "Add Transfer" : "Edit Transfer" }} </ion-title>
    <ion-buttons slot="end">
      <!-- <ion-chip
        (click)="downloadPicklist()"
        mode="ios"
        shape="round"
        size="small"
        color="primary"
      >
        Picklist
      </ion-chip> -->
      <ion-chip
        *ngIf="isEdit && transfer.status !== 'void'"
        (click)="downloadPdf()"
        mode="ios"
        shape="round"
        size="small"
        color="tertiary"
      >
        Transfer Note
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" *ngIf="form">
    <ion-grid>
      <ion-row class="card-outline mb-3">
        <ion-col size="12">
          <ion-text color="medium">
            <h4>Transfer From</h4>
          </ion-text>
        </ion-col>
        <ion-col size="12" *ngIf="transfer.status === 'pending'">
          <ng-container *ngIf="sites$ | async as sites">
            <app-searchable-select
              (click)="selectFrom.open()"
              title="Select Site"
              [data]="sites"
              itemTextField="name"
              itemTextField2="customer.name"
              itemTextField3="code"
              [add]="false"
              (selectedChanged)="changeFromSite($event)"
              #selectFrom
            ></app-searchable-select>
          </ng-container>
        </ion-col>
        <ion-col *ngIf="field('fromSite').value as site">
          <app-input-text
            *ngIf="isEdit"
            title="Site Name"
            [value]="site.name"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Site Code"
            [value]="site.code"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Customer Name"
            [value]="site.customer.name"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Site Address"
            value="{{ site.address }} , {{ site.suburb }} , {{ site.city }}, {{
              site.zip
            }}, {{ site.country }}"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-select-reactive
            title="Job Reference"
            placeholder="Select Job Reference"
            controlName="fromJobReference"
            [form]="form"
            [selectedText]="field('fromJobReference').value"
            (ionChange)="getTransactions($event)"
          >
            <ng-container
              *ngFor="let jr of field('fromSite').value.JobReferenceList"
            >
              <ion-select-option [value]="jr">{{ jr }}</ion-select-option>
            </ng-container>
          </app-input-select-reactive>
        </ion-col>
      </ion-row>
      <ion-row
        class="card-outline mb-3"
        *ngIf="field('fromJobReference').value"
      >
        <ion-col size="12">
          <ion-text color="medium">
            <h4>Transfer To</h4>
          </ion-text>
        </ion-col>
        <ion-col size="12" *ngIf="transfer.status === 'pending'">
          <ng-container *ngIf="sites$ | async as sites">
            <app-searchable-select
              (click)="selectTo.open()"
              title="Select Site"
              [data]="sites"
              itemTextField="name"
              itemTextField2="customer.name"
              itemTextField3="code"
              [add]="false"
              (selectedChanged)="changeToSite($event)"
              #selectTo
            ></app-searchable-select>
          </ng-container>
        </ion-col>
        <ion-col *ngIf="field('toSite').value as site">
          <app-input-text
            *ngIf="isEdit"
            title="Site Name"
            [value]="site.name"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Site Code"
            [value]="site.code"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Customer Name"
            [value]="site.customer.name"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Site Address"
            value="{{ site.address }} , {{ site.suburb }} , {{ site.city }}, {{
              site.zip
            }}, {{ site.country }}"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-select-reactive
            title="Job Reference"
            placeholder="Select Job Reference"
            controlName="toJobReference"
            [form]="form"
            [selectedText]="field('toJobReference').value"
          >
            <ng-container
              *ngFor="let jr of field('toSite').value.JobReferenceList"
            >
              <ion-select-option [value]="jr">{{ jr }}</ion-select-option>
            </ng-container>
          </app-input-select-reactive>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="items.length > 0 && field('toJobReference').value">
        <ion-col size="12">
          <ion-text color="medium">
            <h4>Transfer Information</h4>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <app-input-date
            [form]="form"
            controlName="transferDate"
            title="Transfer Date"
          ></app-input-date>
          <ion-col size="12">
            <app-input-reactive
              title="Notes"
              controlName="notes"
              [form]="form"
              [textarea]="true"
            >
            </app-input-reactive>
          </ion-col>
        </ion-col>
        <ion-col size="6">
          <ion-text color="medium">
            <h4>Inventory Information</h4>
          </ion-text>
        </ion-col>
        <ion-col size="6" class="text-end my-auto align-middle">
          <ion-text color="medium"> <h6>Show all Items</h6> </ion-text>
          <ion-toggle
            [checked]="viewAll === true || searching === true ? true : false"
            (ionChange)="viewAll = !viewAll"
          ></ion-toggle>
        </ion-col>
        <ion-col size="12">
          <ion-searchbar
            debounce="250"
            mode="ios"
            placeholder="Search by code, category or name"
            (ionChange)="search($event)"
          >
          </ion-searchbar
        ></ion-col>
        <ion-col size="12">
          <div class="table-responsive">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">Category</th>
                  <th scope="col">Name</th>
                  <th scope="col" class="text-center">Location</th>
                  <th scope="col" class="text-center">Available Qty</th>
                  <th scope="col" class="text-center">Transfer Qty</th>
                  <!-- <th scope="col" class="text-center">
                    Weight ({{ company.mass.symbol }})
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of items; let i = index">
                  <tr class="align-middle" *ngIf="viewAll; else viewShipment">
                    <th scope="row">{{ item.code }}</th>
                    <td>{{ item.category }}</td>
                    <td>{{ item.name }}</td>
                    <td class="text-center">{{ item?.location }}</td>
                    <td class="text-center">
                      {{ item.balanceQty }}
                    </td>
                    <td class="text-center">
                      <ion-input
                        #qty
                        debounce="200"
                        type="number"
                        [color]="item.error ? 'danger' : 'success'"
                        [clearOnEdit]="true"
                        [value]="item.returnQty"
                        (ionChange)="update($event, item)"
                        [readonly]="transfer.status !== 'pending'"
                      >
                      </ion-input>
                      <ion-label color="danger" *ngIf="item.error">
                        you cannot exceed the available qty
                      </ion-label>
                    </td>
                    <!-- <td class="text-end">
                      {{ +item.returnQty * +item.weight | number }}
                    </td> -->
                  </tr>
                  <ng-template #viewShipment>
                    <tr class="align-middle" *ngIf="item.returnQty > 0">
                      <th scope="row">{{ item.code }}</th>
                      <td>{{ item.category }}</td>
                      <td>{{ item.name }}</td>
                      <td class="text-center">{{ item?.location }}</td>
                      <td class="text-center">{{ item.balanceQty }}</td>
                      <td class="text-center">
                        <ion-input
                          #qty
                          debounce="200"
                          type="number"
                          [color]="item.error ? 'danger' : 'success'"
                          [clearOnEdit]="true"
                          [value]="item.returnQty"
                          (ionChange)="update($event, item)"
                        >
                        </ion-input>
                        <ion-label color="danger" *ngIf="item.error">
                          you cannot exceed the available qty
                        </ion-label>
                      </td>
                      <!-- <td class="text-end">
                        {{ item.returnQty * +item.weight | number }}
                      </td> -->
                    </tr>
                  </ng-template>
                </ng-container>
              </tbody>
            </table>
          </div>
          <!-- <ion-item>
            <ion-label>Total weight</ion-label>
            <ion-label slot="end">
              {{ transfer.items ? (transfer.items | weight : true) : [] }}
            </ion-label>
          </ion-item> -->
        </ion-col>
        <ion-col
          size="12"
          *ngIf="transfer.status !== 'sent' && transfer.status !== 'void'"
        >
          <app-multiuploader></app-multiuploader>
        </ion-col>
        <ion-col size="12">
          <app-title-block> Uploaded Files </app-title-block>
          <ion-row>
            <ion-col
              sizeXl="2"
              sizeLg="3"
              sizeMd="4"
              size="6"
              *ngFor="let file of transfer.uploads; let i = index"
            >
              <app-file-item
                [file]="file"
                [allowDelete]="false"
              ></app-file-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="text-end" *ngIf="loading">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
        </ion-col>
        <ion-col
          size="12"
          class="text-end"
          *ngIf="transfer.status !== 'void' && transfer.status !== 'sent'"
        >
          <ion-button
            shape="round"
            [disabled]="form.invalid || error"
            *ngIf="!isEdit && !loading"
            (click)="createTransfer()"
            >Create Transfer</ion-button
          >
          <ion-button
            shape="round"
            color="danger"
            *ngIf="isEdit && !loading"
            [disabled]="form.invalid || error"
            (click)="updateTransfer('void')"
            >Void Transfer</ion-button
          >
          <ion-button
            shape="round"
            *ngIf="isEdit && !loading"
            color="success"
            [disabled]="form.invalid || error"
            (click)="updateTransfer('sent')"
            >Send Transfer</ion-button
          >
          <ion-button
            shape="round"
            *ngIf="isEdit && !loading && transfer.status === 'pending'"
            [disabled]="form.invalid || error"
            (click)="updateTransfer('pending')"
            >Update Transfer</ion-button
          >
        </ion-col>
        <!-- <ion-col size="12" class="text-end" *ngIf="transfer.status === 'void'">
          <ion-button
            shape="round"
            color="danger"
            *ngIf="isEdit && !loading"
            [disabled]="form.invalid || error"
            (click)="delete()"
            >Delete Transfer</ion-button
          >
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
