<app-header title="Sites" btnName="help" (updated)="help()"></app-header>
<ion-content fullscreen="true" class="ion-padding">
  <!-- <ion-button (click)="update()" expand="block" fill="clear" shape="round">
    update
  </ion-button> -->
  <ng-container *ngIf="company$ | async as company">
    <ng-container *ngIf="company.totalSites > 0">
      <ion-accordion-group
        mode="ios"
        class="rounded-lg overflow-hidden"
        [multiple]="true"
        [value]="['open']"
      >
        <ion-accordion value="open">
          <ion-item slot="header" color="light">
            <ion-label color="success">Active Sites</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-site-table
              [value]="sites$"
              *ngIf="sites$ | async else loading"
              (selectedItem)="viewSite($event)"
            ></app-site-table>
          </div>
        </ion-accordion>
        <ion-accordion value="closed">
          <ion-item slot="header" color="light">
            <ion-label color="danger">Closed Sites</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-site-table
              [value]="closedSites$"
              *ngIf="closedSites$ | async else loading"
              (selectedItem)="viewSite($event)"
            ></app-site-table>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addSite()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container>
    <app-page-placeholder
      *ngIf="company.totalSites === 0 || !company.totalSites"
      title="No Sites?"
      subtitle="Lets get started setting up your first site."
      (clicked)="addSite()"
    ></app-page-placeholder>
  </ng-container>
  <!-- <app-multiuploader (data)="uploadComplete($event)"></app-multiuploader> -->

  <ng-template #loading>
    <div class="ion-padding">
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
    </div>
  </ng-template>
</ion-content>
