<app-header title="Sites" btnName="help" (updated)="help()"></app-header>
<ion-content fullscreen="true" class="ion-padding">
  <!-- <ion-button (click)="update()" expand="block" fill="clear" shape="round">
    update
  </ion-button> -->
  <ion-accordion-group
    mode="ios"
    class="rounded-lg overflow-hidden"
    [multiple]="true"
  >
    <!-- [value]="['open']" -->
    <ion-accordion value="open">
      <ion-item slot="header" color="light">
        <ion-label color="success">Active Sites</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-site-table
          [value]="sites$"
          *ngIf="sites$ | async else loading"
          (selectedItem)="viewSite($event)"
        ></app-site-table>
      </div>
    </ion-accordion>
    <ion-accordion value="closed">
      <ion-item slot="header" color="light">
        <ion-label color="danger">Closed Sites</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-site-table
          [value]="closedSites$"
          *ngIf="closedSites$ | async else loading"
          (selectedItem)="viewSite($event)"
        ></app-site-table>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <div class="mt-3 card-outline">
    <!-- <app-uploader (res)="uploadComplete($event)"></app-uploader> -->
  </div>
  <!-- <ion-row class="text-center" style="height: 100%">
    <ion-col class="m-auto">
      <ion-thumbnail class="mx-auto">
        <ion-img
          class="img-fluid"
          width="100px"
          src="assets/icons/icon-512x512.png"
          alt="logo"
        ></ion-img>
      </ion-thumbnail>
      <div class="mb-5">
        <ion-text color="primary">
          <h1 class="display-1 fw-bold">No Sites?</h1>
        </ion-text>
        <p class="lead">Lets get started setting up your first site.</p>
      </div>
      <ion-button mode="ios" shape="round"> Next </ion-button>
    </ion-col>
  </ion-row> -->
  <ion-fab class="m-2" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addSite()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-template #loading>
    <div class="ion-padding">
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
    </div>
  </ng-template>
</ion-content>
