<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      >Invoice - {{ invoice?.code }}
      <ion-text *ngIf="saving">
        <i class="text-muted fs-6">(Saving...)</i>
      </ion-text></ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-po-summary [value]="invoice.estimate"></app-po-summary>
  <ion-row>
    <ion-col size="12">
      <ion-text color="medium">
        <h4>Billing Date</h4>
      </ion-text>
    </ion-col>

    <ion-col size="12">
      <app-input-text
        title="End Date"
        [value]="invoice.endDate"
        [readonly]="true"
      ></app-input-text>
    </ion-col>
  </ion-row>
  <div class="table-responsive">
    <table class="table table-sm table-bordered">
      <thead>
        <tr class="text-center align-middle">
          <th rowspan="2">Docket</th>
          <th rowspan="2">Item Code</th>
          <th class="text-start" rowspan="2">Description</th>
          <th rowspan="2">Unit</th>
          <th rowspan="2">Qty for Invoice</th>
          <th colspan="3">Actual Qty</th>
          <th colspan="2">Hire Period</th>
          <th rowspan="2">Days</th>
          <th rowspan="2">Months</th>
          <th rowspan="2">Daily Rent Rate</th>
          <th class="text-end" rowspan="2">Amount</th>
        </tr>
        <tr class="text-center align-middle">
          <th>Delivered</th>
          <th>Returned</th>
          <th>Balance</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let transaction of invoice.items">
          <tr
            class="text-center align-middle"
            *ngIf="transaction.transactionType === 'Delivery'"
          >
            <!-- Type (Delivery or Return) -->
            <td>
              <ion-chip color="success" mode="ios">
                <ion-label>{{ transaction.deliveryCode }}</ion-label>
              </ion-chip>
            </td>

            <!-- Item Code -->
            <td>{{ transaction.code }}</td>

            <!-- Description -->
            <td class="text-start">{{ transaction.name }}</td>

            <!-- Unit -->
            <td>EA</td>

            <!-- Qty for Invoice -->
            <td class="fw-bold">{{ transaction.invoiceQty }}</td>

            <!-- Delivered Qty  -->
            <td class="text-success fw-bold">
              {{ transaction.deliveredQty }}
            </td>

            <!-- Returned Qty  -->
            <td class="text-danger fw-bold">
              {{ transaction.returnTotal }}
            </td>

            <!-- Balance Qty (assuming it's the available quantity after deliveries and returns) -->
            <td class="text-warning fw-bold">
              {{ transaction.balanceQty }}
            </td>

            <!-- Start Date (delivery or return date) -->
            <td>
              {{ transaction.invoiceStart.toDate() | date : "dd MMM yy" }}
            </td>

            <!-- End Date (assuming you have endDate field in the transaction) -->
            <td>{{ invoice.endDate | date : "dd MMM yy" }}</td>

            <!-- Days (calculating date difference between deliveryDate and endDate) -->
            <td>
              {{
                transaction.invoiceStart.toDate() | dateDiff : invoice.endDate
              }}
            </td>

            <!-- Months (converting days to months, assuming 30 days per month) -->
            <td>
              {{
                (transaction.invoiceStart.toDate()
                  | dateDiff : invoice.endDate) / 31 | number : "0.2-2"
              }}
            </td>

            <!-- Daily Rent Rate -->
            <td>
              <ion-input
                debounce="300"
                inputmode="numeric"
                [color]="transaction.error ? 'danger' : 'default'"
                [value]="transaction.hireRate"
                (ionBlur)="updateRate($event, transaction)"
                disabled="true"
              ></ion-input>
              <ion-label color="danger" *ngIf="transaction.error">
                Enter a valid rate
              </ion-label>
            </td>

            <!-- Total Amount (qty * rate * days) -->
            <td class="text-end">
              {{ company.currency.symbol }}
              {{
                transaction.invoiceQty *
                  transaction.hireRate *
                  (transaction.invoiceStart.toDate()
                    | dateDiff : invoice.endDate) | number : "0.2-2"
              }}
            </td>
          </tr>
          <tr
            class="text-center align-middle"
            *ngIf="transaction.transactionType === 'Return'"
          >
            <!-- Type (Delivery or Return) -->
            <td>
              <ion-chip color="danger" mode="ios">
                <ion-label>{{ transaction.returnCode }}</ion-label>
              </ion-chip>
            </td>

            <!-- Item Code -->
            <td>{{ transaction.code }}</td>

            <!-- Description -->
            <td class="text-start">{{ transaction.name }}</td>

            <!-- Unit -->
            <td>EA</td>

            <!-- Qty for Invoice -->
            <td class="fw-bold">{{ transaction.invoiceQty }}</td>

            <!-- Delivered Qty  -->
            <td class="text-success fw-bold">
              {{ transaction.deliveredQty }}
            </td>

            <!-- Returned Qty  -->
            <td class="text-danger fw-bold">
              {{ transaction.returnTotal }}
            </td>

            <!-- Balance Qty (assuming it's the available quantity after deliveries and returns) -->
            <td class="text-warning fw-bold">
              {{ transaction.balanceQty }}
            </td>

            <!-- Start Date (delivery or return date) -->
            <td>
              {{ transaction.invoiceStart.toDate() | date : "dd MMM yy" }}
            </td>

            <!-- End Date (assuming you have endDate field in the transaction) -->
            <td>{{ transaction.returnDate.toDate() | date : "dd MMM yy" }}</td>

            <!-- Days (calculating date difference between deliveryDate and endDate) -->
            <td>
              {{
                transaction.invoiceStart.toDate()
                  | dateDiff : transaction.returnDate.toDate() : true
              }}
            </td>

            <!-- Months (converting days to months, assuming 30 days per month) -->
            <td>
              {{
                (transaction.invoiceStart.toDate()
                  | dateDiff : transaction.returnDate.toDate() : true) / 31
                  | number : "0.2-2"
              }}
            </td>

            <!-- Daily Rent Rate -->
            <td>
              <ion-input
                debounce="300"
                inputmode="numeric"
                [color]="transaction.error ? 'danger' : 'default'"
                [value]="transaction.hireRate"
                (ionBlur)="updateRate($event, transaction)"
                disabled="true"
              ></ion-input>
              <ion-label color="danger" *ngIf="transaction.error">
                Enter a valid rate
              </ion-label>
            </td>

            <!-- Total Amount (qty * rate * days) -->
            <td class="text-end">
              {{ company.currency.symbol }}
              {{
                transaction.invoiceQty *
                  transaction.hireRate *
                  (transaction.invoiceStart.toDate()
                    | dateDiff : transaction.returnDate.toDate() : true)
                  | number : "0.2-2"
              }}
            </td>
          </tr>
        </ng-container>
      </tbody>
      <!-- FOOTER TOTALS -->
      <tfoot>
        <tr>
          <th class="text-end" colspan="11" scope="col">Subtotal</th>
          <th class="text-end" colspan="3" scope="col">
            {{ company.currency.symbol }}
            {{ invoice.subtotal | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="11" scope="col">Discount</th>
          <th class="text-end text-danger" colspan="3" scope="col">
            - {{ company.currency.symbol }}
            {{ invoice.discount | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="11" scope="col">Invoice Total</th>
          <th class="text-end" colspan="3" scope="col">
            {{ company.currency.symbol }}
            {{ invoice.subtotal - invoice.discount | number : "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.salesTax > 0">
          <th class="text-end" colspan="11" scope="col">
            Sales Tax ({{ company.salesTax }}%)
          </th>
          <th class="text-end" colspan="3" scope="col">
            {{ company.currency.symbol }} {{ invoice.tax | number : "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.vat > 0">
          <th class="text-end" colspan="11" scope="col">
            {{ company?.gst ? "GST" : "VAT" }} ({{ company.vat }}%)
          </th>
          <th class="text-end" colspan="3" scope="col">
            {{ company.currency.symbol }} {{ invoice.vat | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="11" scope="col">Grand Total</th>
          <th class="text-end" colspan="3" scope="col">
            {{ company.currency.symbol }}
            {{ invoice.total | number : "0.2-2" }}
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</ion-content>
