/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "swiper/scss";
@import "swiper/scss/autoplay";
@import "swiper/scss/keyboard";
@import "swiper/scss/pagination";
@import "swiper/scss/scrollbar";
@import "swiper/scss/zoom";
@import "@ionic/angular/css/ionic-swiper";

@import "./styles-custom-bootstrap.scss";
@import "@swimlane/ngx-datatable/index.css";
@import "@swimlane/ngx-datatable/themes/bootstrap.css";
@import "@swimlane/ngx-datatable/assets/icons.css";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Styles for the scrollbar track */
::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.5rem;
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-track {
  background-color: var(--ion-color-light);
  border-radius: 6px;
}
/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--ion-color-primary-shade);
  border-radius: 6px;
}

.ch-10 {
  width: 10ch !important;
}
.padding {
  --padding-bottom: 3.5rem !important;
}
.datatable-body {
  .datatable-body-row {
    &.active {
      background-color: var(--ion-color-primary-shade) !important;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

ion-modal {
  --border-radius: 10px;
  &.fullscreen {
    --width: 100%;
    --height: 100%;
    --border-radius: 0;
  }
  &.date {
    --background: transparent;
    --backdrop-opacity: 0.3 !important;
  }
  &.accept {
    --backdrop-opacity: 0.3 !important;
  }
}

.rounded-lg {
  border-radius: 0.7rem !important;
}
.rounded-lg-top {
  border-top-left-radius: 2rem !important;
  border-top-right-radius: 2rem !important;
}
.rounded-lg-bottom {
  border-bottom-left-radius: 0.7rem !important;
  border-bottom-right-radius: 0.7rem !important;
}

.card-outline {
  @extend.border;
  @extend.rounded-lg;
  @extend.p-2;
}

table,
tr,
td,
th {
  background-color: transparent !important;
  color: var(--ion-color-dark) !important;
  border-color: var(--ion-color-medium-tint) !important;
}

@include media-breakpoint-up(xs) {
  .accordian-scroll {
    overflow: scroll;
    max-height: 60vh;
  }
}
@include media-breakpoint-up(lg) {
  .accordian-scroll {
    overflow: scroll;
    max-height: 70vh;
  }
}
@include media-breakpoint-up(xl) {
  .accordian-scroll {
    overflow: scroll;
    max-height: 70vh;
  }
}
