@import "../../../global.scss";

ion-card {
  height:100%;
  @extend .border;
  @extend .p-4;
  @extend .hover;
  @extend .rounded-lg;
  @extend .d-grid;
  @extend .align-items-center;
}
.hover {
  transition: transform 0.3s ease, border-color 0.3s ease;
}
.hover:hover {
  transform: scale(1.02);
  cursor: pointer;
  border-color: var(--ion-color-primary) !important;
}

table{
  table-layout: fixed;
}

