<ng-container *ngIf="page === 0">
  <ion-header>
    <ion-toolbar>
      <ion-title>Tutorial </ion-title>
      <ion-button
        slot="end"
        size="small"
        shape="round"
        (click)="page = 1"
        shape="round"
        class="me-4"
        mode="ios"
      >
        Next
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen="true" class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <app-tutorial-gallery></app-tutorial-gallery>
      </ion-col>
      <ion-col size="12" class="text-end">
        <ion-button (click)="page = 1" shape="round"> Next </ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
</ng-container>
<ng-container *ngIf="page === 1">
  <ion-content
    *ngIf="{user: user$ | async , company: company$ | async} as data"
    [ngClass]="data?.user?.needsSetup ? '':'padding'"
  >
    <ng-container
      *ngIf="(data.user !== null && data.company !== null) else loading"
    >
      <app-editprofile
        *ngIf="data.user?.needsSetup else company"
        title="Complete Onboarding - Profile"
      ></app-editprofile>
      <ng-template #company>
        {{next(data,false)}}
        <app-company
          [showBack]="false"
          [showAll]="false"
          title="Complete Onboarding - Business Info"
          (updated)="next(data,true)"
        ></app-company>
      </ng-template>
    </ng-container>
    <ng-template #loading>
      <div class="container ion-padding">
        <app-skeleton-text></app-skeleton-text>
        <app-skeleton-text></app-skeleton-text>
        <app-skeleton-text></app-skeleton-text>
      </div>
    </ng-template>
  </ion-content>
</ng-container>
