<ion-content
  *ngIf="{user: user$ | async , company: company$ | async} as data"
  [ngClass]="data?.user?.needsSetup ? '':'padding'"
>
  <ng-container
    *ngIf="data.user !== null && data.company !== null else loading"
  >
    <app-editprofile
      *ngIf="data.user?.needsSetup else company"
      title="Complete Profile"
    ></app-editprofile>
    <ng-template #company>
      {{next(data,false)}}
      <app-company
        [showBack]="false"
        title="Complete Business Settings"
        (updated)="next(data,true)"
      ></app-company>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <div class="container ion-padding">
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
      <app-skeleton-text></app-skeleton-text>
    </div>
  </ng-template>
</ion-content>
