<ion-content
  *ngIf="{user: user$ | async , company: company$ | async} as data"
  [ngClass]="data?.user?.needsSetup ? 'padding' : ''"
>
  <ng-container
    *ngIf="(data.user !== null && data.company !== null) else loading"
  >
    <app-editprofile
      *ngIf="data.user?.needsSetup else company"
      title="Complete Profile"
    ></app-editprofile>

    <!-- Skip all onboarding steps and go directly to business info -->
    <ng-template #company>
      <app-company
        [showBack]="false"
        [showAll]="false"
        [onboarding]="true"
        title="Complete Business Info"
        (updated)="next(data)"
      ></app-company>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <div class="loading-container">
      <div class="loading-content">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
        <p class="loading-text">Setting up your account...</p>
      </div>
    </div>
  </ng-template>
</ion-content>
