<ion-menu
  contentId="main-content"
  mode="md"
  type="overlay"
  *ngIf="user$ |async as user"
  menuId="home"
>
  <ion-content>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img
          [src]="user.thumb ? user.thumb : 'assets/icons/user.svg'"
          alt="image"
        />
      </ion-avatar>
      <ion-text>
        <h6 class="fw-bold mb-0">{{user.name}}</h6>
        <small class="text-muted">{{user.email}}</small>
      </ion-text>
      <ion-icon
        class="cursor-pointer ms-auto"
        slot="end"
        size="small"
        name="settings-outline"
        (click)="editProfile()"
      ></ion-icon>
    </ion-item>
    <ion-list id="nav-list" class="text-center" *ngIf="user.branches">
      <ion-label color="dark"> <h6>Switch active company</h6> </ion-label>
      <hr />
      <div class="overflow-auto" style="max-height: 100px">
        <ion-menu-toggle auto-hide="false">
          <!-- <ion-button
            *ngIf="branch.id !== user.company"
            size="block"
            shape="round"
            fill="outline"
            color="primary"
            (click)="switch(user.id,branch.id)"
          >
            {{ branch.name }}
          </ion-button> -->
          <ng-container *ngFor="let branch of user.branches">
            <ion-item
              *ngIf="branch.id === user.company"
              lines="none"
              detail="false"
              class="selected"
            >
              <ion-label>{{ branch.name }}</ion-label>
            </ion-item>
          </ng-container>
          <ng-container *ngFor="let branch of user.branches">
            <ion-item
              *ngIf="branch.id !== user.company"
              lines="none"
              detail="false"
              routerDirection="root"
              routerLink="/dashboard/sites"
              (click)="switch(user.id,branch.id)"
            >
              <ion-label>{{ branch.name }}</ion-label>
            </ion-item>
          </ng-container>
        </ion-menu-toggle>
      </div>
    </ion-list>

    <ion-list id="nav-list">
      <ion-menu-toggle auto-hide="false" *ngIf="company$|async as company">
        <ng-container *ngFor="let p of appPages; let i = index">
          <ion-item
            routerDirection="root"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
            *ngIf="(user.permissionsList.includes(p.permission) || user.permissionsList.includes('Super Admin') || user.role === 'Owner' || p.title==='Sites')"
          >
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ng-container>

        <ion-item
          routerDirection="root"
          routerLinkActive="selected"
          routerLink="/dashboard/notifications"
          lines="none"
          detail="false"
        >
          <ion-icon slot="start" name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
          <ion-badge
            color="danger"
            mode="ios"
            *ngIf="notificationFlag$ | async as total"
            >{{total}}</ion-badge
          >
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-list id="labels-list">
      <ion-menu-toggle auto-hide="false">
        <!-- <ion-item
          href="https://billing.stripe.com/p/login/00gaHp4Nkac2gRq8ww"
          target="_blank"
          lines="none"
          detail="false"
        >
          <ion-icon slot="start" name="card-outline"></ion-icon>
          <ion-label>Manage Subscription</ion-label>
        </ion-item> -->
        <ion-item
          routerDirection="root"
          routerLinkActive="selected"
          routerLink="/dashboard/settings/customers"
          [replaceUrl]="true"
          lines="none"
          detail="false"
          *ngIf="user.permissionsList.includes('Settings') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
        >
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-label>Customers</ion-label>
        </ion-item>
        <ion-item
          routerDirection="root"
          routerLinkActive="selected"
          routerLink="/dashboard/settings"
          [replaceUrl]="true"
          lines="none"
          detail="false"
          *ngIf="user.permissionsList.includes('Settings') || user.permissionsList.includes('Super Admin') || user.role === 'Owner'"
        >
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
        <ion-item
          routerDirection="root"
          routerLink="/login"
          lines="none"
          (click)="logout()"
          detail="false"
        >
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <div class="mt-5" id="settings-list">
      <ion-button mode="ios" expand="block" shape="round" (click)="call()">
        Need Help?
      </ion-button>
      <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
      <ion-button
        *ngIf="!loading"
        color="dark"
        mode="ios"
        shape="round"
        expand="block"
        fill="outline"
        (click)="check()"
      >
        Check For Updates
      </ion-button>
    </div>
    <div class="text-center mt-5">
      <p>{{version}}</p>

      <ion-text class="small text-center" *ngIf="company$ |async as company">
        <ion-label class="ion-text-center">
          <small>{{company.id}}</small>
        </ion-label>
      </ion-text>
    </div>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
