<ion-searchbar
  debounce="250"
  mode="ios"
  placeholder="Search by code, category, name or quantities"
  (ionChange)="updateFilter($event)"
>
</ion-searchbar>

<ngx-datatable
  class="bootstrap striped rounded-lg"
  [limit]="15"
  [rows]="temp$ | async"
  [rowHeight]="50"
  [columnMode]="'force'"
  [sortType]="sortType.multi"
  [headerHeight]="50"
  [footerHeight]="50"
  [selectionType]="selectionType.single"
  trackByProp="code"
  [scrollbarH]="true"
  (select)="onSelect($event)"
  [selected]="selected"
>
  <ngx-datatable-column
    name="Code"
    [checkboxable]="false"
  ></ngx-datatable-column>
  <ngx-datatable-column name="Category"></ngx-datatable-column>
  <ngx-datatable-column name="Name"></ngx-datatable-column>
  <ngx-datatable-column
    name="Yard Qty"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="Cross Hire Qty"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="Total Qty"
    prop="availableQty"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="Available Qty"
    cellClass="text-center"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.availableQty - row.inUseQty }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="In Use Qty"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column>
  <!-- <ngx-datatable-column
    name="Reserved Qty"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column> -->
  <ngx-datatable-column
    name="Weight"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="Hire Cost"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="Replacement Cost"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="Selling Cost"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column>
  <ngx-datatable-column name="" headerClass="text-center" [sortable]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-icon
        size="small"
        color="primary"
        name="settings-outline"
        [id]="row.id"
      ></ion-icon>
      <ion-popover
        [trigger]="row.id"
        [dismissOnSelect]="true"
        [showBackdrop]="false"
      >
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false" (click)="edit()">
                <ion-label>Edit</ion-label>
              </ion-item>
              <ion-item [button]="true" [detail]="false" (click)="view()">
                <ion-label>View Locations</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
