<ion-searchbar
  debounce="250"
  mode="ios"
  placeholder="Search by code, category, name or quantities"
  (ionChange)="updateFilter($event)"
>
</ion-searchbar>
<!-- <ion-item lines="none" mode="ios">
  <ion-select
    #rows
    slot="start"
    placeholder="10"
    interface="popover"
    [value]="10"
  >
    <ion-select-option value="10">10</ion-select-option>
    <ion-select-option value="50">50</ion-select-option>
    <ion-select-option value="100">100</ion-select-option>
  </ion-select>
</ion-item> -->
<!-- <div class="text-end">
  <input
    style="display: none"
    type="file"
    accept=".csv"
    (change)="onFileChanged($event)"
    #fileInput
  />
  <a
    type="button"
    class="btn btn-success btn-sm rounded-pill me-2"
    (click)="fileInput.click()"
    >Import Data</a
  >
  <a
    [href]="sanitizedBlobUrl"
    download="Inventory.json"
    type="button"
    class="btn btn-primary btn-sm rounded-pill"
    (click)="export()"
  >
    Export Data
  </a>
  <a
    *ngIf="!isProd"
    type="button"
    class="ms-2 btn btn-danger btn-sm rounded-pill"
    (click)="reset()"
  >
    Reset Data
  </a>
</div> -->

<ngx-datatable
  class="bootstrap striped rounded-lg"
  [rows]="temp$ | async"
  [rowHeight]="'auto'"
  [columnMode]="'force'"
  [sortType]="sortType.multi"
  [headerHeight]="50"
  [footerHeight]="50"
  [selectionType]="selectionType.single"
  trackByProp="id"
  [scrollbarH]="true"
  (select)="onSelect($event)"
  [selected]="selected"
>
  <ngx-datatable-column
    name="#"
    headerClass="text-start"
    cellClass="my-auto"
    [sortable]="false"
    [maxWidth]="50"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-icon
        size="small"
        color="primary"
        name="settings-outline"
        [id]="row.id"
      ></ion-icon>
      <ion-popover
        [trigger]="row.id"
        [dismissOnSelect]="true"
        [showBackdrop]="false"
      >
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false" (click)="edit()">
                <ion-label>Edit</ion-label>
              </ion-item>
              <ion-item
                [button]="true"
                [detail]="false"
                (click)="deleteItem(row)"
                *ngIf="
                  user.role === 'Owner' ||
                  user.permissionsList.includes('Super Admin')
                "
              >
                <ion-label>Delete</ion-label>
              </ion-item>
              <ion-item [button]="true" [detail]="false" (click)="duplicate()">
                <ion-label>Duplicate</ion-label>
              </ion-item>
              <ion-item [button]="true" [detail]="false" (click)="view()">
                <ion-label>View Locations</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Code"
    [checkboxable]="false"
    cellClass="my-auto"
  ></ngx-datatable-column>
  <ngx-datatable-column
    name="Category"
    cellClass="my-auto"
  ></ngx-datatable-column>
  <ngx-datatable-column name="Size" cellClass="my-auto"></ngx-datatable-column>
  <ngx-datatable-column name="Description" prop="name" cellClass="my-auto">
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Location"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Total Qty"
    prop="yardQty"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | number }}
    </ng-template>
  </ngx-datatable-column>
  <!-- <ngx-datatable-column
    name="Cross Hire Qty"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column> -->
  <!-- <ngx-datatable-column
    name="Total Qty"
    prop="availableQty"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column> -->
  <ngx-datatable-column
    name="Available Qty"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row | calculate | number }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="In Use Qty"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | number }}
    </ng-template></ngx-datatable-column
  >
  <ngx-datatable-column
    name="Reserved Qty"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | number }}
    </ng-template></ngx-datatable-column
  >
  <ngx-datatable-column
    name="In Maintenance Qty"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | number }}
    </ng-template></ngx-datatable-column
  >
  <ngx-datatable-column
    name="Damaged Qty"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | number }}
    </ng-template></ngx-datatable-column
  >
  <ngx-datatable-column
    name="Lost Qty"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | number }}
    </ng-template></ngx-datatable-column
  >
  <!-- <ngx-datatable-column
    name="Reserved Qty"
    cellClass="text-center"
    headerClass="text-center"
  ></ngx-datatable-column> -->
  <ngx-datatable-column
    name="Weight"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | number : "0.2-2" }}{{ company?.mass?.symbol }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Total Weight"
    cellClass="text-center my-auto"
    headerClass="text-center"
  >
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ +row.yardQty * +row.weight | number : "0.2-2"
      }}{{ company?.mass?.symbol }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Hire Cost"
    cellClass="text-end my-auto"
    headerClass="text-end"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ company?.currency?.symbol }}{{ value | number : "0.2-2" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Replacement Cost"
    cellClass="text-end my-auto"
    headerClass="text-end"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ company?.currency?.symbol }}{{ value | number : "0.2-2" }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Selling Cost"
    cellClass="text-end my-auto"
    headerClass="text-end"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ company?.currency?.symbol }}{{ value | number : "0.2-2" }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<ion-item>
  <ion-label>Total weight</ion-label>
  <ion-label slot="end">
    {{ itemsBackup ? (itemsBackup | weight) : [] }}
  </ion-label>
</ion-item>
