<ion-content>
  <div class="d-flex justify-content-center bg-primary py-5 px-2">
    <ion-thumbnail>
      <ion-img
        class="img-fluid"
        width="100px"
        src="assets/icons/icon-512x512.png"
        alt="logo"
      ></ion-img>
    </ion-thumbnail>
  </div>
  <ion-row class="container" style="min-height: 80vh">
    <ion-col size="12" class="my-auto text-center">
      <ion-text>
        <h1 class="display-6 fw-bold">Your Cloudscaff trial has ended</h1>
        <p class="my-auto mt-2">
          Your account is currently paused. To continue using your account
          please choose a subscription plan below
        </p>
      </ion-text>
      <ion-button
        *ngIf="company$ | async as company"
        class="mt-3"
        shape="round"
        href="https://buy.stripe.com/3cscOxaMD12qdEIcMO?client_reference_id={{company.id}}"
        target="_blank"
      >
        View Plans
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
