<ion-row class="container mt-5">
  <ion-col size="12">
    <ion-text class="text-center">
      <h1 class="display-6 fw-bold">Your Cloudscaff trial has ended</h1>
      <p class="my-auto my-2">
        Your account is currently paused. To continue using your account please
        choose a subscription plan below
      </p>
    </ion-text>
  </ion-col>
  <ion-col size="12">
    <stripe-pricing-table
      *ngIf="company$ | async as company"
      client-reference-id="{{company.id}}"
      pricing-table-id="prctbl_1NBKilGeP5MK7BRSLe7TnhJv"
      publishable-key="pk_live_51KyEjqGeP5MK7BRSVyrGEtbgWnBeoT7KsHCXzm8akePr0b4uWeXACpvIF55OCFY12KLTvc4QAr7iOAaMjNYFajMB00TAl082S9"
    >
    </stripe-pricing-table>
  </ion-col>
</ion-row>
