<ion-header>
  <ion-toolbar>
    <ion-title> Cloudscaff - Estimate </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="container" *ngIf="estimate$ | async as estimate">
    <ion-row class="py-2">
      <ion-col sizeMd="6" size="4">
        <ion-text>
          <h4>Estimate</h4>
        </ion-text>
      </ion-col>
      <ion-col sizeMd="6" size="8" class="text-end">
        <ion-button
          size="small"
          fill="clear"
          (click)="download(estimate.terms, estimate.estimate,estimate.company)"
          color="primary"
        >
          <ion-icon name="cloud-download-outline"></ion-icon>&nbsp;Download
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-label>
          <h6>Code:</h6>
          <h6>Site name:</h6>
          <h6>Date Issued:</h6>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>
          <h6>{{ estimate.estimate.code }}</h6>
          <h6>{{ estimate.estimate.siteName }}</h6>
          <h6>{{ estimate.estimate.date.toDate() | date }}</h6>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-item-divider mode="md"></ion-item-divider>

    <ion-row class="py-2">
      <ion-col size="12" sizeXl="6">
        <ion-row>
          <ion-col size="12">
            <ion-text color="medium"> To </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>Company:</h6>
              <h6>Email:</h6>
              <h6>Representative:</h6>
              <h6>Contact No:</h6>
              <h6>Registration No:</h6>
              <br />
              <h6>Address:</h6>
            </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>{{ estimate.estimate.customer.name }}</h6>
              <h6>{{ estimate.estimate.customer.email }}</h6>
              <h6>{{ estimate.estimate.customer.rep }}</h6>
              <h6>{{ estimate.estimate.customer.phone }}</h6>
              <h6>{{ estimate.estimate.customer.regNumber }}</h6>
              <br />
              <h6>
                {{ estimate.estimate.customer.address }} <br />
                {{ estimate.estimate.customer.suburb }}<br />{{
                estimate.estimate.customer.city }}<br />{{
                estimate.estimate.customer.zip }}<br />{{
                estimate.estimate.customer.country }}
              </h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" sizeXl="6">
        <ion-row>
          <ion-col size="12">
            <ion-text color="medium"> From </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>Company:</h6>
              <h6>Email:</h6>
              <h6>Representative:</h6>
              <h6>Contact No:</h6>
              <h6>Registration No:</h6>
              <br />
              <h6>Address:</h6>
            </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h6>{{ estimate.company.name }}</h6>
              <h6>{{ estimate.company.email }}</h6>
              <h6>N/A</h6>
              <h6>{{ estimate.company.phone }}</h6>
              <h6>{{ estimate.company.regNumber }}</h6>
              <br />
              <h6>
                {{ estimate.company.address }} <br />
                {{ estimate.company.suburb }}<br />{{ estimate.company.city
                }}<br />{{ estimate.company.zip }}<br />{{
                estimate.company.country }}
              </h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-item-divider mode="md"></ion-item-divider>

    <ion-row class="py-2">
      <ion-col size="12">
        <ion-label color="medium">
          <h6>Message</h6>
        </ion-label>
      </ion-col>
      <ion-col size="12">
        <p [innerText]="estimate.estimate.message"></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center" scope="col">#</th>
              <th scope="col">
                {{ estimate.estimate.scaffold.description ?
                estimate.estimate.scaffold.description : "Description" }}
              </th>
              <th class="text-center" scope="col">Qty</th>
              <th class="text-center" scope="col">Extra Hire</th>
              <th class="text-end" scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-center" scope="row">1</th>
              <td colspan="4">Scaffold Details</td>
            </tr>
            <!-- SCAFFOLD -->
            <tr class="small">
              <th class="text-center" scope="row"></th>
              <td>
                {{ estimate.company.terminology.scaffold }} Level {{
                estimate.estimate.scaffold.level ?
                estimate.estimate.scaffold.level : 0 }} - ({{
                estimate.estimate.scaffold.length }}{{
                estimate.company.measurement.symbol }} x {{
                estimate.estimate.scaffold.width }}{{
                estimate.company.measurement.symbol }} x {{
                estimate.estimate.scaffold.height }}{{
                estimate.company.measurement.symbol }}) {{
                estimate.estimate.scaffold.lifts > 0 ? "(" +
                estimate.estimate.scaffold.lifts + " lifts)" : "" }} {{
                estimate.estimate.scaffold.boardedLifts > 0 ? "(" +
                estimate.estimate.scaffold.boardedLifts + " Boarded lifts)" : ""
                }} - {{ estimate.estimate.scaffold.type }} {{
                estimate.estimate.scaffold.description }}
              </td>
              <td class="text-center">1</td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{
                estimate.estimate.scaffold.extraHire | number: "0.2-2" }}
              </td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{
                estimate.estimate.scaffold.total | number: "0.2-2" }}
              </td>
            </tr>
            <!-- SCAFFOLD ATTACHMENTS -->
            <tr
              class="small"
              *ngFor="let item of estimate.estimate.attachments; let i = index"
            >
              <th class="text-center" scope="row"></th>
              <td>
                {{ estimate.company.terminology.scaffold }} Level {{ item.level
                ? item.level : 0 }} - ({{ item.length }}{{
                estimate.company.measurement.symbol }} x {{ item.width }}{{
                estimate.company.measurement.symbol }} x {{ item.height }}{{
                estimate.company.measurement.symbol }}) {{ item.lifts > 0 ? "("
                + item.lifts + " lifts)" : "" }} {{ item.boardedLifts > 0 ? "("
                + item.boardedLifts + " Boarded lifts)" : "" }} - {{ item.type
                }} {{ item.description }}
              </td>
              <td class="text-center">1</td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{ item.extraHire |
                number: "0.2-2" }}
              </td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{ item.total | number:
                "0.2-2" }}
              </td>
            </tr>
            <!-- BOARDS -->
            <tr
              class="small"
              *ngFor="let item of estimate.estimate.boards; let i = index"
            >
              <th class="text-center" scope="row"></th>
              <td>
                {{ estimate.company.terminology.boards }} - ({{ item.length }}{{
                estimate.company.measurement.symbol }} x {{ item.width }}{{
                estimate.company.measurement.symbol }}) - Level ({{ item.height
                }}{{ estimate.company.measurement.symbol }})
              </td>
              <td class="text-center">{{ item.qty }}</td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{ item.extraHire |
                number: "0.2-2" }}
              </td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{ item.total | number:
                "0.2-2" }}
              </td>
            </tr>
            <!-- HIRE -->
            <tr class="small">
              <th class="text-center" scope="row"></th>
              <td>
                {{ estimate.company.terminology.hire }} - ({{
                estimate.estimate.hire.daysStanding }} {{
                estimate.estimate.hire.isWeeks ? "Weeks" : "Days" }})
              </td>
              <td class="text-center">1</td>
              <td class="text-center"></td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{
                estimate.estimate.hire.total | number: "0.2-2" }}
              </td>
            </tr>
            <!-- LABOR -->
            <tr *ngIf="estimate.estimate.labour.length > 0">
              <th class="text-center" scope="row">2</th>
              <td colspan="4">Labor</td>
            </tr>
            <tr
              class="small"
              *ngFor="let item of estimate.estimate.labour; let i = index"
            >
              <th class="text-center" scope="row"></th>
              <td>{{ item.type.name }} - {{ item.rate.name }}</td>
              <td class="text-center">{{ item.qty }}</td>
              <td class="text-center"></td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{ item.total | number:
                "0.2-2" }}
              </td>
            </tr>
            <!-- TRANSPORT -->
            <tr *ngIf="estimate.estimate.transport.length > 0">
              <th class="text-center" scope="row">3</th>
              <td colspan="4">Transport</td>
            </tr>
            <tr
              class="small"
              *ngFor="let item of estimate.estimate.transport; let i = index"
            >
              <th class="text-center" scope="row"></th>
              <td>
                {{ item.type.name }} - ({{ item.type.maxLoad }}{{
                estimate.company.mass.symbol }})
              </td>
              <td class="text-center">{{ item.qty }}</td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{ item.extraHire |
                number: "0.2-2" }}
              </td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{ item.total | number:
                "0.2-2" }}
              </td>
            </tr>
            <!-- ADDITIONALS -->
            <tr *ngIf="estimate.estimate.additionals.length > 0">
              <th class="text-center" scope="row">4</th>
              <td colspan="4">Additionals</td>
            </tr>
            <tr
              class="small"
              *ngFor="let item of estimate.estimate.additionals; let i = index"
            >
              <th class="text-center" scope="row"></th>
              <td>{{ item.name }}</td>
              <td class="text-center">{{ item.qty }}</td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{ item.extraHire |
                number: "0.2-2" }}
              </td>
              <td class="text-end">
                {{ estimate.company.currency.symbol }} {{ item.total | number:
                "0.2-2" }}
              </td>
            </tr>
          </tbody>
          <!-- FOOTER TOTALS -->
          <tfoot>
            <tr>
              <th class="text-end" colspan="3" scope="col">Subtotal</th>
              <th class="text-end" colspan="2" scope="col">
                {{ estimate.company.currency.symbol }} {{
                estimate.estimate.subtotal | number: "0.2-2" }}
              </th>
            </tr>
            <tr>
              <th class="text-end" colspan="3" scope="col">
                Discount ({{ estimate.estimate.discountPercentage }}%)
              </th>
              <th class="text-end text-danger" colspan="2" scope="col">
                - {{ estimate.company.currency.symbol }} {{
                estimate.estimate.discount | number: "0.2-2" }}
              </th>
            </tr>
            <tr>
              <th class="text-end" colspan="3" scope="col">Contract Total</th>
              <th class="text-end" colspan="2" scope="col">
                {{ estimate.company.currency.symbol }} {{
                estimate.estimate.subtotal - estimate.estimate.discount| number:
                "0.2-2" }}
              </th>
            </tr>
            <tr *ngIf="estimate.company.salesTax > 0">
              <th class="text-end" colspan="3" scope="col">
                Sales Tax ({{ estimate.company.salesTax }}%)
              </th>
              <th class="text-end" colspan="2" scope="col">
                {{ estimate.company.currency.symbol }} {{ estimate.estimate.tax
                | number: "0.2-2" }}
              </th>
            </tr>
            <tr *ngIf="estimate.company.vat > 0">
              <th class="text-end" colspan="3" scope="col">
                {{estimate.company.gst ? "GST" : "VAT"}} ({{
                estimate.company.vat }}%)
              </th>
              <th class="text-end" colspan="2" scope="col">
                {{ estimate.company.currency.symbol }} {{ estimate.estimate.vat
                | number: "0.2-2" }}
              </th>
            </tr>
            <tr>
              <th class="text-end" colspan="3" scope="col">Total</th>
              <th class="text-end" colspan="2" scope="col">
                {{ estimate.company.currency.symbol }} {{
                estimate.estimate.total | number: "0.2-2" }}
              </th>
            </tr>
            <tr>
              <th class="text-end" colspan="3" scope="col">Extra Hire</th>
              <th class="text-end" colspan="2" scope="col">
                {{ estimate.company.currency.symbol }} {{
                estimate.estimate.extraHire | number: "0.2-2" }}
              </th>
            </tr>
          </tfoot>
        </table>
      </ion-col>
      <ion-col size="12">
        <app-title-block> Uploaded Files </app-title-block>
      </ion-col>
      <ion-col
        sizeXl="2"
        sizeLg="3"
        sizeMd="4"
        size="6"
        *ngFor="let file of estimate.estimate.uploads; let i = index"
      >
        <app-file-item [file]="file" [allowDelete]="false"></app-file-item>
      </ion-col>
      <ion-col size="12" *ngIf="requestUpdate">
        <app-input-text
          [textarea]="true"
          title="Message"
          placeholder="Enter your message here"
          (fieldChange)="message = $event"
        ></app-input-text>
      </ion-col>
      <ion-col size="12">
        <ion-checkbox
          [(ngModel)]="estimate.estimate.acceptedTerms"
          [checked]="estimate.estimate.acceptedTerms"
          [disabled]="estimate.approved"
        ></ion-checkbox>
        <ion-label class="ps-2">
          I have read and agree to the terms and conditions of
          {{estimate.company.name}}.
          <ion-text
            class="fw-bold cursor-pointer"
            color="primary"
            (click)="openTerms(estimate.terms.terms)"
          >
            Click to view Terms and Conditions
          </ion-text>
        </ion-label>
      </ion-col>
      <ion-col size="12" class="text-end" *ngIf="!estimate.approved">
        <ion-progress-bar
          type="indeterminate"
          *ngIf="loading"
        ></ion-progress-bar>
        <ion-button
          shape="round"
          color="danger"
          *ngIf="!loading"
          (click)="update('reject',estimate)"
        >
          Reject
        </ion-button>
        <!-- <ion-button
          shape="round"
          color="dark"
          *ngIf="!loading"
          (click)="update('negotiate',estimate)"
        >
          Negotiate
        </ion-button> -->
        <ion-button
          shape="round"
          color="primary"
          *ngIf="!loading"
          (click)="update('update', estimate)"
        >
          Request Update
        </ion-button>
        <ion-button
          shape="round"
          color="success"
          *ngIf="!loading && !requestUpdate"
          (click)="update('approve',estimate)"
          [disabled]="!estimate.estimate.acceptedTerms"
        >
          Approve
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
