<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      >{{ !isEdit ? "Add Request" : "Edit Request" }}
      <ion-text *ngIf="loading">
        <i class="text-muted fs-6">(Saving...)</i>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" *ngIf="form">
    <ion-grid>
      <ion-row class="card-outline mb-3">
        <ion-col size="12">
          <ion-text color="medium">
            <h4>Site Information</h4>
          </ion-text>
        </ion-col>
        <ion-col *ngIf="field('site').value as site">
          <app-input-text
            *ngIf="request.status !== 'pending'"
            title="Site Name"
            [value]="site.name"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Site Code"
            [value]="site.code"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Customer Name"
            [value]="site.customer.name"
            [readonly]="true"
          >
          </app-input-text>
          <app-input-text
            title="Site Address"
            value="{{ site.address }} , {{ site.suburb }} , {{ site.city }}, {{
              site.zip
            }}, {{ site.country }}"
            [readonly]="true"
          >
          </app-input-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-text color="medium">
            <h4>Request Information</h4>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <app-input-date
            [form]="form"
            controlName="startDate"
            title="Start Date"
          ></app-input-date>
        </ion-col>
        <ion-col size="6">
          <app-input-date
            [form]="form"
            controlName="endDate"
            [min]="field('startDate').value"
            title="End Date"
          ></app-input-date>
        </ion-col>
        <ion-col size="6">
          <ion-text color="medium">
            <h4>Inventory Information</h4>
          </ion-text>
        </ion-col>
        <ion-col size="6" class="text-end my-auto align-middle">
          <ion-text color="medium"> <h6>Show all Items</h6> </ion-text>
          <ion-toggle
            [checked]="viewAll === true || searching === true ? true : false"
            (ionChange)="viewAll = !viewAll"
          ></ion-toggle>
        </ion-col>
        <ion-col size="12">
          <ion-searchbar
            debounce="250"
            mode="ios"
            placeholder="Search by code, category or name"
            (ionChange)="search($event)"
          >
          </ion-searchbar
        ></ion-col>
        <ion-col size="12">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <!-- <th scope="col">Category</th> -->
                <th scope="col">Name</th>
                <th scope="col" class="text-center">Available Qty</th>
                <th scope="col" class="text-center">Request Qty</th>
                <th
                  scope="col"
                  class="text-center"
                  *ngIf="
                    isEdit &&
                    (request.status === 'submitted' ||
                      request.status === 'partial shipment')
                  "
                >
                  Deficit
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of items; let i = index">
                <tr class="align-middle" *ngIf="viewAll; else viewShipment">
                  <th scope="row">{{ item.code }}</th>
                  <!-- <td>{{ item.category }}</td> -->
                  <td>{{ item.name }}</td>
                  <td class="text-center">
                    {{ item | calculate }}
                  </td>
                  <td class="text-center">
                    <ion-input
                      #qty
                      debounce="200"
                      type="number"
                      [color]="item.error ? 'warning' : 'success'"
                      [clearOnEdit]="true"
                      [value]="item.shipmentQty"
                      (ionBlur)="autoSave(qty.value, item)"
                      [readonly]="request.status !== 'pending'"
                    >
                    </ion-input>
                    <ion-label color="warning" *ngIf="item.error">
                      you have exceed the available qty
                    </ion-label>
                  </td>
                  <td
                    class="text-center"
                    *ngIf="
                      isEdit &&
                      (request.status === 'submitted' ||
                        request.status === 'partial shipment')
                    "
                  >
                    {{ item | calculate : true }}
                  </td>
                </tr>
                <ng-template #viewShipment>
                  <tr
                    class="align-middle"
                    *ngIf="item.shipmentQty !== null && item.shipmentQty >= 0"
                  >
                    <th scope="row">{{ item.code }}</th>
                    <td>{{ item.name }}</td>
                    <td class="text-center">
                      {{ item | calculate }}
                    </td>
                    <td class="text-center">
                      <ion-input
                        #qty
                        debounce="200"
                        type="number"
                        [color]="item.error ? 'warning' : 'success'"
                        [clearOnEdit]="true"
                        [value]="item.shipmentQty"
                        (ionBlur)="autoSave(qty.value, item)"
                      >
                      </ion-input>
                      <ion-label color="warning" *ngIf="item.error">
                        you have exceed the available qty
                      </ion-label>
                    </td>
                    <td
                      class="text-center"
                      *ngIf="
                        isEdit &&
                        (request.status === 'submitted' ||
                          request.status === 'partial shipment')
                      "
                    >
                      {{ item | calculate : true }}
                    </td>
                  </tr></ng-template
                >
              </ng-container>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          size="12"
          class="text-end"
          *ngIf="request.status !== 'void' && request.status !== 'approved'"
        >
          <ion-progress-bar
            type="indeterminate"
            *ngIf="loading"
          ></ion-progress-bar>
          <ion-button
            shape="round"
            [disabled]="form.invalid"
            *ngIf="!isEdit && !loading"
            (click)="createRequest()"
            >Create Request</ion-button
          >
          <ion-button
            shape="round"
            *ngIf="isEdit && !loading"
            color="danger"
            [disabled]="form.invalid"
            (click)="updateRequest('void')"
            >Void Request</ion-button
          >
          <ion-button
            shape="round"
            *ngIf="
              isEdit &&
              (request.status === 'submitted' ||
                request.status === 'partial shipment') &&
              !loading &&
              allowSend
            "
            color="success"
            [disabled]="form.invalid"
            (click)="approveRequest()"
            >Approve Request</ion-button
          >
          <ion-button
            shape="round"
            *ngIf="
              isEdit && !loading && request.status === 'pending' && !allowSend
            "
            [disabled]="form.invalid"
            (click)="updateRequest('pending')"
            >Update Request</ion-button
          >
          <ion-button
            shape="round"
            color="success"
            *ngIf="
              isEdit && !loading && request.status === 'pending' && !allowSend
            "
            [disabled]="form.invalid"
            (click)="updateRequest('submitted')"
            >Submit Request</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
