<app-company-info-detail
  [customer]="estimate.customer"
></app-company-info-detail>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center" scope="col">#</th>
        <th scope="col">Item Code</th>
        <th scope="col">Description</th>
        <th class="text-center" scope="col">Unit</th>
        <th class="text-center" scope="col">Qty</th>
        <th class="text-center" scope="col">Duration / Months</th>
        <th class="text-center" scope="col">Rent / Month</th>
        <th class="text-end" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <!-- ITEMS -->
      <ng-container *ngFor="let item of estimate.items; let i = index">
        <tr class="small align-middle">
          <th class="text-center" scope="row">{{ i + 1 }}</th>
          <td class="text-center">
            {{ item.code }}
          </td>
          <td>
            {{ item.description }}
            <br />
            <span class="text-danger" *ngIf="item.note"
              >Note: {{ item.note }}</span
            >
          </td>
          <td class="text-center">
            {{ item.unit }}
          </td>
          <td class="text-center">
            {{ item.qty }}
          </td>
          <td class="text-center">
            {{ item.duration }}
          </td>
          <td class="text-center">
            {{ item.rate }}
          </td>
          <td class="text-end">
            {{ company.currency.symbol }}
            {{ item.total | number : "0.2-2" }}
          </td>
        </tr>
      </ng-container>
    </tbody>
    <!-- FOOTER TOTALS -->
    <!-- <tfoot>
        <tr>
          <th class="text-end" colspan="7" scope="col">Subtotal</th>
          <th class="text-end" scope="col">
            {{ company.currency.symbol }}
            {{ estimate.subtotal | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="7" scope="col">
            Discount ({{ estimate.discountPercentage }}%)
          </th>
          <th class="text-end text-danger" scope="col">
            - {{ company.currency.symbol }}
            {{ estimate.discount | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="7" scope="col">Contract Total</th>
          <th class="text-end" scope="col">
            {{ company.currency.symbol }}
            {{ estimate.subtotal - estimate.discount | number : "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.salesTax > 0">
          <th class="text-end" colspan="7" scope="col">
            Sales Tax ({{ company.salesTax }}%)
          </th>
          <th class="text-end" scope="col">
            {{ company.currency.symbol }} {{ estimate.tax | number : "0.2-2" }}
          </th>
        </tr>
        <tr *ngIf="company.vat > 0">
          <th class="text-end" colspan="7" scope="col">
            {{ company?.gst ? "GST" : "VAT" }} ({{ company.vat }}%)
          </th>
          <th class="text-end" scope="col">
            {{ company.currency.symbol }} {{ estimate.vat | number : "0.2-2" }}
          </th>
        </tr>
        <tr>
          <th class="text-end" colspan="7" scope="col">Total</th>
          <th class="text-end" scope="col">
            {{ company.currency.symbol }}
            {{ estimate.total | number : "0.2-2" }}
          </th>
        </tr>
      </tfoot> -->
  </table>
</div>
