<!-- <app-company-info-detail
  [customer]="estimate.customer"
></app-company-info-detail> -->

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="align-middle">
        <th rowspan="2" class="text-center" scope="col">#</th>
        <th rowspan="2" scope="col">Item Code</th>
        <th rowspan="2" scope="col">Description</th>
        <th rowspan="2" class="text-center" scope="col">Unit</th>
        <th rowspan="2" class="text-center" scope="col">Qty</th>
        <th colspan="2" class="text-center" *ngIf="customInvoice">
          Hire Period
        </th>
        <th rowspan="2" class="text-center" scope="col">Duration / Months</th>
        <th rowspan="2" class="text-center" scope="col">Rent / Month</th>
        <th rowspan="2" class="text-end" scope="col">Total</th>
        <th
          rowspan="2"
          class="text-center"
          scope="col"
          *ngIf="customInvoice && !isInvoice"
        >
          Invoice
        </th>
      </tr>
      <tr class="align-middle" *ngIf="customInvoice">
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <!-- ITEMS -->
      <ng-container *ngFor="let item of filteredItems; let i = index">
        <tr class="small align-middle">
          <th class="text-center" scope="row">{{ i + 1 }}</th>
          <td class="text-center">
            {{ item.code }}
          </td>
          <td>
            {{ item.description }}
            <br />
            <span class="text-danger" *ngIf="item.note"
              >Note: {{ item.note }}</span
            >
          </td>
          <td class="text-center">
            {{ item.unit }}
          </td>
          <td class="text-center">
            {{ item.qty }}
          </td>

          <ng-container *ngIf="customInvoice">
            <td>
              {{ item.startDate | date }}
            </td>
            <td>{{ item.endDate | date }}</td>
          </ng-container>

          <td class="text-center">
            {{ item.duration }}
          </td>
          <td class="text-center">
            {{ item.rate }}
          </td>
          <td class="text-end">
            {{ company.currency.symbol }}
            {{ item.total | number : "0.2-2" }}
          </td>
          <td class="text-center" *ngIf="customInvoice && !isInvoice">
            <ion-checkbox
              mode="ios"
              [checked]="item.forInvoice"
              (ionChange)="addToInvoice($event, i)"
            ></ion-checkbox>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
